[2015-01-06 04:33] jdblischak opened #4 "Location of code and data does not agree with lesson 06-cmdline"
The code and the data used in the lesson 06-cmdline have been moved to separate subdirectories. Thus the code as written in the lesson would not be executable. Is your plan to have this layout for the repo only, and then in live workshops have everything in one directory?

I ask because I know that novices struggle with navigating directories (most will have just seen it for the first time in the

[2015-01-06 19:28] abostroem commented on #4
@gvwilson I think this one is for you...

[2015-01-13 23:27] jdblischak commented on #4
Reading through the lesson template guide, I found my issue addressed in the section [Code, Data, and Figures][code]:

1.  This mirrors the layout a scientist would use for actual work.
    However, it may cause novice learners problems.  If a program is
    in `code/a.py`, and contains a reference to a data file
    `../data/b.csv`, then if the user runs the program from the root
    directory us

[2015-01-14 01:31] gvwilson commented on #4
We should optimize for novices - what do you believe the correct
solution for them is?

[2015-01-15 03:11] jdblischak commented on #4
I'm not sure what the best solution is. But after reading the comments on the [blog post][post], it seems that a lot of the concern was making the template suitable for those that develop the lessons. While I also personally like the layout, I know that getting a room full of novices to `cd` back and forth while writing scripts is very difficult. For now, I'd like to try a compromise approach: put

[2015-01-20 23:49] zmughal opened #8 "File `data/swc_bc_coords.csv` is unused"
I can not find a reference to this file anywhere else in the code base.

[2015-01-21 04:11] janetriley opened #9 "Data file is in data subdirectory, numpy.loadtxt fails"
At [line 39 of 01-numpy.md](https://github.com/swcarpentry/python-novice-inflammation/blame/gh-pages/01-numpy.md#L39) , we load our first data file:

`numpy.loadtxt(fname='inflammation-01.csv', delimiter=',')`

The .csv file is in the data directory.  Since I was working from the top level directory, the file wasn't found. I had to change it to:

`numpy.loadtxt(fname='data\inflammation-01.csv', de

[2015-01-21 04:16] janetriley opened #10 "no instructions for starting Python"
There are no instructions for how to start Python. We jump right into `import numpy` in section 1.

I could copy  [the instructions from python-novice-turtles](https://github.com/swcarpentry/python-novice-turtles/blob/gh-pages/01-poly.md) .  Thoughts?

[2015-01-21 14:16] janetriley commented on #10
@abostroem @tbekolay ,  do you prefer to work with an issue first and then a pull request?  It might be more efficient if I make a pull request and submit an issue alongside it.   We'd have something concrete to respond to.

[2015-01-21 14:17] gvwilson commented on #10
So far, people have mostly submitted pull requests as soon as they
thought they had a fix, and discussion has revolved around those -
issues are mostly "I noticed this but I don't know what to do about
it/don't have time to fix it right now".

[2015-01-21 14:49] janetriley commented on #10
I'll submit a PR in the next couple nights.  Please feel free to assign this and #9 to me.

[2015-01-21 16:12] zmughal commented on #4
I only just came across this a week ago, but the [ProjectTemplate](http://projecttemplate.net/) for R seems really nice for both beginners and advanced users. It distills best practices down to just 2 lines:

[code]

I've been contemplating creating something similar for the Perl lesson I'm working on. I would like to remove boilerplate as much as possible. This may be too magical though.

[2015-01-21 16:51] gvwilson commented on #4
Too magical to start with, but @jdblischak may have a different opinion
- John?

[2015-01-21 17:10] jdblischak commented on #4
I think using such a template would be going way too fast for novices. Since they have never programmed before, the most natural thing is to start with everything in the same directory. If by the end of a workshop you have managed to teach novices that they should separate their data files into a subdirectory, I would consider that a win. Two days goes really fast.

Also, the goal is to focus as m

[2015-01-21 19:46] gvwilson commented on #9
You're right, they should load from the sub-directory.
- G

[2015-01-21 20:16] janetriley commented on #9
Thanks. I'll put together a PR in the next couple evenings, and I'll keep an eye out for it in the rest of the tutorial.

[2015-01-22 02:49] rgaiacs opened #12 "Issues at 05-defensive.md"
From https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] Heading at line 41 should be level 2
- [ ] Heading at line 433 should be level 2
- [ ] Heading at line 500 should be level 2
- [ ] Heading at line 524 should be level 2
- [ ] Heading at line 551 should be level 2
- [ ] Heading at line 574 should be level 2
- [ ] Heading at line 605 should be level 2
- [ ] Docu

[2015-01-22 02:53] r-gaia-cs opened #13 "Issues at 03-loop.md"
Fromhttps://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] Document contains heading not specified in the template: For Loops
- [ ] Document contains heading not specified in the template: Lists
- [ ] Document contains heading not specified in the template: Processing Multiple Files
- [ ] The topic page should not have sub-headings outside of special blocks. If a topic

[2015-01-22 02:54] r-gaia-cs opened #14 "Missing files motivation.md, discussion.md and instructors.md"
From https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] The document links to motivation.html, but could not find the expected markdown file /tmp/python/motivation.md
- [ ] The document links to discussion.html, but could not find the expected markdown file /tmp/python/discussion.md
- [ ] The document links to instructors.html, but could not find the expected markd

[2015-01-22 02:56] rgaiacs opened #15 "Issues at 06-cmdline.md"
From https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] Heading at line 56 should be level 2
- [ ] Document contains heading not specified in the template: Command-Line Arguments
- [ ] Document contains heading not specified in the template: Handling Multiple Files
- [ ] Document contains heading not specified in the template: Handling Command-Line Flags
- [ ] Docu

[2015-01-22 02:58] rgaiacs opened #16 "Issues at 02-func.md"
From https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] Heading at line 61 should be level 2
- [ ] Document contains heading not specified in the template: Debugging a Function
- [ ] Document contains heading not specified in the template: Composing Functions
- [ ] Document contains heading not specified in the template: The Call Stack
- [ ] Document contains headi

[2015-01-22 02:59] rgaiacs opened #17 "Issues at 07-errors.md"
From https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] Document contains heading not specified in the template: Syntax Errors
- [ ] Document contains heading not specified in the template: Variable Name Errors
- [ ] Document contains heading not specified in the template: Item Errors
- [ ] Document contains heading not specified in the template: File Errors
- [ ]

[2015-01-22 03:00] rgaiacs opened #18 "Issues at 04-cond.md"
From https://github.com/swcarpentry/lesson-template/blob/gh-pages/tools/check.py:

- [ ] Document contains heading not specified in the template: Image Grids
- [ ] Document contains heading not specified in the template: Conditionals
- [ ] Document contains heading not specified in the template: Nesting
- [ ] Document contains heading not specified in the template: Creating a Heat Map
- [ ] The to

[2015-01-22 03:47] janetriley commented on #16
@r-gaia-cs, to fix this issue means
* split the topic into multiple topics, one per subheading;
* create a lesson objective for each topic;
* follow the [dd-slug.md filename convention](https://github.com/swcarpentry/lesson-template/blob/gh-pages/LAYOUT.md#pages); and
* renumber the existing topics

Does that cover everything?

To minimize renumbering, these issues should probably be tackled in or

[2015-01-22 10:39] r-gaia-cs commented on #16
@janetriley Thanks for the reply.

**Yes**. If you are going to work on this, **please**, assignee it to yourself and will be great if you could contact @abostroem and @tbekolay since they could give you some suggestions on the split.

[2015-01-22 12:55] janetriley commented on #16
@r-gaia-cs, I don't have permissions in this repo to assign issues.  If you'd be so kind, I'll take this one on.

[2015-01-22 13:14] r-gaia-cs commented on #16
OK.

I can only assignee it to you if you are member of the Developers team. @gvwilson Could you add @janetriley to the Developers team?

[2015-01-22 16:31] zmughal commented on #4
OK, I see. Thanks for the advice!

[2015-01-22 16:33] jdblischak commented on #4
No problem. Good luck!

[2015-01-22 17:36] zmughal opened #20 "Figure numbering for figure captions"
Since Pandoc can generate figure captions for images, it would be nice to be able to use figure numbering to refer to figures from the text (Figure 1, Figure 2, etc.). Currently, the figure captions are escaped by using the `<backslash><white-space>` syntax.

This is currently not possible directly in Pandoc, but there are some [solutions discussed](https://github.com/swcarpentry/python-novice-inf

[2015-01-22 17:37] gvwilson commented on #20
Has this one been filed on
https://github.com/swcarpentry/lesson-template ?  If not, could you please ?

[2015-01-22 18:06] r-gaia-cs commented on #20
@zmughal Thanks for filed this issue and the one at https://github.com/swcarpentry/lesson-template. Are you OK to close this one to keep the conversation on https://github.com/swcarpentry/lesson-template/issues/138?

[2015-01-22 18:07] zmughal commented on #20
Yeah, I'll close it.

[2015-01-22 18:07] #20 closed

[2015-01-22 20:14] janetriley commented on #16
All set!  Thanks, @gvwilson.

[2015-01-23 14:56] janetriley commented on #16
Here's [my work in progress](https://github.com/janetriley/python-novice-inflammation/tree/break-up-lesson2) I broke each topic out into a separate file, renamed the subtopic in the header, and distributed  the objectives and chalelnges among them. For this draft I've named the files to 02-[n]topic-name .  They'll be renumbered properly in the final version.

 @abostroem @tbekolay @gvwilson  Befor

[2015-01-23 15:28] r-gaia-cs commented on #16
@janetriley Thanks for your work.

My only suggestion is join `02-1functions.md` and `02-3composing.md`. Is better not split the "**why** we should divide programs into small parts" of the "**how** we should divide programs into small parts".

You will need to change the value of `minutes` at the YAML header. I believe that 10 minutes will be OK.

And you also will need to make changes on `index.m

[2015-01-26 00:02] janetriley commented on #16
Please see [pull request #22](https://github.com/swcarpentry/python-novice-inflammation/pull/22).

[2015-02-02 21:24] tbekolay commented on #8
I can't find any references to it either! I made #24 to remove it. Thanks @zmughal!

[2015-02-02 21:24] #8 closed

[2015-02-02 21:47] tbekolay commented on #10
@janetriley, if a PR would be a lot of work and it might be controversial, then I think an issue first makes a lot of sense. If the PR is approximately as much work as making an issue for it, then I say go ahead and make the PR with no associated issue -- the PR acts as the issue in this case, as we can make comments on the PR as we do an issue.

I think the reason we don't talk about how to start

[2015-02-14 00:50] #14 closed

[2015-02-17 02:42] theboocock opened #45 "Command-line section."
Using the sys module for the command-line is a little bit messy. I think it would be better to use the more powerful, and scalable command-line parser.

https://docs.python.org/2.7/library/argparse.html

I could rewrite the lesson to use this library if people think this is a good idea.

[2015-02-17 02:45] gvwilson commented on #45
`argparse` and the like are out of reach of our beginners, but a pointer
in `discussion.md` would be welcome.

[2015-02-17 03:18] smilefreak commented on #45
I am not so sure, I personally find the sys arguments confusing, and bug-inducing. One reason is that everything has to be in the exact position, you cannot switch the arguments order as some may have realised is possible with all the shell commands earlier in the course.

Also, the lesson also has an unconventional use of the --argument.

The options --max, --mean, and --min, should maybe be flag

[2015-02-17 06:56] vahtras commented on #45
I do not think that it is an 'either/or' situation. I believe that the first introduction should be using the sys module. I still use that for quick and dirty scripts, mainly because I can never remember the correct syntax for argparse without looking up the documentation. On the other hand when the script grows and you have more than a few number of options or arguments, the sys module approach b

[2015-02-21 17:10] karinlag opened #46 "What is wrong with the inflammation data?"
I am preparing for teaching next week, and I have some questions:

1. Throughout the lesson, it is indicated that there is something wrong with the data. I have yet to figure out what exactly the problem is?

2. A more teaching technical thing: in 02 Checking our data, it is indicated that you can stuff the shown if statement into the for loop shown in 01 Processing multiple files. Do people do th

[2015-02-22 21:08] kynan commented on #45
I agree that starting with `sys.argv` makes sense and is not unrealistic for very simple use cases. However I'm not convinced `argparse` is way out of reach, as argued by @smilefreak. In fact it is a good exercise for reading and applying the docs.

I wouldn't introduce 3rd party libraries though @vahtras.

[2015-02-25 17:34] gvwilson commented on #46
Hi Karin,

#3 is right - the data is synthetic (see tools/gen-inflammation.py), and
as soon as you plot min/max, you can see the ramp and staircase.
Learners get excited when we start talking about detecting fraud :-)

Cheers,
Greg

On 2015-02-21 12:10 PM, karinlag wrote:

--
Dr. Greg Wilson    | gvwilson@software-carpentry.org
Software Carpentry | http://software-carpentry.org

[2015-02-28 10:27] rgaiacs opened #48 "Improve consistency of teaching flow"
@moorepants and @zonca [reported](http://software-carpentry.org/blog/2015/02/instructor-debriefing-2015-02-24.html) that

[2015-02-28 19:50] abostroem commented on #48
@r-gaia-cs are the other issues listed somewhere? Can you either point me to them or elaborate?

[2015-03-01 03:25] r-gaia-cs commented on #48
@moorepants and @zonca could you elaborate the others issues that you find? Thanks in advance.

[2015-03-01 19:04] janetriley commented on #13
Please see my pull request at https://github.com/swcarpentry/python-novice-inflammation/pull/50 .

[2015-03-02 16:25] zonca commented on #48
thank you @r-gaia-cs , @abostroem, other issue are mainly formatting:

* output in defining default: http://swcarpentry.github.io/python-novice-inflammation/06-func.html
* some FIXME at the end of: http://swcarpentry.github.io/python-novice-inflammation/03-lists.html

[2015-03-02 16:29] zonca opened #51 "Point to code location in "Errors and exceptions""
The `errors_01.py` and `errors_02.py` modules for the lesson on "Errors and exceptions" are available in the `code/` folder:

https://github.com/swcarpentry/python-novice-inflammation/blob/d79d0440540a30d7e839f82e370412e595e3549d/code/errors-01.py

We might point to them in the lesson so people can find them.

[2015-04-08 06:39] BernhardKonrad opened #60 "Add link to data files?"
I'm not sure of the intention of the html version, but wouldn't it make sense include a direct link to the csv data files? That way students can work on this tutorial at their own pace without having to clone the repository?
See also #9.

[2015-04-08 11:59] r-gaia-cs commented on #9
@janetriley Can you send a pull request with https://github.com/janetriley/python-novice-inflammation/commit/f0e7728ad9a12c0b1bcf4c84c950985808edcdcb? If you prefer we can do that for you.

[2015-04-08 12:03] r-gaia-cs commented on #60
Because we use GitHub Pages to host the HTML version and GitHub Pages can't compile Markdown using Pandoc.

Yes. I thought that I did fixed it once but couldn't find the commit. =(

+1

[2015-04-08 15:19] iglpdc commented on #60
What I do usually to avoid the students having to clone the repo is to make a zip with the files needed in each lesson and put a link in the workshop website (see [here](http://iglpdc.github.io/2015-04-01-wcmc/), at the end of the "General info" section). Maybe we could provide a script that makes the zip and adds the links, so it's faster if the instructor needs/wants to do it.In my experience, s

[2015-04-08 16:37] wking commented on #9
On Wed, Apr 08, 2015 at 04:59:43AM -0700, Raniere Silva wrote:

It looks like there are forward slashes in that commit, but the
original post here claims a backslash (presumably for Windows).
Personally, I'd use os.path.join(…) to get the path, but I'm ok
hard-coding the forward slash if we know it will also work on Windows.

[2015-04-08 16:54] wking commented on #60
On Wed, Apr 08, 2015 at 08:19:36AM -0700, Ivan Gonzalez wrote:

You can create a Git repository and have GitHub (or whatever hosting
site) build the zip automatically.  For example, see
efran/2015-04-09-UW#16, [1], and [2].  We're not taking this route for
UW, but I still think it's the best-of-both-worlds approach.

[1]: https://github.com/wking/2015-04-09-UW-data
[2]: https://github.com/wking/20

[2015-04-09 05:22] BernhardKonrad commented on #60
Thank you for these answers. You are right, for workshops the instructor can always provide alternative ways (git clone or zip download). Making this easier and more obvious for instructors may be worthwhile in its own right.

I was more thinking about the use of the lecture material outside or after a workshop as a learning resource. For starters, maybe a link to the corresponding `data` folder w

[2015-04-09 19:38] wking commented on #60
On Wed, Apr 08, 2015 at 10:22:53PM -0700, Bernhard Konrad wrote:

I'd still stick with something that could be cloned or downloaded as a
zip.  For example, folks following the shell lesson (or anyone with a
lot of data files) won't want to download them one by one from
GitHub's tree browser.

[2015-04-14 16:15] janetriley commented on #9
@r-gaia-cs, there were several conflicts from unrelated changes.  It will take less time to do it off a fresh copy of gh-pages.

[2015-04-14 16:46] janetriley commented on #9
@wking - hadn't thought about Windows, and don't have a Windows environment to test with.  Good catch.

This will mean changing the lesson in 1_numpy.html . Can we work out a draft here before I implement it?  I'm navigating between providing enough explanation so it's not magic, yet not getting sidetracked into a big mini-lesson about operating system compatibility and file separators.

Here's th

[2015-04-18 03:52] DamienIrving opened #63 "Perhaps we shouldn't have readings-01.py, readings-02.py etc?"
Every time I read the command line lesson (`08-cmdline.html`), the files `readings-01.py`, `readings-02.py`, etc make me very uncomfortable, because that type of file naming behavior is exactly what we are trying to avoid by teaching version control.

I think the solution to this problem comes from the very beginning of the lesson, which reads:

We could take a similar approach to the rest of the

[2015-04-18 04:03] wking commented on #63
On Fri, Apr 17, 2015 at 08:52:20PM -0700, Damien Irving wrote:

I like the idea, and if we could always count on folks learning Git
(or some other VCS) before they hit this lesson, I'd just put the
readings.py in a little repository of its own.  But since some folks
teach Python before Git (or another VCS), and some don't even teach
VCSes at all (some Data Carpentry stuff?), I'm a bit concerned ab

[2015-04-18 04:09] DamienIrving commented on #63
@wking Totally agree that most people (including myself) teach python before git, so I definitely don't think we should go down the route of having a version controlled copy of `readings.py`. I'm simply proposing your number (3) - we (and I'm happy to do this and submit a PR) simply edit the notes to say that we are making successive edits to `readings.py`, as opposed to having separate files for

[2015-04-18 18:26] wking commented on #63
On Fri, Apr 17, 2015 at 09:09:19PM -0700, Damien Irving wrote:

Right.  I was just laying out the alternatives and their relative pros
and cons (as I see them).  As I said in that comment, I think (3) is a
bit less clear for folks who haven't learned about version control
yet, but it's a great opportunity for folks who *have* learned about
version control to use their knew knowledge.  So I think a

[2015-04-18 18:40] wking commented on #9
On Tue, Apr 14, 2015 at 09:46:16AM -0700, Janet Riley wrote:

I think our convention is “Unix” not “UNIX”:

  $ git grep Unix origin/gh-pages | wc -l
  8
  $ git grep UNIX origin/gh-pages | wc -l
  0

Which matches Wikipedia when not referring to the trademarked term
[1].

And since Apple finally dropped their OS 9 colon separators (maybe in
2002 [2]?), for major systems it's just Windows (backsla

[2015-04-19 11:48] kynan commented on #63
Agreed that this is a good opportunity to rehash version control if/where appropriate. And if not, a 2 line change to a file is probably straightforward enough to not warrant an extra copy even when not using a VCS.

[2015-04-19 11:51] gvwilson commented on #63
I'm -1 on anything more than a brief mention of version control in a
callout box in our Python lesson until after Version 5.3 ships and we
re-think ordering.

[2015-04-19 11:55] kynan commented on #63
I wouldn't mention VCS in the text. The instructors can do that orally if appropriate.

[2015-04-20 05:11] wking commented on #63
On Sun, Apr 19, 2015 at 04:55:05AM -0700, Florian Rathgeber wrote:

+1

[2015-04-20 06:59] abostroem commented on #63
I'd love some more comments from people who've taught this recently. Is the suggested code by @DamienIrving at an appropriate level for your students? Too complicated? Just right?

[2015-04-20 07:06] DamienIrving commented on #63
@abostroem I think this conversation is getting a little confused about exactly what I was suggesting. All I want to do is remove the `readings-01.py`, `readings-02.py`, etc files from the code directory because it is suggestive of a workflow that we don't want to promote. The actual content of the lesson won't change at all. To make myself more explicit, I'm thinking I'll just submit a PR with th

[2015-04-20 07:09] abostroem commented on #4
We are currently starting with the lessons in the central directory and only asking students to cd in later lessons. Is this a fair compromise between being easy for beginners and well organized for developers (and students future selves?)

[2015-04-20 07:10] abostroem commented on #63
@DamienIrving Your suggestion is to modify the reading-01.py file in place (and maybe indicate this in the instructions somewhere) rather than create a new file?

[2015-04-20 07:13] DamienIrving commented on #63
@abostroem Exactly (and yes to indicating in the instructions). I have no intention of mentioning version control in this lesson - I just want to avoid exposure to the poor naming convention because that is inconsistent with what we teach in the version control lesson.

[2015-04-20 07:16] DamienIrving commented on #63
A nice little addition would be to highlight the changes from one in place edit to the next (e.g. new text in bold), however I have no idea how to make text bold within a block of `markdown code`.

[2015-04-20 07:17] abostroem commented on #63
Sounds good to me. Go ahead and make the changes to the file structure and instructions. My only concern is that it is clear where and what we are changing with each iteration.

[2015-04-20 07:20] DamienIrving commented on #63
Yeah, that's my concern too. `readings.py` is fairly short, so hopefully with some edits to the supporting text the changes will be obvious. If not, you can always just reject my PR :-)

[2015-04-20 19:36] tbekolay commented on #46
Seems like this discussion should be added to `instructors.md`. If anyone's keen, assign yourself this issue; otherwise, I'll get to it before the 5.3 release.

[2015-04-25 15:10] janetriley commented on #9
Given @wking's comment:
*At the 2015-04-09-UW workshops we just had folks launch
   Jupyter/IPython from the data directory, so there was no need to
   reach into subdirectories right off the bat.  This was how I read
   @gvwilson's suggestion*

and @gvwilson's comment,
*You're right, they should load from the sub-directory.*

this ticket is a non-issue.  The workshop practice is to start from the

[2015-04-25 15:10] #9 closed

[2015-04-25 15:15] janetriley commented on #13
@r-gaia-cs, my pull request was merged. This ticket may be closed.

[2015-04-25 18:47] janetriley opened #68 "Blank lines in Multiple Files lesson break indentation"
In "Analyzing Data from Multiple Files"  [python-novice-inflammation/04-files.md line 52](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/04-files.md#L52)  there's a long script for looping through files and showing three plots.

The script includes blank lines for readability.  The blanks mess up the indentation when the script is run in ipython.  The for loop prints three

[2015-04-25 20:08] janetriley opened #70 "comparison operator typo in conditionals lesson (with fix)"
In

[code]

The first elif should be `==`

[Pull request for fix is here.] (https://github.com/swcarpentry/python-novice-inflammation/pull/71)

[2015-04-26 00:01] janetriley opened #72 "Tuples and Exchanges challenge throws an error (with fix)"
In [05-cond.md](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/05-cond.md), this section:

[code]

produces this error:

[code]

`left` and `right` should be initialized to prevent the error.

[Pull request here](https://github.com/swcarpentry/python-novice-inflammation/pull/73).

[2015-04-26 21:26] r-gaia-cs commented on #13
@janetriley Thanks for the pull request and sorry for not followed it.

[2015-04-26 21:26] #13 closed

[2015-04-29 12:30] tbekolay commented on #68
Can you be a bit more specific about what breaks in IPython? I feel that these blank lines are important for readability. It's true that they make it a bit more difficult to copy/paste, but I'm not sure if we want to encourage copy/pasting anyhow. At least, when I teach these lessons I have students type the lines in, to get the muscle memory of writing Python code.

For those reading this online

[2015-04-29 12:37] #70 closed

[2015-04-29 12:45] tbekolay commented on #72
Hmm. My interpretation of this challenge was that it was not meant to be executed; it's asking the student to mentally simulate what this code would do, regardless of the actual value that `left` and `right` point to. Being able to say what it does for one example is not really what we want, we want the student to think of it at a higher level. That is, a correct answer would be "it swaps what is

[2015-04-29 12:48] janetriley commented on #68
![for loop with blank lines](https://cloud.githubusercontent.com/assets/1236636/7391082/0e0e4a96-ee4c-11e4-9144-6886453f8f6d.png)

The blank line resets the indentation, so the "data = ..."  line isn't part of the loop.

I agree that spaces make it more readable.

The tradeoff is branching into a discussion about indentation or %paste, which is important but not part of the current topic. Also, an

[2015-04-29 13:35] iglpdc commented on #68
Yes to add it to the instructor guide. It would be nice including also other shortcuts/magics for the notebook (I learnt in my last workshop how to indent a block of code, but I forgot the trick already...)

[2015-04-29 15:19] gvwilson commented on #68
I'm -1 on putting more about the notebook in the core lessons, since
many people teach Python without using the Notebook.  Instead, can it go
in `discussion.md` for now?

[2015-04-29 18:58] kynan commented on #45
What was the decision on this @abostroem?

[2015-04-29 20:11] abostroem commented on #45
I'm inclined to leave things as they are, I haven't heard a convincing case otherwise. I'll leave this open for a few days for additional comments.

[2015-04-29 21:40] jiffyclub commented on #45
I agree that argparse is not a good use of time during the lesson. I know massively experienced Python programmers who have a hard time grokking argparse, it is not something you can throw out there and expect people to understand in a reasonable amount of time. It is pretty quick, however, to demonstrate how anything you put at the command line magically shows up in sys.argv. (It is magic, right?

[2015-04-29 21:43] jiffyclub commented on #45
FYI, [the lesson](http://swcarpentry.github.io/python-novice-inflammation/08-cmdline.html) already calls out argparse.

![screen shot 2015-04-29 at 2 42 46 pm](https://cloud.githubusercontent.com/assets/920492/7402096/130ff922-ee7e-11e4-8e67-2cb48a5799e0.png)

[2015-05-02 10:24] kynan commented on #72
I use this as an abstract example. It's straightforward to understand without the variables being initalized I think.

[2015-05-06 08:12] jni opened #81 "Is there interest in an upgrade to Python 3?"
Hi all,

There's some hints [here](http://python-notes.curiousefficiency.org/en/latest/python3/questions_and_answers.html#but-name-says-python-3-was-a-waste-of-time-didn-t-help-made-things-worse) that @gvwilson wasn't pleased with the Python 3 transition, but that he now believes it is no harder to teach than Python 2. (I haven't found a primary source for these comments.)

I think every beginner

[2015-05-06 11:20] r-gaia-cs commented on #81
I agree on that.

I vote for let 5.3 still use Python2
and soon after the release of it
we change to Python3
(**remember that you will also need to change
the workshop installation instructions**).

[2015-05-06 16:12] abostroem commented on #72
I had the same thought as @janetriley. I think it is useful to give students a concrete example (that they can execute) and then ask them to abstract from there.

[2015-05-06 16:54] wking commented on #81
Previous discussion of this transition is in swcarpentry/bc#107 and
swcarpentry/workshop-template#159.

[2015-05-07 07:00] abostroem opened #83 "Add labels to numpy array figure"
It would be nice to have the different axes labeled patients and days in this diagram.

https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/fig/python-operations-across-axes.svg

[2015-05-07 07:00] abostroem opened #84 "Add exercise to loops.md"
We should have at least one exercise at the end of each lesson.

[2015-05-07 07:01] abostroem opened #85 "Add exercise solutions to instructor notes"
There should be solutions provided to the exercises in the instructor notes so that instructors know the intended complete answer.

[2015-05-07 07:03] abostroem opened #86 "Importing?"
Now that we have broken up our lessons do we plan on teaching in a single notebook or a notebook per lesson? If we are going to teach in a notebook per lesson there should be import statements at the beginning of each lesson for modules we use over and over again (such as Numpy).

[2015-05-07 07:05] abostroem opened #87 "Examples in defensive.md should reference inflammation lesson"
Testing is one of the hardest things for scientists to apply to their everyday coding. Our example of testing should make use of the scientific case we are following in this lesson to demonstrate how testing can be applied to scientific analysis.

[2015-05-07 07:07] abostroem opened #88 "Test stdin in cmdline.md"
at the end of the lesson cmdline.md we modify our code accept stdin but then we only test our finished code on passing a filename. We should test stdin before we declare our code a success.

[2015-05-07 07:08] abostroem opened #89 "Code in cmdline.md"
It is unclear from the text of cmdline.md whether students are supposed to create files with the scripts, use the scripts in the code directory, or just read the code that's on the screen. This should be clarified.

[2015-05-09 22:16] #72 closed

[2015-05-10 02:07] #46 closed

[2015-05-10 18:18] tbekolay opened #94 "Make a script to update python-novice-inflammation.zip"
We have a zip file in the main directory to make it easy to get access to the necessary files used in the lesson. There's repetition here, but not repetition that we can avoid for pragmatic reasons. But, we should make sure that this zip always contains the right versions of the right files, so it would be helpful to have a little Python or Bash script that either checks that this zip is correct,

[2015-05-10 19:34] PBarmby opened #96 "tuples mentioned but not explained in 05-cond.md"
The learning objectives for this section include "Explain the similarities and differences between tuples and lists." but this isn't really covered except briefly in the last exercise. Tuples are also mentioned later on (in 08-defensive.md).

[2015-05-10 19:45] iglpdc commented on #94
I'd like to have this as a tool at the lesson-template level, so it's available for other lessons too. Having some data files to download is more the norm than the exception.

It'd be nice if we could have this as a git post-commit script, so if a commit changes the `data` folder, a new zip is made automatically. :-)

[2015-05-12 00:06] abostroem commented on #81
There are a lot of good statistics in this blog post: I'd love to see more like this for other fields SWC teaches: http://astrofrog.github.io/blog/2015/05/09/2015-survey-results/

[2015-05-12 08:36] vahtras commented on #81
Very interesting blog post. My main reason for not upgrading has just been to stick with default installations. Now that that the leading linux distribution Ubuntu is shifting to Python3 next year, others will likely follow and so should we.

[2015-05-12 23:21] PBarmby commented on #85
I'm starting to work on this.

[2015-05-12 23:22] PBarmby commented on #84
Azalee -- did you mean "lists" rather than loops? There are exercises in loops but none in lists.

[2015-05-13 00:15] abostroem commented on #84
Yes, thanks for catching that

[2015-05-23 23:46] richford commented on #83
Is it safe to say that this issue is closed with commit #97?

[2015-05-24 14:45] tbekolay commented on #83
Very safe!

[2015-05-24 14:45] #83 closed

[2015-05-25 00:20] richford commented on #94
I was thinking about implementing this using git hooks with a script that goes something like:

[code]

Ideally, this would be a server-side hook (e.g. post-receive), but for very good reasons, GitHub won't allow us to execute arbitrary code on their servers as part of a server-side hook. So I think the remaining options are

* Use a client-side hook. In order to put it under version control, we'd

[2015-05-25 00:24] tbekolay commented on #94
The client-side hook actually isn't too bad to do, as only the maintainers (me and @abostroem) need to actually have that hook installed. Makefile approach is good with me too, so either one IMO.

[2015-05-25 13:30] tbekolay opened #119 "Make an IPython- / Jupyter- specific callout style"
There are some places where instructors and students using the Jupyter notebook need to do something that those in an interpreter don't need to do; e.g., `%matplotlib inline`. We should put these notes in callouts. It would help, for those not using the Jupyter notebook, to be able to visually ignore these callouts. We could do that by making the Jupyter callouts a specific style / color etc.

[2015-05-25 13:39] gvwilson commented on #119
+1

[2015-05-26 22:17] richford commented on #94
For that matter, would the maintainers (@tbekolay and @abostroem) like `make preview` to be put in a client-side hook of some sort. My first reaction was that if you are going through the trouble of typing `make preview` before you commit, then it makes sense to just add the zip commands in my comment above to the makefile.

I can certainly submit a PR adding the zip commands to the makefile. Woul

[2015-05-27 13:32] iglpdc commented on #94
@richford, thanks for your suggestions. Some thoughts:

- I think the machinery for this should be at the level of lesson-template, as most lessons have data files. Lesson-template is merged into the different lessons once in a while. The makefile is [here](https://github.com/swcarpentry/lesson-example/blob/gh-pages/Makefile)
- It would be nice to keep a different name for the zip files, as learne

[2015-05-27 19:41] richford commented on #94
Thanks @iglpdc. I can open up a new issue in the lesson-template repo. Just to check, should this go in [lesson-template](https://github.com/swcarpentry/lesson-template) or in [lesson-example](https://github.com/swcarpentry/lesson-example)?

Either way, from your comments and from @tbekolay's comments, it seems like a good approach would be:

* Keep the makefile as it is.
* In the top-level direct

[2015-05-28 15:22] iglpdc commented on #94
Lesson-template. This is the one with the tools we use across all lessons and gets merged periodically with them. Lesson-example has an example of the layout of the lesson and it's the one you should look to in you want to create a new lesson.

[2015-06-12 15:08] gvwilson opened #127 "What changes should we make for our 5.4 release?"
Please use this issue for discussion of changes we should make by mid-August 2015.

[2015-06-12 16:33] embray commented on #127
As mentioned on the blog, I would like to see Python 3 on the table.

[2015-06-12 17:38] jgalgarra commented on #127
I support the motion, teaching Python 2 does not add any advantage these days

[2015-06-14 09:44] twitwi commented on #127
python++

[2015-06-14 19:14] jrherr commented on #127
I'm still trying to upgrade myself to Python 3 (not there yet fully...), but I also support this motion.

[2015-06-15 18:26] chendaniely commented on #127
Titus uses the `argparse` module in his reproducible computational analysis lesson [1].  Should we use that for our python lesson? or is that adding too much to an already bloated lesson?

You can see the code where he uses `argparse` at the 45:05 minute mark (the link below directly links there).

[1] https://youtu.be/SRItP6PSu4U?t=42m5s

[2015-06-15 18:28] gvwilson commented on #127
We can only add things if we identify something to take out...

[2015-06-16 00:17] abostroem commented on #127
@chendaniely This was already discussed in #45

[2015-06-23 05:43] katyhuff commented on #127
I'd like to suggest that 5.4 could use a gentler introduction to python. If we're being really honest, I never end up using this version of the python lessons because I think it has a fundamental flaw. Namely : this lesson starts with numpy rather than how to start up python or what it means to assign a variable. There's so much that has to be understood before I think students are ready to "impor

[2015-06-23 07:59] teamneem commented on #127
+1 to a gentler introduction.  I use the old version, too.  I feel like it loses students very early on because they don't have a context to build upon.  I usually end up doing the old version and then doing an abridged version of the inflammation stuff

[2015-06-23 12:51] gvwilson commented on #127
Do you think the Data Carpentry introduction to Python (https://github.com/datacarpentry/python-ecology) is a better fit for complete novices?  Should we put "Python for people who've never programmed before" effort into that lesson, and modify this one to be "Python for people who've seen for loops and conditionals, but not in Python"?

[2015-06-23 14:13] jrherr commented on #127
+1 to having a "Python for people who've never programmed before" in the Data Carpentry repo, and having this Software Carpentry lesson be a "Python for people who've seen loops and conditionals, but not in Python".

From my teaching experience for Software Carpentry there is usually a mix of people who have never programmed before with people who are familiar with programming syntax but have neve

[2015-06-23 14:18] iglpdc commented on #127
I use the current version of the lesson. but include a 15-min intro of my own. There are two things I found people get confused about. One is the word zoo: Python, python, IPython, 2 and 3, and even Anaconda (why do I have to install Anaconda to run python?) To clarify this, I start by talking about Python (the language) which comes in two dialects (2 and 3). I mention there are programs to interp

[2015-06-24 12:18] gvwilson commented on #127
Is this the sort of split people have in mind?
<table border="1" cellpadding="3">
  <tr>
    <th>Never Programmed Before</th>
    <th>Some Previous Programming</th>
  </tr>
  <tr>
    <td>importing libraries</td>
    <td rowspan="6" align="center">&uarr;<br/>(quick review)<br/>&darr;</td>
  </tr>
  <tr>
    <td>calling functions</td>
  </tr>
  <tr>
    <td>loading CSV data</td>
  </tr>
  <tr>

[2015-06-24 13:03] jrherr commented on #127
I think this looks excellent!

This isn't even a suggestion, but should "plotting" also be something that is covered in the 'some previous programming' curriculum, like "writing functions" and "documentation"?  Maybe it's just my (and others) confusion with 'matplotlib', but I think plotting is an important topic that often garners questions from Software Carpentry participants.

I really like thi

[2015-06-24 16:38] katyhuff commented on #127
I do like the table in general. However, I think the main point that I, personally, was trying to get across, is that importing libraries should neither be at the top nor on the left of the table. Importing libraries is magic until you at least understand functions and variables (because what's a library if not a variable name with which you access to functions and objects.)

The same can be said

[2015-06-24 22:02] abostroem commented on #127
I continue to maintain that our target audience should be people who have programmed before (or dabbled in programming) but not necessarily in Python. I like @katyhuff edits. A quick review/ let me tell you the syntax is important but we can quickly move onto the tools that a scientist who is programming in some capacity will want for everyday work.

[2015-06-24 22:03] abostroem commented on #127
I think the list on the RHS is too long for a typical workshop. I'm not sure if this is in any order. I consider optional (building Unix filters, building libraries, unit testing, and test-driven development).

[2015-06-24 22:15] katyhuff commented on #127
Perhaps this could work out if the last six items on this list were their own "defensive programming lesson." I, for example, like to teach exceptions debugging and testing as it's own thing on the afternoon of the second day (rather than sql). With a good group, by the end of the day you can get them all pushing up a piece of python with unit tests and having it run continuous integration on trav

[2015-06-25 05:18] abostroem commented on #127
Thanks @katyhuff , you made me think about how I've filled the end of day 2 in the most recent workshops I've taught. You're right - I haven't spent it on traditional SWC curriculum. I've done two code reviews, extra data visualization, and domain specific lessons.

I would love to hear other's opinions about how optional you consider these lessons: building Unix filters, building libraries, unit

[2015-06-25 17:56] katyhuff commented on #127
I know that for scipy, matt is giving an introductory overview of the
ecosystem of scientific python libraries... but that's very specific to the
scipy conference.

On Wed, Jun 24, 2015 at 10:18 PM, Azalee Bostroem <notifications@github.com>
wrote:

--
http://katyhuff.github.com

[2015-06-25 19:54] chendaniely opened #132 "detect_problems and detectProblems"
http://swcarpentry.github.io/python-novice-inflammation/06-func.html

`detect_problems` is defined using an underscore and called using camel case.
Propose to stick with PEP8 rules and make it an underscore.

This is also a bug in the lesson.

[2015-06-25 19:57] chendaniely opened #133 "imports in the python lesson"
The first lesson for the python lesson [1] shows importing `numpy` and `matplotlib.pyplot` without an alias.  but in the next lesson where we go back to plotting inflammation data [2]
we import `glob` but the code in the for loop use `np` and `plt` aliases.

If students follow the current lesson material, they would not know to import using an alias and will trip up when the code fails

[1] http:/

[2015-06-25 19:58] vahtras commented on #132
+1

[2015-06-25 19:59] chendaniely commented on #127
would it be out of scope to link to the PEP8 rules [1], and have students know a style guide for python exists?  I personally find reading style guides as a good intro/refresher to a language.

[1] https://www.python.org/dev/peps/pep-0008/

[2015-06-25 23:51] iglpdc commented on #127
+1

[2015-06-26 02:36] r-gaia-cs commented on #127
Sorry for my late comment.

This is one of the things that I like in this lesson,
i.e. not explain each Python data type before show a nice application.
**But I agree that we lost people that never programmed before doing it.**

@katyhuff What about start the lesson with

[code]

and after it explain the basic concepts like variables?

## Never Programmed Before vs Some Previous Programming

For "

[2015-06-26 15:40] ashwinsrnth opened #134 ""Easier" example for TDD"
Currently, we teach TDD using `range_overlap` as an example. I have found that the algorithm is not immediately obvious to learners, contributing significant extraneous load. I'd like to know if other instructors have had this problem and a mind to change it in our lessons. I would propose something much simpler, like

    def common(first, second):
        """ Returns a (sorted) list of elements

[2015-06-26 18:19] katyhuff commented on #127
I hear you @r-gaia-cs . While I am perhaps more of a reductionist in my
teaching, I do agree that it is certainly sometimes nice to show people
where you're going before you start off toward the destination. I think
that's a pedagogical choice, but can succeed with careful execution. I'm
open to that as long as it follows the general (spiral learning?
https://en.wikipedia.org/wiki/Spiral_approach)

[2015-06-30 19:02] karinlag commented on #127
First, lots of smart stuff in here. In my context (bioinformatics) the best "Simple, powerful illustration" is to teach how to write a small script which they can give different inputs to from the command line. My line of work is pretty analysis focused, and showing them how they can do the exact same analysis on different input files is always an aha-moment and an instant motivator.

[2015-07-02 03:22] smilefreak commented on #127
My lesson suggestions having recently instructed and observed a workshop in Dunedin New Zealand.

 The R lessons hastily introduce functional programming in the form of applys. I believe the lessons should stick strictly to for loops as they can accomplish the same tasks. While I agree that the functional paradigm is powerful it takes some experience to truly understand and incorporate seamlessly

[2015-07-02 15:16] abought commented on #127
Incidentally, I've started (in a very small way) to port some of our examples over to Python 3 for this lesson: #129 .

It's possible to write code that runs in both versions, though it does add a few weird looking statements that might be confusing to novices. Teaching one version doesn't preclude compatibility with both- is there a clear instructor preference here?

[2015-07-02 17:08] gvwilson commented on #127
We should write native, idiomatic Python 3 - anything else will be a
pain to explain.

[2015-07-02 19:02] abought commented on #127
So as part of the changeover, there'd be a clear policy change to drop support for python 2 in our lessons? I'm actually ok with this (I think Python 3 is saner by default), as long as there are no surprises.

[2015-07-02 19:05] abostroem commented on #127
I'd like to propose that we start a Python 3 branch and develop the lessons there and then once everything is ready we can merge it. Changing the lessons piecewise to Python 3 will be a disaster for those teaching during the transition.

[2015-07-02 19:25] gvwilson commented on #127
+100.

[2015-07-02 19:37] katyhuff commented on #127
Fun fact! Thomas (@takluyver) and I have decided to do this exact thing for SciPy (a python 3 version of the novice inflammation lesson).  Maybe we can pull request those changes at the end of next week?

In addition, as part of that tutorial, we'll be adding an intro notebook to ease people in before they get to the import-csv-data-with-numpy jump-off point.

[2015-07-02 20:39] willingc commented on #127
@katyhuff @gvwilson and others, I will see many of you at SciPy next week. I would be happy to share the notebooks that San Diego Python and I have used with novice developers and Python 3. All of you are doing wonderful work :+1:

[2015-07-06 16:40] jiffyclub opened #136 "Lessons never say to start the notebook"
The [first lesson](http://swcarpentry.github.io/python-novice-inflammation/01-numpy.html) starts right off showing Python commands and there's never discussion of where someone following along should put those commands. This may be intentional so that the lessons are flexible, but it also leaves someone following along on their own confused as to where they should be typing. I'd recommend adding s

[2015-07-07 00:34] amandamiotto commented on #127
Hey Guys

I was asked to include my feedback here. I know that for our classes, we had a mix of 'had programming experience' and 'no experience at all' people, so please see below for Python feedback.

In regards to the Python classes- the first lesson is way too in-depth in regards to the graphing. I understand that it is geared to Biologists and trying to show how relevant it is, but I would sto

[2015-07-07 17:13] rdhyee opened #138 "I was confused by the official location of the HTML of the lessons"
In preparing for a [workshop](http://cdips.physics.berkeley.edu/2015-cdips-data-science-workshop/) in which I will point to this material, I was working through the lessons at https://swcarpentry.github.io/python-novice-inflammation/01-numpy.html.  I ran into problems, which I started to annotate using hypothes.is (e.g., https://via.hypothes.is/https://swcarpentry.github.io/python-novice-inflammat

[2015-07-07 20:58] r-gaia-cs commented on #138
is the bleeding edge version of our lessons.
Changes on it can happen any time.

This is the frozen version of our lessons.
As fas as I remember,
it is the version before we split the `bc` repository.

If you go to http://software-carpentry.org/lessons.html
you will not find any link to `http://www.software-carpentry.org/v5/*`.
We only keep the pages active to avoid links at others places to stop

[2015-07-08 16:44] confluence commented on #96
I would suggest adding a brief explanation of tuples as immutable lists to the end of chapter 3 (03-lists.md), and moving the two exercises from the end of chapter 5 (the one about tuples and the previous one about "in-place" operators) to the end of that chapter as well. They don't have anything to do with conditional statements, but they do follow logically from the discussion about mutable and

[2015-07-16 02:19] kylerbrown opened #143 "updating the Debugging a Function subsection to py3k"
The bug in [debugging a function](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/06-func.md#debugging-a-function) is no longer an issue in python 3. Should the section be removed entirely, or should a new bug be created, so students can continue to experience the joys of debugging?

One possibility would be to introduce an order of operations bug, `temp - 32 * 5/9` instead

[2015-07-16 03:39] r-gaia-cs commented on #143
I removed it on https://github.com/swcarpentry/python-novice-inflammation/pull/142 to let the lesson consistent **but** I think that provide learners with some examples of debugging is important.

I want a more interesting bug to solve but have no idea yet. =)

[2015-07-17 00:08] #132 closed

[2015-07-17 08:19] jgalgarra commented on #127
I would like to help with the py3 migration. I do not know if there is some kind of planning or if contributors pick at random. Thanks for your advice.

[2015-07-17 09:27] r-gaia-cs commented on #127
@jgalgarra Thanks.

https://github.com/swcarpentry/python-novice-inflammation/pull/142/files#r34859375 is a good candidate for first contribution. But you can pick at random. Any contribution are welcome.

[2015-07-29 18:39] PBarmby opened #145 "Example solutions for 10-cmdline"
I've been working on adding solutions to the instructor's guide, but as I have never actually taught the Python+command line section, I don't have the solutions easily at-hand. It would save me some time to have a place to start rather than coding them all from scratch.  Can anyone point me to a relevant notebook or repo that woudl help? Thanks.

[2015-08-05 01:11] PBarmby commented on #145
Never mind, got impatient and wrote them myself..

[2015-08-05 01:11] #145 closed

[2015-08-13 10:10] gvwilson commented on #127
Please also see [this post](http://blog.byronjsmith.com/swc-python-lesson.html) from Byron Smith on his experiences trimming down the Python lesson.

[2015-08-17 02:11] rmflight commented on #127
Why not put this into the context of doing the statistical calculations in `goostats` mentioned in the novice shell lesson? Variables and loops could be used to summarize the various columns of an inflammation like data set, and then a shell script could be used to process a bunch of files.

I think there is a huge opportunity being missed by not having a single data set that can be used across **

[2015-08-17 07:22] gvwilson commented on #127
Data Carpentry's lessons use a single data set throughout the two days.
There are a lot of advantages, but it also gives the instructors a lot
less flexibility to mix and match lessons for particular audiences.  We
decided a couple of years ago that the latter outweighed the former, but
perhaps it's time to re-evaluate.

[2015-08-17 10:09] TomKellyGenetics commented on #127
Sorry I'm a bit late to the table here, I've been away sick the past couple of weeks. In my experience teaching this material (in Australia and New Zealand) we usually deal with near complete beginners. Our typical attendees are young biology researchers with almost no programming experience. I would not recommend assuming any prior programming knowledge (in any language). This proposed split may

[2015-08-17 14:18] uiuc-cse commented on #127
The gold standard for what I'd like to see is [Rosalind](rosalind.info/problems/tree-view/).  Basically, they have a set of bioinformatics lessons that are organized in a tree-like fashion so for any arbitrary topic you know exactly what dependencies you have to satisfy.  That would require pivoting to much shorter segments than are now in use.

The tricky thing is to introduce another axis (domai

[2015-08-17 15:20] embray commented on #127
Also late to the table--(other than my early :+1: for Python 3):

First of all I agree with @katyhuff on the need for a softer introduction to getting started with Python--including starting the Python interpreter and how to use the Python interpreter (both interactively and to run scripts), as well as introduction to Jupyter (née IPython) and why some of us like it, and introduction to the Python

[2015-08-17 15:24] embray commented on #127
(Aside: Not sure how my scheme would work, however, with Greg's other question about publishing lesson content...  Maybe like a choose your own adventure story?)

[2015-08-22 19:18] dotsdl opened #152 "Python modules: hyphens to underscores"
Many of the python modules in [``code``](https://github.com/swcarpentry/python-novice-inflammation/tree/gh-pages/code) include hyphens in the name, making them practically impossible for learners to import (there is a way, but it's really obtuse and bad form). These should be changed to e.g. underscores in order to make them easily importable.

[2015-08-27 06:51] alistairwalsh commented on #127
Hi All,

Being in the position of about to do a bootcamp in Canberra (Australia) very soon. The group that is organising the bootcamp have said they would prefer it be Python 3 that is taught. I've had a quick look at the @katyhuff and @takluyver presented at Scipy 2015 http://jiffyclub.github.io/2015-07-06-scipy/python/ and they look great.

Could they be a starting point for whatever changes nee

[2015-08-27 06:54] alistairwalsh commented on #127
Also, I like the idea of quickly getting something plotted and then backtracking to explain how we got there. I think a lot of people respond well to producing visual images and can understand how changes in the code correspond to changes in the image. It's also fairly universal to science to create an image to explain results.

[2015-08-27 07:15] gvwilson commented on #127
We're hoping to merge the Py3 changes this weekend, so yes, you'll be
able to use Py3 in Canberra.  We'll then try to arrange an online
discussion early in September about revising the lessons
Cheers,
Greg

[2015-09-03 21:23] dotsdl commented on #127
Any news on when this discussion might happen? I'm interested in attending myself, but haven't heard anything more about it.

[2015-09-03 21:44] gvwilson commented on #127
We're just about to publish the 5.3 lessons (should happen tomorrow or
Monday) and then we'll convene this discussion.

[2015-09-03 21:50] dotsdl commented on #127
@gvwilson awesome. I think there's a lot of great ideas in the current python lesson that need to be retained in the next iteration, so I want to participate. Might try to write about it if I get the time to help collect my thoughts.

[2015-09-09 10:50] gvwilson commented on #17
Out of date.

[2015-09-09 10:50] #17 closed

[2015-09-09 10:50] gvwilson commented on #15
Out of date.

[2015-09-09 10:50] #15 closed

[2015-09-09 10:51] gvwilson commented on #12
Out of date.

[2015-09-09 10:51] #12 closed

[2015-09-10 19:16] petebachant opened #159 "Should lesson code adhere to PEP8?"
Code like `weight_lb = 2.2 * weight_kg` should be `weight_lb = 2.2*weight_kg` according to [PEP8](https://www.python.org/dev/peps/pep-0008/). Does this matter here?

[2015-09-10 19:27] gvwilson commented on #159
+1 to PEP-8 compliance.

[2015-09-10 19:32] tbekolay commented on #159
I'm all for PEP8 compliance (vigilant about it, even!) but I don't think your example follows PEP8. I'm assuming you're thinking about [this section](https://www.python.org/dev/peps/pep-0008/#other-recommendations). Having no whitespace around `*` only applies when you have a longer expression with implicit order of operations (removing the space is to make the order of operations explicit, even t

[2015-09-10 19:59] petebachant commented on #159
Looks like I understood PEP8 wrong; sorry about that! My example does not fail the `pep8` test script in either incarnation, though I usually prefer no whitespace around `*` to make it easier to distinguish addition from multiplication.

Maybe a compliance check could be automated by extracting all code from the lessons and running that through `pep8`? Is there a tool to convert Markdown to Python

[2015-09-10 20:04] tbekolay commented on #159
Such a check would be great, and could be incorporated into existing checks. I'm not aware of any tool out there to do this right now; if there were, it'd probably have to be customized anyhow since our code blocks are fenced off with `~~~ {.python}`, which I've not seen elsewhere. Still, seems like not too tough of a script to write!

[2015-09-10 21:00] petebachant commented on #159
Alright, I will take a crack at it when I get a chance.

[2015-09-11 23:13] alistairwalsh commented on #127
Just used the 5.3 lessons to teach a workshop in Canberra. It worked but there are some problems.

The challenges seem to have gotten out of order, or have been left behind when a section was moved. On Monday I plan on trying to make basic changes ( i.e not make any changes to the content at this stage) to bring everything back in line. Grateful for any help.

Also, be aware -
'range( )' doesn't w

[2015-09-14 23:40] alistairwalsh commented on #86
I used a notebook per lesson, imported libraries at the start and used it as an opportunity to explain that this needs to be done as each notebook is independent.

[2015-09-14 23:48] alistairwalsh commented on #127
I have spotted the correct place to raise these issues and will shift this to

https://github.com/swcarpentry/python-novice-inflammation/issues/48

[2015-10-04 12:55] gvwilson commented on #127
We should include code review if we're doing advanced topics: http://kevinlondon.com/2015/05/05/code-review-best-practices.html and https://github.com/abostroem/2015-01-03-aas/blob/gh-pages/novice/code-review/data_processor.py

[2015-10-23 17:29] richford opened #170 "Should at least some of the inflammation data pass the `detect_problems` function?"
So we have a bunch of csv files with inflammation data. In 05-cond and 06-func, we develop some tests to tell whether or not our data is suspicious. One of the tests concerns the max behavior and one of the tests concerns the min behavior. But when we run `detect_problems()` on all of the files in `inflammation*.csv` we see that none of the csv files results in the "Seems OK!" print statement.

I

[2015-10-24 15:16] tbekolay commented on #170
I definitely agree that this outcome is pretty sad depending on how you present it. I find that I often motivate the Python lesson by saying that it's a pretty common thing for a colleague to give you data and for you to be poking through it, so I'm often tempted to present this as the situation in which you get these csv files. However, since we're kind of trying to find some fraud here, it makes

[2015-10-27 16:49] richford commented on #170
I like these suggestion a lot, both the long term solution of using other datasets and the short term solution of motivating the existing dataset with a callout in `01-numpy.md`. Thanks.

[2015-10-28 15:01] cmd-ntrf opened #173 "Lesson 01 and 04: matplotlib.pyplot.show ignore any arguments"
In lesson 01-numpy and 04-files, we are teaching that `matplotlib.pyplot.show` take in arguments either graphics or figures. For example:
[code]

If we refer to [matplotlib API](http://matplotlib.org/devdocs/api/pyplot_api.html#matplotlib.pyplot.show), there are no mentions that `show` takes matplotlib object as arguments. The stated behaviour is that `show` will display all figures and blocks.

I

[2015-10-28 17:06] compilerguru commented on #173
Thanks very much for the good advice. I also have Mathematica and CDF Pro Player. I am asking Wolfram if there is a way  I can use these tools with DreamWeaver and Photoshop to execute python expressions which are then trivial to plot. Dynamically!

I love PyCharm and Pycharm Edu. Great for teaching, and managing your course assets while not letting coding in the way of more substantial concepts.

[2015-11-02 17:59] #134 closed

[2015-11-20 16:50] zonca opened #177 "Instructor guide formatting is off"
See for example at Errors and Exceptions:

http://swcarpentry.github.io/python-novice-inflammation/instructors.html

[2015-12-01 09:46] karinlag opened #179 "What is the inflammation data?"
Just wondering what the data is a measurement of. It is certainly not temperature, is it CRP count or something else?

Knowing what it is, and the scale of the measurement, would make it easier to teach.

[2015-12-01 10:00] gvwilson commented on #179
It's completely synthetic - we need to replace it with something that
has a real story behind it (which I'm hoping to do in December once
instructor training is out of the way).

[2015-12-01 10:10] karinlag commented on #179
On 01.12.2015 11:00, Greg Wilson wrote:

I know that, but isn't it supposed to be a fake "something" at least?
Why else call it inflammation, and not something else, like, I dunno,
cloud coverage?

karin

[2015-12-09 16:11] alexsavio commented on #10
I am looking for issues where I may be able to help. It would be nice to close the issues that are already solved, otherwise I have to read through all of the open ones.

[2015-12-11 15:35] gvwilson opened #181 "Totally need to add this image"
https://twitter.com/hadleywickham/status/643381054758363136

[2015-12-25 09:48] alexsavio commented on #181
In the R programming lessons, maybe? :)

[2016-01-16 00:10] iglpdc commented on #179
You could say is the cell count of white blood cells in some units over some baseline (so it's always positive and grows) before applying an antibiotic treatment in patients with some sort of bacterial infection, but I'm not a (real) doctor :)

[2016-01-16 10:45] karinlag commented on #179
Thanks! That makes it easier to teach :)

[2016-01-20 18:56] tbekolay opened #210 "Optional callouts"
Many of our callouts add additional information to the lesson (and are great for people reading through the lessons) but may not be necessary to teach during workshops. It could be useful to note that the callouts aren't necessarily things that need to be taught in a workshop, but are primarily there for interest or for further reading. A few ways we could do this (no real preference toward one; c

[2016-01-20 19:02] tbekolay commented on #181
Done in #192, thanks @alexsavio! Your move, https://github.com/swcarpentry/r-novice-inflammation

[2016-01-20 19:02] #181 closed

[2016-01-27 19:48] adamobeng opened #221 "'Tabs and Spaces' example does not actually include tabs"
The "Tabs and Spaces" callout in lesson 7 includes a code example where supposedly "the first two lines are using a tab for indentation, while the third line uses four spaces". In fact, all three lines use spaces for indentation.

Someone copying this example would not be able to reproduce the error.

I'm opening an issue rather than just fixing it, because:
1. this might be a deliberate decision

[2016-01-28 16:41] franktoffel commented on #159
@tbekolay @petebachant

This small script may help:
https://gist.github.com/Juanlu001/9082229

Are the python lessons in IPYNB format?

[2016-01-29 11:05] #81 closed

[2016-02-03 15:26] gvwilson commented on #210
Relocated to https://github.com/swcarpentry/lesson-template/issues/289

[2016-02-03 15:26] #210 closed

[2016-02-03 16:00] #127 closed

[2016-02-03 16:06] gvwilson commented on #16
@rgaiacs still active?

[2016-02-03 16:09] gvwilson commented on #4
Can this one be closed as stale?

[2016-02-03 16:31] jdblischak commented on #4
Yes, it can be closed. Basically for the R lessons, we are not moving the code files to a subdirectory as instructed by the [template](https://github.com/swcarpentry/lesson-example/blob/gh-pages/LAYOUT.md#code-data-and-figures). This is because our lessons are executable, and this would break all the lessons. The [novice Python lesson](https://github.com/swcarpentry/python-novice-inflammation) has

[2016-02-03 18:20] gvwilson commented on #4
Hm - OK, I'll close this one and open another about getting the lessons consistent about use of sub-directories - thanks.

[2016-02-03 18:20] #4 closed

[2016-02-03 20:48] rgaiacs commented on #16
@gvwilson I need to fix `tools/check.py`:

[code]

You can close this issue and I can create a new one later.

[2016-02-03 21:42] gvwilson commented on #16
The existing check.py may go away if we start using Kramdown to parse
our Markdown - stay tuned.

[2016-02-03 21:42] #16 closed

[2016-02-06 23:28] maneesha commented on #179
Any progress on this?  I was about to post an issue with the exact same question since I'm teaching it in a couple of weeks.  For now I'm planning on presenting it as fake data, just to be able to look at trends, etc.

[2016-02-07 02:07] gvwilson commented on #179
It *is* fake data, and that's part of the story: something very similar
was presented along with a paper I was given to review several years
ago, and it when I plotted maxima and minima, it became clear that it
wasn't real.

[2016-02-11 23:44] QuLogic commented on #173
This was fixed in #222.

[2016-02-29 17:24] #173 closed

[2016-03-17 22:19] jesford commented on #51
The same is true for the `readings*.py` files and `count_stdin.py` and others in "Debugging" and "Command-line Programs" lessons... and it took me a little while to locate them.

Are these programs intended to be run by students during the workshops? If so, I think they should be included in the `python-novice-inflammation-data.zip` file that the students download. If not, it would be nice if they

[2016-03-25 09:44] hachterberg commented on #152
Since it seems this issue is still open, I heartily agree with this. The not being able to import is inconvenient, but also it is against the python conventions.

According to PEP8 (which I think should be encouraged as much as possible) modules should be all lower case letter, and underscores can be used if it improves readability (see [PEP8](https://www.python.org/dev/peps/pep-0008/#package-and-

[2016-03-25 09:59] tbekolay commented on #152
I suggested this in #172, so I'm definitely in favor of changing them to underscores :)

[2016-03-25 11:18] hachterberg commented on #152
Great, @tbekolay are there any specific references to the code that need to be changed. I couldn't find them quickly, and "make preview' seemed unaffected. Should I just go ahead and make a pull request?

I could not run "make unittest" because of a problem with changes in CommonMark, but requirements.txt not specifying a working version of CommonMark.

[2016-03-25 11:24] tbekolay commented on #152
Both `make preview` and `make unittest` are only things that maintainers need to worry about; for the PR, only touch the `.py` and `.md` files. There are references to the `readings` files in `instructors.md` and `10-cmdline.md`. I think that's it though :)

[2016-03-25 17:22] dotsdl commented on #152
I should have been more specific: the issue I had here was with [errors_01.py](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/code/errors_01.py) and [errors_02.py](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/code/errors_02.py), which as of f876f3b946ef1ddf10c46b50e2d7ccdf19f77542 were switched from having dashes to underscores. This was importan

[2016-03-25 17:22] #152 closed

[2016-04-06 17:48] maneesha opened #262 "Tuples referenced but not included in lesson"
From an email I received:

Dear Software Carpentry,

Thank you for doing this work. I refer all scientists I know who express interest in becoming better programmers to your website and lessons.

I have one small bug report. I was reading your Python lesson on conditionals. One of the learning objectives is explaining the difference between tuples and lists, but tuples are not mentioned again in t

[2016-04-07 13:43] GoreGrindGeek opened #263 "If/else and chapter order"
"Ternary" if/else is not mentioned in the lessons. A good guide can be found here:
http://stackoverflow.com/questions/394809/does-python-have-a-ternary-conditional-operator

Another suggestion would be to reverse chapter order. Tutorials start with plots and charts and then digress into shorthand operators and if/else statements. I personally would've started with the latter two, then move onto st

[2016-04-28 00:24] rdtarvin opened #267 "Item Error (lesson 7) should read Index Error?"
I think the subheading Item Error in the Errors and Exceptions lesson should be "Index Error", unless you were trying to be more general.

[2016-05-11 06:44] QuLogic commented on #262
This is (mostly) a dupe of #96.

[2016-06-08 06:48] #262 closed

[2016-06-13 17:38] Ry4an commented on #51
I'm calling dibs on this one.

[2016-06-13 17:57] jesford commented on #51
Thanks for taking this on @Ry4an.

I wonder whether its worth having `errors_01` and  `errors_02` in files at all...  they are such short code snippets anyway that the overhead of making sure every student has them downloaded and somewhere in their path might not be worth it. When I taught this lesson I ended up just having students type them into a notebook cell, which I think saved time because

[2016-06-13 18:02] Ry4an commented on #51
@jesford I think you're right about those errors.  I'll see if they can be inlined without becoming confusing.

I'll check into the readings*.py bit to see if I can find something non-awful to do with that too.

[2016-06-13 18:25] medelero opened #270 "overlap in figure: Operation Across Axes"
There is an overlapping in the figure "Operation Across Axes" of the section 01-Numpy.

[2016-06-13 18:44] valentina-s commented on #51
@Ry4an I think it is a good idea to put the code in a `python-novice-inflammation-code.zip`. Often a one-day workshop does not reach this lesson so then they can download the data without downloading the code as they will not use it. I just merged a pull request fixing the paths to the files in cmdline #258. I still think we need explanation from where to run the files from (as suggested here #89)

[2016-06-13 18:52] medelero opened #271 "overlap in first figure 05-cond"
overlap in first figure of the 05-cond Conditionals.

[2016-06-13 18:57] Ry4an commented on #51
@valentina-s I put up a PR (#272) including the buggy code inline since @jesford suggested it's nice when the users can copy/paste it into a console and see the errors themselves.

No hard feelings if you feel it's too much to in the lesson itself.

[2016-06-13 18:59] #136 closed

[2016-06-13 20:00] btel commented on #271
That's what it looks like in Firefox 46 on Linux:

![conditionals](https://cloud.githubusercontent.com/assets/41565/16021301/2e6e50a6-31b2-11e6-81e6-cd00a7a19561.png)

see also #270

[2016-06-13 20:01] btel commented on #270
That's what it looks like in Firefox 46 on Linux:

![operations_across_axes](https://cloud.githubusercontent.com/assets/41565/16021278/052bb3b4-31b2-11e6-9d28-936a0b5c250b.png)

See also #271

[2016-06-13 20:45] #270 closed

[2016-06-14 10:45] gvwilson opened #276 "Introduce enumerate function"
#193 introduced `enumerate`, which is very useful and ought to be included in exercises, but which needs a better motivating example.

[2016-06-19 14:24] #86 closed

[2016-07-07 18:36] gvwilson opened #281 "Check/remove unexpected images"
`make lesson-check` reports:

Unexpected image files: 03-loop_4_0.png, ave-inflammation-over-time.png, combined-inflammation-2.png, combined-inflammation-per-day.png, initial-heat-map.png, ipython-notebook.png, loop-inflammation-01.png, loop-inflammation-02.png, loop-inflammation-03.png, loops_image.svg, max-inflammation-over-time.png, min-inflammation-per-day.png, python-call-stack-01.png, python

[2016-07-11 21:35] #84 closed

[2016-07-13 01:22] jangari commented on #263
I agree. I think starting with the matplotlib stuff is too high a bar for most people when they're absolutely new to python. I would also suggest doing the basics, which are mainly covered in conditionals, loops, etc., first, and then on the morning of the second day, bring in the dataset to analyse. This also has the benefit of bridging from loops in the Unix Shell novice course.

[2016-07-13 10:15] tbekolay commented on #263
Hey! Thanks for your feedback. The original intention was to start by motivating the somewhat tedious introductory material by saying "hey, look at what you can do with just a few lines of Python. Okay, now that you're hooked, here's how it all works." But I think you're both right that in most cases, the motivation exists coming into the workshop and/or the initial Matplotlib stuff is too intimid

[2016-07-15 03:02] valentina-s opened #287 "Overall review of lesson 2016-06 by @valentina-s"
- [ ] (01-numpy) Typo in Data Type section: We can also find the out the type of the data contained in the NumPy array.
- [ ] (01-numpy) Issue with sentence: 'More convenient when indices are computed rather than constant' - I don't understand the ending - seems unfinished.
- [ ] (01-numpy) Multiple assignment - move it to later, maybe when discussing creating own functions
 maxval, minval, stdval

[2016-07-15 14:16] gvwilson commented on #287
Thanks very much for this - I'll mark it as "help wanted", and pull
requests from anyone and everyone would be very welcome.

[2016-07-18 23:37] weaverbel opened #288 "Missing scripts?"
In the Python lesson sections, **Errors and Exceptions** and **Command Line programs**,  scripts, e.g. readings_04.py, are referenced but not provided in the initial data download. When preparing the class, @LeahRoberts had to track down the scripts on GitHub and then convert them to Python 3 so they would work. Has anyone else had this problem or are the Python 3 scripts available somewhere we do

[2016-07-20 03:30] GoreGrindGeek commented on #263
Thank you.

In the "Novice Gapminder" I'd suggest moving "The Call Stack" to in between "Built-in Functions and Help" and "Error Messages", and "For Loops" should probably come before "Lists", because a list is a fairly complex data structure compared to a loop.

[2016-07-31 13:18] #45 closed

[2016-07-31 13:19] #48 closed

[2016-07-31 13:34] #138 closed

[2016-07-31 14:42] Ry4an commented on #51
Yeah, I can find a place for it in gap minder, but there's a vote in the PR (#272) about the approach that still feels below quorum. Mind weighing in?

[2016-07-31 20:58] gvwilson commented on #63
Happy to rename if someone would like to PR a name change.

[2016-07-31 20:58] gvwilson commented on #60
@BernhardKonrad can you PR against the current repo?

[2016-07-31 21:04] gvwilson commented on #119
Still relevant?

[2016-07-31 21:15] gvwilson commented on #133
@chendaniely is this still an issue?

[2016-07-31 21:29] #85 closed

[2016-07-31 21:30] gvwilson commented on #170
@richford any chance you'd have time to PR this?

[2016-07-31 21:33] #177 closed

[2016-07-31 23:48] #179 closed

[2016-07-31 23:56] gvwilson commented on #221
Yeah, this is hard to fix given that we're using Markdown...

[2016-08-02 23:52] snamburi3 opened #291 "Add Pandas introductory session"
Pandas is one of the most commonly used Python modules. I think we need to add a Pandas introductory lesson covering at least the basics.
- dataframes, series
- pandas objects
- loading and exporting data
- selecting and looking up the data
- simple operations and stats
- Working with time-series data

[2016-08-02 23:57] gvwilson commented on #291
I agree that Pandas is important - what would you take out of the
existing lesson to make room for the new material?  (We already struggle
to get through this in a full day.)  Alternatively, you may want to join
the discussion on
https://github.com/swcarpentry/python-novice-gapminder/issues/70.

[2016-08-03 14:46] jdidion opened #292 "Add alternatives to '%matplotlib inline' in numpy lesson"
In newer versions of python, 'inline' appears not to be a valid backend. Two alternatives are:
1) Start ipython with the '--pylab inline' option
2) On OSX, use '%matplotlib osx' instead

[2016-08-03 15:23] jdidion opened #293 "End the "Making Choices" lesson with an example that synthesizes what has been learned up to that point"
Let's combine what we've learned about searching for files (glob), reading in data (numpy.loadtxt), iterating over sequences (for loops), and making choices (if statements) to check all of our data files in a single loop:

for datafile in glob.glob('data/inflammation*.csv'):
    data = numpy.loadtxt(fname=datafile, delimiter=',')
    if numpy.max(data, axis=0)[0] == 0 and numpy.max(data, axis=0)[2

[2016-08-03 15:58] tbekolay commented on #292
Can you point me to a resource that talks about the deprecation of `%matplotlib inline`? My understanding is the opposite, that `%matplotlib inline` is the correct choice moving forward, while `--pylab inline` is deprecated.

Perhaps this is an install issue? IPython is now part of the Jupyter ecosystem, so to install it you should be doing `pip install jupyter` or `conda install jupyter` rather t

[2016-08-03 16:00] tbekolay commented on #292
[A post on the `--pylab` deprecation](https://mail.scipy.org/pipermail/ipython-dev/2014-April/013824.html).

[2016-08-03 17:16] jdidion commented on #292
I am using anaconda and have installed jupyter via conda. When I do '%matplotlib inline' I get the following error:

No event loop integration for 'inline'. Supported event loops are: qt, qt4, qt5, gtk, gtk2, gtk3, tk, wx, pyglet, glut, osx

I assumed this was a python 2 vs 3 issue, but maybe it's a problem with my machine (or with osx in general)?

Have others run into this problem on their own o

[2016-08-03 17:41] snamburi3 commented on #291
Thanks, @gvwilson. Yes, we already have a Intro to Pandas in [python-novice-gapminder](http://swcarpentry.github.io/python-novice-gapminder/11-data-frames/) . Closing this issue.

[2016-08-03 17:41] #291 closed

[2016-08-03 22:36] gvwilson commented on #271
Is this still an issue?

[2016-08-03 22:58] valentina-s commented on #292
Are you running this command from a terminal or from a jupyter notebook. I get the same error from terminal, but not from inside a notebook.

[2016-08-04 10:21] #263 closed

[2016-08-05 05:02] valentina-s commented on #133
This has been fixed. Thanks!

[2016-08-05 05:02] #133 closed

[2016-08-09 19:37] somexpert opened #297 "Fix link to python-novice-inflammation-data.zip"
I was just looking over your lessons and noticed that the [setup instructions](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/setup.md) contain a broken link for downloading the required data in a zip file. I believe that it might need to be changed the same way [this was](https://github.com/swcarpentry/shell-novice/commit/438f900a13ec60c364845b76c45265dbcd093f19) in order

[2016-08-18 11:13] #297 closed

[2016-08-19 16:50] tracykteal opened #302 "Finding the data with the new template"
In a recent discussion session, it was discussed that with the new template, it's not obvious where to find the data for the instructors or the learners. A relatively straightforward fix, without requiring changes to the template, would be to add a link to it on index.md, maybe just above the Schedule.

I've filed an issue in the lesson-example repo as well https://github.com/swcarpentry/lesson-ex

[2016-08-23 19:04] tracykteal commented on #302
Resolved by https://github.com/swcarpentry/python-novice-inflammation/pull/303

[2016-08-23 19:04] #302 closed

[2016-08-25 13:19] tbekolay opened #305 "ids not set in the glossary"
Before, we could link to specific elements in the glossary with anchor links (e.g. `[word](/references/#word)`). However, these no longer work because the definition list in the glossary does not have `id` attributes set (which is how the anchor links work).

Is this something we should fix here or in the template @gvwilson?

[2016-08-25 13:22] gvwilson commented on #305
The next release of Kramdown will automatically generate IDs for
definition list items.

[2016-08-25 13:27] tbekolay commented on #305
Even better!

[2016-08-25 13:27] #305 closed

[2016-08-27 10:26] btel opened #306 "syntax highlighting"
The python code examples are not syntax highlighted:

[![syntax_highlight](https://cloud.githubusercontent.com/assets/41565/18026747/6ca26ca2-6c51-11e6-90c7-c40e1599883f.png)](http://swcarpentry.github.io/python-novice-inflammation/04-files/)

[2016-08-27 15:33] rgaiacs commented on #306
http://kramdown.gettalong.org/syntax.html#language-of-code-blocks says that we should use `.language-ruby` instead of `.python` and we still need to add the CSS. :-(

[2016-08-27 16:20] gvwilson commented on #306
We've had complaints in the past from some users about syntax
highlighting because their code isn't highlighted the same way, which
confuses them.

[2016-09-10 15:46] rgaiacs commented on #18
Out of date.

[2016-09-10 15:46] #18 closed

[2016-09-30 00:27] jangari commented on #288
I just ran this for myself for the first time the other day, and I think this section (command line programs) would actually work better if we had to write our programs from scratch. I was confused by the material jumping forward to a different readings_0?.py script. It seems to allow the students to not write the scripts but simply run them from the command line.

I would further suggest that one

[2016-10-04 14:52] astrofrog opened #319 "Set up Travis to validate the exercises in pull requests"
It would be easy to set up Travis to validate all the notes, running e.g. `make lesson-check-all`, to make sure that the notes always remain valid. In future, one could even set it up so that examples can be run and the output checked (to make sure the examples are up-to-date and functional). If an admin of the repository can enable Travis, I'd be happy to open a PR to add the required configurati

[2016-10-04 16:13] petebachant commented on #319
Travis could be beneficial for all lesson PRs, so you may want to create an issue/PR against one of the template or style repos. cc @gvwilson

[2016-10-04 16:49] astrofrog commented on #319
@petebachant would it make sense to maybe try in this one as an example first, since it may take a bit of fiddling the first time, and it would be easiest to test out on a real life case rather than a template? Then once it works, we could open a PR to the template or style repos?

[2016-10-05 12:27] vahtras commented on #319
Travis is set up for the SciPy lecture notes so that all code snippets are
executed and there output tested with nose+doctest. If that is something we
would like to have one can look there for inspiration:
https://github.com/scipy-lectures/scipy-lecture-notes

Regards,
Olav

On Tue, Oct 4, 2016 at 6:49 PM, Thomas Robitaille <notifications@github.com>
wrote:

[2016-10-07 22:18] KjellSwedin opened #321 "Prose error describing numpy rows and columns relative to axis number..."
The following line shows rows with axis 0:

"If we ask for the average across axis 0 (rows in our 2D example), we get:"

and here columns are show with axis 1:

"If we average across axis 1 (columns in our 2D example), we get:"

The diagram above correctly shows axis 0 as columns and axis 1 as rows.

[2016-11-10 03:31] #267 closed

[2016-11-11 17:40] hpourreza opened #328 "Python 3 floating point rounding"
When I run `2.2*55` in Python 3, I get `121.00000000000001` instead of `121.0` that is on the course website (01_numpy). I think the output on the course website is from Python 2 that prints `121.0`.

[2016-11-13 12:52] dndln opened #329 "Possible inaccuracy in 'Defensive Programming'"
https://swcarpentry.github.io/python-novice-inflammation/08-defensive/

Section: Testing Assertions
[code]

The second assertion is actually checking if the last value of the 'result' list is positive on every iteration. On the first iteration it does check that the first value is positive, since result[0] == result[-1], but on subsequent iterations it does not.

[2016-11-13 21:10] rgaiacs commented on #328
@hpourreza Thanks for the issue. Could you send a pull request to fix it?

[2016-11-15 15:28] tbekolay commented on #329
Yes, you're quite right, a PR clarifying that would be great!

I don't recall when we added this exercise, but it strikes me as an odd one... why would we want to constrain the function to only accept monotonically increasing positive numbers? It's also not at all clear what would happen if we ran `running('abc')` with the 'defensive' code, as `'a' >= 0` is not obvious.

Perhaps the whole exercise

[2016-11-16 16:23] bmcfee opened #330 "Error in 08-defensive post-condition exercise: min < mean < max"
In the "Pre- and Post-conditions" exercise, the solution isn't quite correct:

[code]
This doesn't hold when all input values are equal.

The correction is easy (I can PR if folks agree):
[code]

Side note: since `input` is python built-in function, I'd suggest renaming the variable (say to `values`).  It's not wrong as is, but it's bad style.

[2016-11-20 21:26] DamienIrving opened #331 "Teaching the funnel method"
In the command line programs lesson, perhaps we should briefly mention the [funnel method](https://zduey.github.io/tips/the-funnel-method/) in a callout/comment box? It's the most logical method I've ever heard of for ordering the functions in a script.

I'm happy to submit a pull request if people think this is a good idea.

cc @zduey

[2016-12-07 15:37] jduckles opened #334 "Conditional example"
The below twitter thread has me wondering if we could have a more approachable conditional example doing something like it.

https://twitter.com/expersso/status/806135709551755265

[2016-12-19 21:47] kkiesling opened #338 "Using "import ___ as __" in later lessons"
At the end of the first Python lesson, there is mention of when actually using numpy, scientists using use it as `import numpy as np`. Similarly, it is common to use `import matplotlib.plyplot as plt` to save on typing. Since it is mentioned at the end of the first lesson that it is common practice to use `import ___ as __`, I think it is a good idea to change all the following lessons that use in

[2016-12-29 22:14] tbekolay commented on #338
Hi @kkiesling, thanks for checking first! We have indeed debated this topic before; we used to use the `import ... as ...` syntax but dropped it in #61, which is where the bulk of the debate happened. We also added a note about the syntax to our [frequently argued issues](http://swcarpentry.github.io/python-novice-inflammation/guide/) section. The issues in that section are unlikely to be revisite

[2017-01-09 21:38] djinnome opened #342 "DataFrames instead of numpy arrays?"
Hi folks,

  One of the challenging and frustrating things about working with multi-dimensional data is keeping track of indices.  Was the patient the rows or the columns?  Do you index row, column, or column, row?
For folks who are used to working with Excel files, working with arrays must feel like a giant step backwards.  On the other hand, DataFrames are much better suited to handling data fil

[2017-01-09 21:45] tbekolay commented on #342
Hi @djinnome, thanks for your interest in the lesson! Indeed this is a common piece of feedback we get. So common that @gvwilson made a new Python lesson from scratch that uses DataFrames rather than numpy arrays; see [python-novice-gapminder](http://swcarpentry.github.io/python-novice-gapminder/).

Since that lesson exists, I think effort taken to revamp this lesson would be better spent improvin

[2017-01-09 22:19] djinnome commented on #321
Perhaps this episode has been updated since October 7, but the prose looks correct to me and consistent with the diagram, although it could be clearer.  The current text is a bit glib about the semantics of `axis`, which could lead to confusion.

`numpy.mean(data, axis=0) ` means "Take the average across all rows (axis=0) for each column. The diagram shows the result, which is a vector of columns.

[2017-01-09 22:28] djinnome commented on #342
Hi @tbekolay thanks for pointing me to the gapminder lesson, and thanks @gvwilson for creating it!  I will definitely look it over and see if I can contribute something useful to it.

[2017-01-09 22:28] #342 closed

[2017-01-11 05:46] Ry4an commented on #51
I just updated PR #272 with all the input there.  If that looks like folks want it to I'll do a similar PR into gapminder.

[2017-01-11 18:00] aflaxman opened #343 "IndexError redundancy"
In http://swcarpentry.github.io/python-novice-inflammation/07-errors/ , I find the Index Errors redundant.  If we lead with an `IndexError` when defining the traceback, let's just say everything that needs to be said about index errors then, and not have to come back to it after `NameError`.  This is potentially related to PR #272.

[2017-01-27 21:46] dstndstn opened #351 "Markdown formatting and minor typos"
Oops, I forgot to create an Issue before diving in and sending a Pull Request...

I read through this lesson for the first time (fresh eyes!) and changed all the minor things I thought wanted changing.

PR is #350 .  Cheers!

[2017-01-28 15:15] dstndstn commented on #351
(I see that this PR includes the change in #345.)

I would be happy to break this into smaller PRs that address single types of issues if that is preferred.

[2017-01-31 16:43] Ry4an commented on #343
That seems sound.  Once/if #272 lands I could make this change.

[2017-02-01 02:26] neon-ninja commented on #328
On my machine, I get the same result in python2 and python3. I think the difference occurs depending on whether you're running a 32-bit or 64-bit version of python - see https://docs.python.org/3/tutorial/floatingpoint.html

python 2.7.10 on ideone: http://ideone.com/WYcuze = 121.0
python 2.7.10 on repl.it: https://repl.it/F26E/0 = 121.00000000000001
python 3.4 on ideone: http://ideone.com/DCQgI6

[2017-02-17 20:30] proteinmechanic opened #354 "Instructor training Checkout - Python Data Visualisation [use of ticks and labels]"
The first programming with Python exercise uses a data set for generating plots using libraries.
The examples covered include a breadth of commands but don't include the use of ticks and labels.

I think that 2 - 3 lines can be included into the demonstrations already present and should take hardly 1 minute above the time already being spent.

I have also jotted down a small script which makes use

[2017-02-21 19:52] dstndstn commented on #276
it looks like this issue was addressed in PR #323 which has been merged -- so this issue should be closed.

[2017-03-03 02:10] samedling opened #357 "Mentioning recursion in lesson on Creating Functions label:instructor-training"
In lesson 6, on Creating Functions, I think that we should at least have an exercise demonstrating recursion.  If there isn't always time to mention it in the main lesson, that's ok, but it should be available to learners seeking to work through the exercises to understand the full utility of functions.

[2017-03-06 16:55] stevehadd opened #358 "Key points in python inflammation lesson not aligned with content"
The key points (KPs) in several sections of the Programming with Python (Inflamation data) lesson do not align with the content of the section.
- 03: Storing Multiple Values in Lists
 - "Lists are indexed and sliced in the same way as strings and arrays." Learners will often use the keypoints as a "cheatsheet" to remind themselves of what they have learnt. It would be more useful to include an exa

[2017-03-21 06:09] ozej8y opened #362 "Index error in 'Analyzing Patient Data' - 01-numpy.md"
In the lesson 'Analyzing Patient Data' there is an index error.

After the heading 'Mystery Functions in IPython', is the line:

print('maximum inflammation for patient 2:', numpy.max(data[2, :]))

Since indexation in python starts at 0, Patient 2 should be numpy.max(data[1, :])

[2017-03-22 19:25] GregoryRHart commented on #362
If you look at the example above that you will see that the patients are also being zero indexed:

[code]

So patient 2 is the 3rd patient in the list and thus in index 2.

However, this was quite confusing for those in the workshop I attended. It might be helpful to add a call out box indicating that we are shifting our language to match the array indexing. i.e. The array starts with the zeroth p

[2017-03-22 22:42] ozej8y commented on #362
Hi Greg,

You are correct,  a call out box would help to clarify the issue.

Thanks,
             Jay.

[2017-03-27 02:12] sgenie68 opened #364 "02-loop.md file - explanation of loop variable names does not mention limitations on the names"
What's in a name? part mentions that any name can be used as a loop variable. IMHO it is worthwhile mentioning here that there are certain rules and limitations on naming the variables even if these rules and limitations are mentioned someplace else. An important thing to consider would be case sensitivity, for one. Also, the scope of a loop variable would be worthwhile mentioning, too - it may le

[2017-03-27 02:18] sgenie68 commented on #357
I can take it up for fixing.

[2017-03-27 15:44] tbekolay commented on #357
I think that recursion is well outside of the scope of this lesson.

The purpose of the lesson is to get scientists up and running with some basic Python programming, not to have them appreciate the full utility of functions and other abstractions used in computer science. I know that in functional programming languages, recursion is a central concept necessary to be productive; however, in my 7-i

[2017-03-27 20:09] sgenie68 commented on #357
Thanks, Trevor, however I disagree, - recursion is not only valuable tool in many cases, but it is also a demonstration of a feature which is not apparent initially. There is no need to go deep and explain the intricacies of stack handling and suchlike, but having a paragraph or two would, in my opinion, be beneficial.

[2017-03-28 21:28] dstndstn opened #366 "06 - composing functions - refactor to build up a more complicated function"
Currently, the fahr_to_celsius function is composed of fahr_to_kelvin and kelvin_to_celsius, both of which involve the "magic number" 273.15 -- this seems like bad form; and fahr_to_kelvin includes both conversion functions, so the composition doesn't really make sense, since it "undoes" a conversion that was already done.

[2017-03-29 15:35] tbekolay commented on #357
I appreciate that recursion can be a useful tool in some cases. However, there are so many useful tools in programming, Python programming, the data science stack in Python, and so on that we have to be frugal in what concepts we include in a lesson which is, frankly, already too long.

The rule of thumb we've used in the past is that we can only include new concepts if we take out a concept that'

[2017-03-29 15:55] tbekolay commented on #366
You're right that the composed `fahr_to_celsius` isn't the most efficient way to do the conversion (both computationally and conceptually). But the point of the topic isn't to present efficient code, it's to introduce the concept of function composition. It's relatively easy to motivate composition when presenting this lesson by appealing to laziness -- "Who remembers the formula to convert from f

[2017-03-29 16:07] dstndstn commented on #366
I'm concerned about the conceptual complexity, not the computational.  The way the functions are currently laid out, it's like 2-steps-forward-1-step-back to do fahr to celsius via fahr to celsius to kelvin plus kelvin to celsius.  Sure, I can see the "laziness" appeal, but I don't see this as a good example of building up complexity.

Let me put together a quick PR just to see what it looks like.

[2017-04-19 19:45] ErinBecker opened #371 "Distribute challenges throughout episodes"
See swcarpentry/shell-novice#552

[2017-04-20 00:00] amandamiotto opened #373 "Spyder IDE has lagging bug"
We tried using the Spyder IDE that is installed with Anaconda. Its very similar to layout to RStudio and was mostly perfect EXCEPT a bug that makes it laggy half way through the day. Its a known bug https://github.com/spyder-ide/spyder/issues/1831 and https://github.com/spyder-ide/spyder/issues/1810 (Not just a matplotlib issue). Once this is repaired, I highly recommend this.

[2017-04-20 00:03] amandamiotto commented on #373
Meant to put this in python gapminder sorry.

[2017-04-20 00:03] #373 closed

[2017-04-25 20:48] ErinBecker commented on #371
Issue submitted to lesson-example swcarpentry/lesson-example#114

[2017-04-25 20:48] #371 closed

[2017-04-27 10:25] aliceminotto commented on #364
Also the list named 'list' is confusing as it's a key word, and it's not explained in the material. what about renaming to element_list, or elements?

[2017-05-16 18:41] godmar opened #378 "02-loop example should not suggest naive evaluation of polynomials"
According to [the main website](https://software-carpentry.org/), Software Carpentry's goal is to teach basic lab skills "for research computing."

For this reason, I would remove or replace the example: "Computing the Value of a Polynomial" as it suggests a naive method of evaluating polynomials that is inefficient in general and particularly unsuited for floating point numbers due to its lack of

[2017-05-16 18:48] tbekolay commented on #378
I'm cool with adding a warning, though I would prefer one kindly worded rather than strongly worded (i.e., point the reader to better alternatives rather than telling them that this option is a bad one).

I'd be okay with removing the example if another example using `enumerate` were put in its place.

[2017-05-18 12:38] godmar commented on #378
What is the recommended format for including references to other sources?

[2017-05-18 13:19] ntmoore commented on #378
In the past people have used weblinks if there reference is online.
Markdown has a format tag for that.  Paper references, I'm not sure.  Maybe
a footnote?

On Thu, May 18, 2017 at 7:38 AM, godmar <notifications@github.com> wrote:

--
- - - - - - -   - - - - - - -   - - - - - - -
Nathan Moore
Mississippi River and 44th Parallel
- - - - - - -   - - - - - - -   - - - - - - -

[2017-06-07 17:48] chmille3 opened #382 "Analyzing data from multiple files - no example using '?'"
I noticed in the Analyzing Data from Multiple Files section, the '*' and '?' were presented for use in pattern strings. However, an example of how the '?' can be used is not given. Basically, it is mentioned but is not used. Two options could be:

- Remove mention of '?', or

- Add a few lines with a simple example: What if one wants the files numbered 10 and up or below 10:

             above 10

[2017-06-19 14:01] rgaiacs opened #384 "list functions vs list.copy()"
Please delete the text below before submitting your contribution.

---

Thanks for contributing! If this contribution is for instructor training, please send an email to checkout@carpentries.org with a link to this contribution so we can record your progress. You’ve completed your contribution step for instructor checkout just by submitting this contribution.

Please keep in mind that lesson maint

[2017-06-19 14:01] #384 closed

[2017-06-19 14:09] rgaiacs opened #385 "list functions vs list.copy() for deep copy"
http://swcarpentry.github.io/python-novice-inflammation/03-lists/ says

But, as explained in https://stackoverflow.com/a/17873397/1802726, `list()` will not create a deep copy. Should we use the solution offered at StackOverflow?

[2017-07-08 00:47] raynamharris opened #388 "tool for parson's problem's"
@pllim developed a really cool python script for creating parson's problems. You input a few lines of python code, and the output is a scrambled block of code with the indentation removed. This could be a really nice thing to use for creating challenges!

https://github.com/pllim/playpen/blob/master/scramble_codes.py

[2017-07-08 21:10] pllim commented on #388
Thanks, Rayna! Also see ErinBecker/instructor-training-reorg#33

[2017-07-10 06:05] #330 closed

[2017-07-18 03:47] nden opened #391 "a couple of suggestions after reading the lesson"
On one occasion the lesson mentions aliasing a package during import as in `import numpy as np`
Perhaps it's worth mentioning the construct `from ... import ...` which is also very often
used in scientific software and warn against using `from ... import *`.

While reading the section "Analyzing Patient data" I thought a call to the matplotlib `colorbar()` function after the `imshow()` call would

[2017-07-31 18:56] #351 closed

[2017-07-31 19:07] valentina-s commented on #357
I agree that recursion is not on the top list of things to be taught to a scientific programmer. I am not sure I remember the last time I have used a recursion. Also, from personal experience teaching it, it is not a very easy concept, so briefly mentioning it might confuse them differentiating from loops. Hopefully, they will continue programming and will encounter the concept sooner or later.

[2017-07-31 19:07] #357 closed

[2017-07-31 19:08] #281 closed

[2017-08-22 09:07] agbeltran opened #400 "Incorrect links to Glossary from in 01-numpy.md"
The links to the glossary are wrong in the 01-numpy.md lesson.

For example, the link to the library definition in the glossary from the lesson file:

https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/01-numpy.md

currently points to

http://swcarpentry.github.io/python-novice-inflammation/01-numpy/reference.html#library

which gives a 404.

The correct link is:

ht

[2017-08-22 10:13] agbeltran opened #401 "Lesson 01-numpy requires matplotlib"
The lesson [01-numpy](http://swcarpentry.github.io/python-novice-inflammation/01-numpy/) requires the installation of ```matplotlib``` and this installation is not done in the [setup](http://swcarpentry.github.io/python-novice-inflammation/setup/)

[2017-08-22 11:33] agbeltran opened #402 "Fix for solution for 'Moving plots around' in 01-numpy"
The solution given loads the data from outside the ```data``` folder, but all the previous scripts assumed that the notebook is run from inside the ```data``` folder.

So, change
```data = numpy.loadtxt(fname='data/inflammation-01.csv', delimiter=',')```
to
```data = numpy.loadtxt(fname='inflammation-01.csv', delimiter=',')```

[2017-08-22 21:16] tbekolay commented on #401
Hm, I think there was some discussion about this at some point, but the instruction to install Python and various libraries were kept out of this repository because there are other Python lessons, and it would be a pain to update the installation instructions on all Python lessons whenever a change is made. Because of that, we instead opted to link [these instructions](http://swcarpentry.github.io

[2017-08-22 21:29] agbeltran commented on #401
OK, thanks for clarifying. I now see that the [setup](http://swcarpentry.github.io/python-novice-inflammation/setup/) does point to the [instructions you mentioned](http://swcarpentry.github.io/workshop-template/#setup) and indicates that people should have already installed Anaconda.

I think it might be useful to add a little note pointing to this (and referring to how to install ```matplotlib``

[2017-08-26 18:15] tbekolay commented on #400
Thanks for pointing this out! I made #403 to address it.

[2017-08-28 17:33] pllim opened #404 "Unwanted __MACOSX folder in python-novice-inflammation-code.zip"
I followed instructions at http://swcarpentry.github.io/python-novice-inflammation/setup/ and downloaded `python-novice-inflammation-code.zip` to my Linux machine. Then, I unzipped it as follows:
[code]
Now, I see the following in my working directory:
[code]
Here is the content of `__MACOSX`:
[code]
Is there a reason you include this `__MACOSX` folder in your distribution?

[2017-08-28 17:38] pllim opened #405 "code and data ZIP files have different permissions"
After I unzipped both `python-novice-inflammation-code.zip` and `python-novice-inflammation-data.zip` on my Linux machine, I noticed that they have inconsistent file permissions:
[code]

[2017-08-29 10:09] rgaiacs commented on #404
`__MACOSX` is a hidden folder used by macOS but visible on other OS. Ideally the zip file would be generated by a continuous integration system but we don't have this flexibility with GitHub Pages.

[2017-09-09 12:54] #401 closed

[2017-09-22 02:08] valentina-s commented on #405
Thanks for spotting this problem. I updated the permissions of the code folder (to all). Can you check if it works on Linux: https://github.com/swcarpentry/python-novice-inflammation/blob/fix_zipfile/code/python-novice-inflammation-code.zip

I can also add more permissions for the data folder.

[2017-09-22 02:10] valentina-s commented on #404
I think I removed it in this version: https://github.com/swcarpentry/python-novice-inflammation/blob/fix_zipfile/code/python-novice-inflammation-code.zip

Can you double check if it cleaned (I am on Mac so it is invisible to me)?

[2017-09-23 08:00] #400 closed

[2017-09-23 08:04] valentina-s commented on #402
Indeed, the call should be from the data folder. Are you willing to submit a pull request with the fix?

[2017-09-23 08:15] #10 closed

[2017-09-23 08:18] #60 closed

[2017-09-23 08:31] agbeltran commented on #402
sure, I will, thanks

[2017-09-23 08:57] agbeltran commented on #402
I have just checked and this has already been fixed in
https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/01-numpy.md

Closing the issue.

[2017-09-23 08:57] #402 closed

[2017-09-25 17:51] souravsingh commented on #287
@valentina-s I am interested in fixing the issue in NumPy episode.

[2017-09-26 22:19] nmearl opened #408 "Consistency in 02-loop lesson"
The pacing and introduction of python concepts centered around the 02-loop lesson, seems a bit jarring and inconsistent:

- The beginning of the lesson establishes loops as an easy way to repeat operations, _specifically_ creating plots for sets of data, but this is not done in the lesson.
- The lesson involves using lists as an example of other iterables with which `for` can be used; however, lis

[2017-09-27 02:33] amjames commented on #404
@valentina-s the `__MACOSX` folder only appears when the archive is unpacked at the command line.  If you unpack the zip file using the `unzip` command line utility, even on OSX it will appear, if you unpack by clicking on the zip in finder it does not. However creating an archive without the `__MACOSX` folder does not prevent you from unpacking it in this way. The same behavior is observed in the

[2017-09-27 02:44] amjames commented on #404
@rgaiacs brings up a good point though. If the contents of the code directory were subject to some type of CI zip files could be automatically updated as the code changes.  Also having CI on the code is a good idea, since for example currently `arith.py`, `check.py`, and `line_count.py` are all technically broken as they still contain python2 print statements. I don't really know how nicely CI wou

[2017-09-27 10:13] rgaiacs commented on #404
Probably because finder default is to save everything that the user is going to need to have thumbnails inside the zip file.

@amjames Can you open a issue for it.

[2017-09-27 14:36] amjames opened #410 "Code Samples have not been updated for python3"
The following files in `/code` still contain python2 `print` statements even though the course is advertised  as using python3.

- `arith.py`
- `line_count.py`
- `check.py`

I haven't checked if there are any other python2->python3 changes that are needed.

[2017-09-27 14:39] amjames commented on #404
@rgaiacs done #410

[2017-09-28 00:05] jokedurnez commented on #410
I made a pull request with a fix for this issue :)

[2017-10-04 18:08] pllim commented on #404
The `__MACOSX` is still there.

[2017-10-04 18:10] pllim commented on #404
Oh, wait... You put the fixed ZIP file somewhere else, I see. Nope, can't even unzip the one at https://github.com/swcarpentry/python-novice-inflammation/blob/fix_zipfile/code/python-novice-inflammation-code.zip .

[code]

[2017-10-04 18:14] pllim commented on #405
Thanks, but unfortunately now I cannot even unzip it. `unzip` command on Linux now gives me this error:
[code]

The same command worked on the original archive.

[2017-10-04 19:55] valentina-s commented on #405
Not sure what is wrong with that one as it opens on my laptop. Can you try this one submitted by @amjames https://github.com/swcarpentry/python-novice-inflammation/pull/409/files before I merge it. It removes the MACOSX folder and the permissions after unzipping on my laptop are drwxr-xr-x for the folder and -rw-r--r-- for each file. What permissions do you think we should aim for?

[2017-10-04 20:04] pllim commented on #405
@valentina-s , yes, the version from @amjames works fine and has no extra `__MACOSX` folder. Thank you!

[2017-10-04 20:45] #404 closed

[2017-10-04 20:47] #405 closed

[2017-10-04 21:06] valentina-s commented on #410
I think this has been resolved. Thanks!

[2017-10-04 21:06] #410 closed

[2017-10-11 22:54] NickleDave opened #416 "missing definition for `mutable` from glossary?"
Episode 3 has a link to the definition of `mutable` and `immutable`, and `immutable` itself says "See `mutable`", but there's no actual definition for `mutable`.

Guessing you would want some definition that's the opposite of the `immutable` definition. E.g.,
"Changeable. The value of mutable data can be altered after it has been created. See `immutable`."

I'd be happy to put in a PR to fix this,

[2017-10-18 19:38] tbekolay commented on #416
That definition looks good to me, if you could make a PR we would greatly appreciate it!

[2017-10-20 22:26] FelixLiu-SF commented on #276
I think the current enumerate explanation in Computing the Value of a Polynomial can be improved by explaining all of the variables - not just i and x.

Underneath the example,
for i, x in enumerate(xs):
    # Do something with i and x

It currently reads: "The loop above assigns the index to i and the value to x."
It may be better to say something like: "The code above loops through xs, assigning

[2017-10-22 08:05] valentina-s commented on #51
This has been resolved. I added an issue to the gapminder lesson to see if they would like such a change: https://github.com/swcarpentry/python-novice-gapminder/issues/247

[2017-10-22 08:05] #51 closed

[2017-10-22 09:40] valentina-s commented on #276
Thanks for the suggestion. Would you like to submit a PR to add this modification?

[2017-10-23 06:59] valentina-s commented on #271
This has been resolved by replacing with .png's.

[2017-10-23 06:59] #271 closed

[2017-10-23 08:22] valentina-s commented on #358
Thanks! It will be great if the key points get revised to reflect the content. PR's welcome!

[2017-10-23 08:27] #276 closed

[2017-10-23 08:32] valentina-s commented on #321
Yes, it will be great if those clarifications are added and the inconsistencies are eliminated. PR's welcome!

[2017-10-25 04:26] tasospap21 opened #419 "Confusing names in the general form of a loop"
In the material, the general form of a loop is:

for element in variable:
    do things with element

However, the name variable for the collection/set of values is probably confusing for the audience.

I would recommend changing this and also be consistent with the R course, where the naming is much better and clearer:

for variable in collection:
  do things with variable

---

Thanks for contri

[2017-10-25 19:11] delphios opened #420 "Conceptual explanation of Loops"
This pertains to the section about Repeating Actions with Loops.

Some of the logic does not appear to follow: we first show indexing of particular elements, i.e. word[0], word[1]..., but do not use actual indices in loops. It would be helpful to show looping both ways, both `for char in word` and `for x in xrange`. This would also serve as a conceptual link to the `enumerate` section at the end.

[2017-10-26 13:12] tylerkelly13 commented on #419
Agreed. Added pull request with suggested change.

[2017-10-31 18:22] shwina opened #424 "Key points in 06-func mentions stack frame/call stack, but these are not covered"

[2017-11-01 04:29] yeemey commented on #358
Hi, I opened a PR for this, addressing all the suggested changes except one re: True/False booleans in ep. 05. This appears in the challenges section, and instructors sometimes skip some of them. IMO, might not be necessary in Key Points, but I defer to @valentina-s. I'm happy to add that change if you think it's better.

[2017-11-02 13:57] tbekolay commented on #419
Done in #423.

[2017-11-02 13:57] #419 closed

[2017-11-09 10:10] dseuss opened #426 "Explanation of print function"
While teaching the first part "Analyzing Patient Data" for the instructor checkout, we noted that the `print` function was never really explained. Since this is the first lesson in python, it would probably be good to add a short paragraph about the `print` function and especially that it accepts an arbitrary number of arguments in the very beginning.

[2017-11-10 16:22] wyojustin opened #428 "New default colormap for matplotlib"
The colormap for matplotlib2.0 has changed from "jet" to "viridis".  Please [see](https://matplotlib.org/users/dflt_style_changes.html#colormap) for a description and justification.  Having attended scipy when this issue was vigorously debated, I know many people to not take this issue lightly.

I suggest the following enhancement: replace fig/01-numpy_71_0.png with an updated plot.  Happy to subm

[2017-11-17 19:46] Laura-Gomez opened #431 "Contribution-python-lesson"
---

Episode: Analyzing data from Multiple Files. In the exercise: "Generate composite statistics"
The solution points to the path: data/inflamation*.csv
It should be: inflamation*.csv

Episode: Making choices. In the exercise "Sorting a list into buckets".
It says: The folder containing our data files has large data sets whose names start with “inflammation-“, small ones whose names with “small-“

[2017-11-20 07:09] valentina-s commented on #358
Thanks! Looking now at the lesson there is no explicit statement really explaining that something like 1 > 0 returns the value True. I think it is worth adding a line about that. Then we can also add the keypoints.

[2017-11-28 05:58] richyvk commented on #431
Fixed some of this: https://github.com/swcarpentry/python-novice-inflammation/pull/432

[2017-12-06 14:45] smangham commented on #408
I'd definitely agree with this. Given the previous step was very practically-oriented and quite detailed, the switch to a more abstract, theoretical (and notably easier!) style is a bit jarring.

The 'drawing straight lines' section of code from the previous lesson could easily be dropped into a for loop over an list of filenames (maybe saving the figures instead of plotting them). This would clas

[2017-12-06 14:50] harpolea commented on #424
I agree that these two points should be reworded - in the lesson, there is an example which talks about variables defined inside the function not being 'known' outside of the function. This sort of language would be more appropriate than 'stack frame'.

[2017-12-06 14:56] jag1g13 commented on #408
Since Numpy has been brought up in the previous session, why not have a loop over a Numpy array as one of the examples?  That would also partially address the first point - that we explicitly point out iterating over multiple datasets as the example for where loops are useful, but don't do that until later.

In my (very brief, I have taught this session only once) experience this section on loops

[2017-12-06 15:03] rpep commented on #426
I've made a pull request which I hope addresses this. Does anyone have any comments?

[2017-12-06 15:17] mialondon commented on #426
Thanks for that, looks good to me!

[2017-12-13 16:06] cleary3 commented on #420
If explicit ranges were to be added to the lesson, `for x in range` would be more appropriate than `for x in xrange`. The Software Carpentry Python lessons are based on Python 3 (in which _xrange_ is deprecated).

Even so, the transition from `word[0]`, `word[1]`, etc., to loops isn't much of a leap, given the included diagram that pictorially shows how the loop over a string selects each characte

[2017-12-13 16:10] cleary3 commented on #391
Perhaps it's worth mentioning the construct `from ... import ...` which is also very often
used in scientific software and warn against using `from ... import *`.

As I understand it, the Python lessons in Software Carpentry are trying to teach basic programming skills and concepts with Python as a vehicle for the instruction. Software Carpentry is explicitly not trying to teach Python. The variou

[2017-12-13 16:15] cleary3 commented on #385
The lesson does mention that this method of copying a list only works for simple lists. Much more detail than that likely dives too deeply into esoteric programming concepts not appropriate for the novice programmer audience that Software Carpentry targets. Given that the lesson calls out using `list()` to copy _simple_ lists, I expect that instructors can tailor their message to specific audience

[2017-12-13 17:56] rgaiacs commented on #420
The motivation to not include

[code]

in the lesson is that it can be seeing as a bad practice, at least in Python. Learners with experience in other languages, e.g. C and Fortran, could decide to always do `for i in range(x)` instead of `for item in x` due their similarity with C/Fortran.

[2017-12-20 12:26] dafnevk opened #436 "Add setup instructions for Windows users"
It would be nice to have setup instructions for opening an interpreter or Jupyter Notebook with Anaconda, without using the Unix shell (especially useful for Windows users).
As I understand, the Unix shell is no prerequisite for this lesson and with Anaconda navigator you can open an interpreter or Python notebook from the GUI. You just need to navigate to the right directory afterwards.

[2018-01-03 11:38] temuller opened #439 "Colormaps in Python"
I think it would be useful to put some more information about the different colormaps there are in Python or at least a link like https://matplotlib.org/users/colormaps.html to have where to read this. I also think it is important to highlight that there are some colormaps that are design to work with colorblind people. This last point is very important, specially if you are using colors in a plot

[2018-01-08 11:35] daguiam commented on #428
I also agree with changing the image in the online lessons to the new default colormap `viridis`.

Since this is a novice python class, most students will be installing python for the first time, which results in most students having matplotlib2.0 installed.
As the instructor giving the class may also have the latest matplotlib version installed, the plots they show when live coding will also have

[2018-01-09 12:55] kmichali opened #441 "episode 4, last exercise - change to data path"
Hi,
I propose a change to the Python lesson, episode 4, solution to the last exercise called "Generate Composite Statistics".

During the whole lesson the attendees are inside ~/Desktop/python_novice_inflamation/data/. Yet the solution to the exercise assumes that they are in ~/Desktop/python_novice_inflamation/.

I propose to change the solution to the exercise from:

import glob
import numpy
imp

[2018-01-10 12:38] verdurin commented on #441
Yes, I've just encountered this. It was disconcerting to see an error and graphs with no output.

[2018-01-10 12:53] verdurin opened #442 "Missing numpy import in episode 5 example"
In the *Checking our Data* example code in episode 5, `numpy` is not imported, so as presented the code will fail:
[code]

`import numpy` should be added at the head of the example code for this section.

[2018-01-10 12:57] verdurin commented on #442
Actually, it applies to both examples in that section.

[2018-01-16 15:39] jamkoch opened #444 "Making Choices - Checking our Data - Simplify example"
The following code example seems too confusing for a Python beginner:

[code]

I suggest using an extended code example to allow beginners to focus on the conditional statement:

[code]

---

_edited by @maxim-belkin to remove template text and add code blocks (2018-04-13)_

[2018-01-16 17:29] nspies opened #445 "Make numpy matrix indexing convention clear early on"
Minor fix to make it clear that `data[30,20]` accesses row 30, column 20 -- otherwise, this key piece of information is buried several paragraphs later in the "In the Corner" section.

[2018-01-17 21:53] robertbjornson opened #447 "Where is jupyter notebook file?"
Hi,

I'm trying to run the python lesson within a jupyter notebook.  I've downloaded and unzipped the files, but I don't see any jupyter notebook file (.ipynb).  When I run jupyter notebook in the data directory I basically just see the csv files.

I searched the github repo and see no .ipynb file there either.

Am I doing something wrong?

Thanks!

Rob

[2018-01-18 01:26] yeemey commented on #447
When you run Jupyter, there's a 'New' button near the top right. Clicking on that gives you a dropdown menu to create a notebook (.ipynb file). After creating the notebook, you should see it in the directory as a .ipynb file.

[2018-01-18 01:41] yeemey commented on #447
This may be helpful to add to the Setup page instructions.

[2018-01-18 06:57] #428 closed

[2018-01-19 04:17] marwahaha opened #449 "Why do we make notebooks in the data/ directory?"
We just ran this workshop. It seemed clear to create a notebook in the python-novice-inflammation/ folder, but all the examples are listed with `inflammation-01.csv` (we got tons of `no file or directory found` errors; quick fix is `!pwd` in the notebook to see where you are, then probably change to `data/inflammation-01.csv` ). The [setup is at least consistent](http://swcarpentry.github.io/pytho

[2018-01-19 04:25] marwahaha opened #450 "help() doesn't work in windows installation of jupyter notebook"
Just reporting from some fresh installs at a workshop.

When I go back tomorrow, I'll try to grab the error message, but it was 4 or so lines.

The `?` worked just fine.

Since this is a nice-to-have, I'd love a small note about these tools potentially not working in the instructor materials. [We do something similar in the shell lesson, for `man`](http://swcarpentry.github.io/shell-novice/02-file

[2018-01-19 04:33] marwahaha opened #451 "python 2-3 compatibility and gotchas"
### compatibility
Perhaps this has been previously discussed. It would be great to ensure that all code is compatible with python 2 and python 3. This ensures that the installation version does not hinder the learning. The syntax is similar enough that we should not take a purists' stance here.

### gotchas
There are simple things that may confuse instructors used to one version, but the students

[2018-01-19 05:09] marwahaha opened #452 "lesson timings too short + no exercise timings"
I'd rather this be a discussion vs make a PR.

The 01- lesson, with exercises, commonly takes the first half of an afternoon (especially since there is no intro to variables, data types, etc.; learners are "thrown in the deep end"). It is only with careful skipping of certain parts can I fit a number of lessons in a 3-hour session. Even across two days, there is a massive amount of material to cov

[2018-01-19 13:42] rgaiacs commented on #451
It was.

As far as I remember, we are supporting and teaching Python 3. We signed the [Python 3 statement](http://www.python3statement.org/) which says

As far as I remember, we are requiring/recommend learners to install Python 3 for more than a year. I expect that instructors teach using Python 3 (from their default installation or using a virtual environment) to avoid different output from the

[2018-01-19 19:17] marwahaha commented on #451
I think our lessons should be Python 2 compatible and Python 3 compatible.

For example, this `fahr_to_kelvin` lesson should work for both Python 2 and 3.
http://swcarpentry.github.io/python-novice-inflammation/06-func/

This can be mitigated easily with a `5.0` or `9.0`. This can be so frustrating to the novice programmer! I'd rather a working solution be in our initial examples, as opposed to th

[2018-01-20 15:34] rgaiacs commented on #451
I disagree. When I learnt Fortran I hate that my instructor was enforcing our code to be Fortran 77 compatible.

Realistic, except for significant figures reasons, who does write `5.0` or `9.0` when coding or in reports? By default coders are lazy and will avoid type as much as possible.

If a learner is using Python 2 for what ever reason, they should be aware of the differences between Python 2

[2018-01-23 20:51] LibraryViking opened #453 "Episode 2 - Loops - Describing for-loops as iteration"
Hello there!

I'm new to Python and to Software Carpentry, so this suggestion may be too beginner-oriented. When going through Episode 2 and starting the discussion on loops, the code is given as:

[code]

The word `oxygen` is then printed out, letter by letter.

When reading this for the first time, I thought that the variable `char` had some kind of command built into it to print each character

[2018-02-08 13:12] gcapes opened #454 "Confusing exercise wording"
Ep1 check your understanding

It seems strange to request a diagram. Rather, 'write down what you expect the answer to be' would seem to be a more sensible wording?

[2018-02-08 13:34] gcapes commented on #447
I'm submitting a PR for this.

[2018-02-09 09:38] gcapes opened #458 "Pepper indexing analogy is incorrect in ep3 (lists)"
The last image should show the first grain of pepper for the analogy to hold. That's what `x[0][0]` would refer to. The current image is more an unordered representation of
[code]
Which gives
[code]

For the analogy to be useful, it shouldn't break down at the end.

[2018-02-09 09:59] mikej888 opened #459 "Explain or remove "center a dataset" in 06-func"
Provide a 1-2 line description of what this concept is in http://swcarpentry.github.io/python-novice-inflammation/06-func/m, and why it's done, in terms that a non-maths/stats student (or instructor!) can comprehend. Alternatively, preferably, rewrite that page to introduce the concepts of functions without such stats/maths concepts also.

[2018-02-09 10:21] gcapes opened #460 "Why use a list to swap contents of variables?"
Episode 3 has this challenge
[code]
but there is no explanation as to why a list is used instead of
[code]
which gives the same result.

[2018-02-09 10:53] gcapes opened #461 "Ep4 'Plotting differences' -- files need sorting first"
This challenge is to plot the difference between the first two files in the previous example. However the solution doesn't sort the filenames as the previous example does, so the plot represents whatever the first two files are in the unsorted directory listing.

[2018-02-09 13:04] gcapes opened #464 "Ep 05 'Sorting a list into Buckets' - solution should use clues given"
Yet the solution uses the `if x in y` notation instead, so there seems no reason to have mentioned the `startswith` method. Given the `x in y` notation hasn't been introduced, I propose changing the solution to use the `startswtih` method.

[2018-02-09 13:53] gcapes opened #466 "Ep6 'tidying up' -- filenames are unsorted"
Re:
[code]
Earlier in the lesson we use
[code]
though this will be updated to the following if #462 gets merged
[code]
So the files are not currently sorted. For robustness and as a reminder, I think this code to list the filenames should be repeated here.

Equally, if we're using a subset of the filenames to only treat the first three files, then `filenames[:3]` is redundant.

[2018-02-13 20:09] cleebp commented on #464
I think this change is needed - I just created a [pull request](https://github.com/swcarpentry/python-novice-inflammation/pull/468) to change the solution code to use the startswith command over the 'if x in y' style previously being used.

[2018-02-14 08:24] gcapes commented on #464
See also #465, of which your PR is a duplicate ;)

[2018-02-15 07:50] gcapes commented on #464
No worries! It's just waiting for a maintainer to look at it.

[2018-02-15 13:39] #461 closed

[2018-02-16 11:18] miili commented on #439
hi there,

this could rather be part of the sequal session https://github.com/swcarpentry/python-novice-gapminder as this lesson is more beginner oriented.

[2018-02-19 10:02] #464 closed

[2018-02-20 11:05] miili opened #472 "Correct Syntax highlighting for Tracebacks"
Would be nice to have correct syntax highlighting on the SWC material.
Pygments supports these as `pytb`.

http://pygments.org/docs/lexers/#pygments.lexers.python.PythonTracebackLexer

[2018-02-20 11:34] rgaiacs commented on #472
We are using https://kramdown.gettalong.org/syntax_highlighter/rouge.html. I think that, for example, https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/07-errors.md if you change

[code]

to

[code]

you might get the desired output.

[2018-02-20 12:44] miili opened #473 "Improvement: Defensive Programming - Assertions"
function `normalize_rectangle` is not easy to comprehend for beginner. Why should a rectangle be normalized?

http://swcarpentry.github.io/python-novice-inflammation/08-defensive/

I propose a simple simple function `scale_rectangle`

[code]

[2018-02-20 22:19] decaelus opened #474 "Small mods to "Analyzing Patient Data" lesson"
Dear SWC,
Having just the  trainer training workshop, I've been asked to contribute to a lesson to complete the training. I'm a little unclear about how to contribute and to which lesson to contribute, but I read through the "Analyzing Patient Data" lesson to see if I could help with anything. I think there are a number of small clarifications (and punctuation corrections) that might add value to

[2018-02-21 08:26] annefou commented on #474
Dear Brian,

If you would like to make punctuation corrections or clarifications to our lesson, you are more than welcome to fork the repo and make a pull request. Even though the lesson is quite mature, we still find typo or unclear statements and I am sure that would satisfy the requirement for the trainer training.
Thanks for your efforts.
Anne.

[2018-02-21 08:37] annefou commented on #472
Yes I just tried it and indeed we would have syntax highlighting for errors and outputs by replacing:
{: .error}
by
{: .error .language-python}

and
{: .output}
by
{: .output .language-python}

That would be a great contribution to the lesson. Would you do that @miili ?

[2018-02-21 09:14] miili commented on #472
Can do, for at least the Error lesson! Take me as assigned.

[2018-02-21 09:17] annefou commented on #472
Thank you so much!

[2018-02-21 23:14] miili commented on #472
Anne, you are welcome.

[2018-02-22 19:36] annefou commented on #460
Yes you are right. I don't kow why a list is used!

[2018-02-22 19:40] annefou commented on #473
I agree with you. I am not sure it is necessary to have such complex function. However, the name of the function scale_rectangle looses its meaning with your simplified version. I guess the idea was also to have a meaningful function (in terms of content). I labeled this issue as both enhancement and discussion to get more inputs from others.

[2018-02-22 19:43] tbekolay commented on #460
A list is used because Episode 3 introduces lists. We never introduce tuples explicitly, which is what is made in `left, right = right, left` (it's equivalent to `left, right = (right, left)`). Having the right side be a list lets us avoid explaining that Python automatically makes tuples out of variables in comma separate lists.

We could consider changing it to

[code]

[2018-02-22 19:58] annefou commented on #460
Thanks!  Yes it could be a good idea to stick to list and follow your suggestion.

[2018-02-23 10:07] #466 closed

[2018-02-23 10:09] #441 closed

[2018-02-23 10:10] #447 closed

[2018-02-23 10:24] abtsubaki commented on #453
I agree with this - when I first started learning Python I had this exact same conundrum, not realising that 'char' is just a variable and you can actually make it anything, eg. x or ch or whatever.
When I teach this, I re-do the for loop, using a different variable there.
Maybe, this could be introduced into the lesson, in order to make the fact that 'char' is just a variable name, more clear?

[2018-02-26 09:16] #474 closed

[2018-02-26 11:05] jhidding commented on #453
Maybe the concept of iteration is a bit abstract to start with. An `iterator` is a specific thing in Python that is more generic than just for-loops; speaking of a for-loop as an `iterator` is correct in the broad sense of the English word, but incorrect when it involves more specific programming concepts.

Rather, I think, the concept of a linear collection as list-like objects (e.g. strings, ran

[2018-02-26 12:06] jhidding commented on #460
After programming Python for 15 years, I never new lists could be used as lvalues like that. In fact it confuses me a bit. The truth is that Python syntax has special syntax for assigning to multiple values, all versions (with list, explicit or implicit tuple syntax) internally compile to the same code, meaning that no 'physical' list or tuple is involved.
One of the more tricky things when learni

[2018-02-26 15:05] tbekolay commented on #460
@jhidding are you arguing for keeping the current snippet, which is

[code]

? If so, that seems reasonable to me. It's also less work than changing it :+1:

[2018-02-27 02:12] profgiuseppe opened #485 "Episode 10 struggles on some operating systems"
Episode 10 starts with the assumption that Python 3 is available in the user's shell.
However, at least o Windows, that may not be true:
- Git Bash may not be able to find Pyhon 3 (either because it is not in the path, or because there are multiple installation of Python, e.g. Python 2.7)
- Anaconda Prompt does not support head command

Proper way to proceed should be stated at the beginning. If t

[2018-02-27 07:08] jhidding commented on #460
@tbekolay No, I'm arguing that we shouldn't involve lists at all. I would leave out any brackets like @gcapes suggested; or maybe even better, leave out the exercise.

[2018-02-27 07:43] annefou commented on #485
When the lesson is taught as part of a Software Carpentry workshop, git bash is installed and this is what we would use for Episode 10. Each lesson has a very short setup, mostly related to data needed for the lesson. We usually have a workshop setup with all the necessary packages (git bash, python or R, etc.) to be installed. I don't really know what is the policy here and if some information ab

[2018-02-27 22:33] ldko commented on #485
This was an issue we encountered at our last workshop, and it was kind of sloppy to get past because we weren't prepared (the instructors and helpers were using Linux and Mac). Windows learners couldn't run the programs in Git Bash with `python` because it wasn't on the path, so we had them open up Anaconda Prompt to run the code, but then they couldn't use nano or commands like `head` and `ls` in

[2018-02-28 12:15] rgaiacs commented on #485
We are planning a revision of the installation instructions. Please see https://github.com/swcarpentry/workshop-template/pull/459.

[2018-02-28 14:20] petebachant commented on #485
I believe the current best practice on Windows is to add this to `~/.bashrc`:

[code]

[2018-02-28 19:23] ldko commented on #485
@petebachant that seems much better than having people set their path with `SETX` which could have bad results. I removed Anaconda Python from my path and tried your suggested way by doing:
`echo  ". \$HOME/AppData/Local/Continuum/anaconda3/Scripts/activate" > ~/.bashrc`
and that worked. Thanks!

[2018-03-03 14:06] annefou commented on #458
It took me a while to understand your point! It's true that images do not fully match the text: list of grocery products versus pepper sachets. However the visual example is very good. Maybe this section  ("Nested lists") could be rework for instance using plant seeds (using sachets of sunflower, pumkin, tomatoes, etc.).

[2018-03-03 14:17] annefou commented on #452
It's true that the timing is quite approximative and the effective time will depend on the audience. And you are right, we often have to skip episodes or exercises and even though rarely reach the end of the lesson.
Many of the Software Carpentry lessons are too long, and it is not always clear, especially to new Instructors, what are the essential elements of the lessons that need to be taught.
T

[2018-03-03 14:34] annefou commented on #451
Thanks for contributing to the discussion.

I definitely agree with @rgaiacs
I think the mission of "The Carpentries" is to teach modern programming and trying to make our lesson python 2 "compatible" would not send the right "signal" to our learners.

@marwahaha do you mind if I close this issue?

[2018-03-03 14:40] annefou commented on #450
@marwahaha do you have more information on this? It is difficult to track down this problem without any further information.

Thanks.

[2018-03-03 15:03] annefou commented on #449
That's true. Even when checking the setup instructions during the class (showing they should have 3 files "inflammation-01.csv, inflammation-02.csv, inflammation-03.csv"), we still have attendees getting "no file or directory found".  It's a good opportunity to refresh their memory (they usually had a bash shell lesson before or the day before) and also show them how to "navigate" when starting Ju

[2018-03-03 20:22] annefou commented on #439
Choosing colorblind friendly colormaps is indeed very important and probably not enough highlighted. The focus of this lesson is on the python language and we don't put much emphasis on plotting. @miili is pointing to the novice gapminder lesson where plotting takes a more important part but do you have
any inputs on where we could add such information in the novice inflammation lesson?

[2018-03-05 08:59] gcapes commented on #458
Hi @annefou, my point isn't about pepper sachets vs grocery products.

Rather, it's that the last visual example is completely wrong, which is shame because the first three are very good analogies. The last image doesn't match the subscript notation. `x[0][0]` would refer to one (and specifically, the first) grain of pepper. The image corresponding to `x[0][0]` shows all of the grains, unpacked fr

[2018-03-05 10:32] annefou commented on #458
@gcapes For me the first grain of pepper would be 'p' (first letter of 'pepper'): x[0][0][0]. I don't think it helps that the images do not match the text and this is why I suggested to rework it.

[2018-03-05 14:47] gcapes commented on #458
:) We're talking at cross purposes here.
You're using the lesson's definition of`x` which is a list of groceries. I'm talking just about the images, which are a general analogy for a list of lists. It just so happens that each sub-list (sachet) is the same.

Now, considering the images to be a general analogy for a list of lists and nothing to do with the previously defined list `x`, naming the pi

[2018-03-19 12:11] msarahan commented on #485
@petebachant has the best answer.  I work for Anaconda, and we have tried to make sure that the activate shell scripts work in bash on windows.  If you have issues, please file them on the conda issue tracker at https://github.com/conda/conda

@ldko I'm glad you removed Anaconda from PATH - that's cleaner and less likely to interfere with random stuff.  We advise that by default in new installatio

[2018-03-19 23:04] msarahan commented on #485
There was some discussion at https://github.com/unt-carpentries/2018-03-14-unt-swc/issues/14#issuecomment-374414961 about when/why adding entries to PATH is something you either want to do (for convenience) or want to avoid (for avoiding problems).

[2018-03-20 19:38] iglpdc opened #489 "Add exercise to stress how functions are different from math functions"
Mark Guzdial had [an interesting post a few days ago](https://computinged.wordpress.com/2018/02/26/confusion-over-the-forms-of-programming-problems-mathematics-physics-versus-cs/) on how learners with a math background may assume mistakenly that a function in programming is the same as a function in math. The exercise just asks the learner what's the output of:

[code]
I tried it and got it wrong

[2018-03-21 06:04] biavillas opened #491 "Episode 2 - range doesn't return an array"
In episode 2 (_Repeating Actions with Loops_) the first exercise is called "_From 1 to N_". This is a good exercise, but I believe its description might give rise to some confusion for novices.

The exercise introduces the concept of looping through the elements of a collection using Python's built-in function "_range_". On the first bullet point explaining what range does, we have:

- _If one par

[2018-03-21 15:56] labrax commented on #491
To avoid these problems we can write this point similar to the next ones:

Instead of:

We can write as:

Using this approach we omit the explanation of the function return and explain what is the goal of the lesson.

[2018-03-21 22:35] biavillas commented on #491
Thanks for the suggestion. I agree this would be the simplest solution to the problem.

However, I'm still a little concerned about the fact that the built-in _range_  function in python3 returns an object of type _range_. I imagine that if a learner tries to understand what is going on the exercise and type

`print(range(3))`

the learner will not get 0, 1, 2, which is what you would expect from

[2018-03-26 15:19] labrax commented on #491
Indeed, my solution will not help in the case of Python 3. Thank you.

How about we create a case just like the ones before, something in the lines of:
[code]

[2018-03-27 09:14] annefou commented on #491
I don't think we should bother about python 2 as our lesson is python 3.  But you are right, the current lesson is a bit confusing because it does not really explain what the built-in range does.
For instance, it is important to undersand why
print(range(3))
returns
range(0, 3)
and not 0,1,2
It has important consequences on the memory usage. You can iterate over a huge number of values and range(n

[2018-03-27 19:44] semodi commented on #491
Instead of introducing the concept of the built-in range function, would it be enough to say that range() does only make sense in the context of a for-loop and should not be used by itself ?
Also, I like @labrax's way of explaining it as 'instructions' for the for loop where to start and where to stop. Even though this might not be precisely what happens in the background, I think it's a good low-

[2018-03-27 19:49] maxim-belkin commented on #491
hmmm, how about `list(range(4))` ?

[2018-03-27 21:49] Autoplectic commented on #460
Couldn't it just be described that

    left, right = right, left

matches up elements and assigns them synchronously? Avoid discussion of list/tuple unpacking or assignment, since nothing like this is being done:

    left,  (a, b) = right, some_pair_of_things

[2018-03-27 21:52] sixpearls commented on #453
I just looked at this, and it seems like the list explanation only has one small example for-loop, and that may be as much a review as particularly insightful at this point.

I think list discussion would make sense to come first, and will create a pull request for that

[2018-03-27 23:36] sixpearls commented on #453
Sorry all, I misunderstood the community practices for issues and pull request. This is my proposal for how to address the issue that @LibraryViking opened.

- swapping the order of the episodes 02-loop and 03-lists
- removing the for-loop example from the 03-lists
- perhaps adding some explanation for how the ``for __ in ___:`` loop construction works, including the iterator variable and collecti

[2018-03-28 01:59] maxim-belkin commented on #491
SWC Python lesson has to have `range` in it. The fact that `range` does not return a list could be explained as follows:

[2018-03-28 02:45] maxim-belkin commented on #473
Interesting suggestion! fixing the function is straightforward (given its description):

[code]

Of course, that's assuming `factor` is positive...
However, do we need to check that `x1<x2` and `y1<y2`? What if we use `min(x1, x2)` or `min( (x1, y1), (x2, y2) )`? Would that increase cognitive load?

[2018-03-28 07:02] annefou commented on #489
a will be None because the function one does not return a value. Same for print.
If there is no return statement in the function code, the function ends, when the control flow reaches the end of the function body and the value "None" will be returned.

[2018-03-28 07:52] maxim-belkin commented on #489
:) I [know](https://stackoverflow.com/a/43029507/7410631)

[2018-03-28 09:05] annefou commented on #424
I close this issue as it looks like it has been addressed. Please re-open if I am wrong.

[2018-03-28 09:05] #424 closed

[2018-03-28 11:50] LibraryViking commented on #453
I like the changes suggested by sixpearls and jhidding, especially switching the episodes to have lists come before loops. A better explanation of the loop construction with an explanation of the built-in iterative part of the for-loop would be extremely helpful to folks not familiar with those programming concepts.

[2018-04-02 16:26] maxim-belkin commented on #454
Thanks @gcapes. I agree that drawing diagrams seems like an overkill though people might use them to get to the right answer

[2018-04-03 22:05] #454 closed

[2018-04-03 22:06] maxim-belkin commented on #454
Thanks, @gcapes! :)

[2018-04-09 08:49] rgaiacs commented on #453
The change here is not simple. If you start with lists, learners will spend half an hour asking why they are learning data structure. If you start with loop but no knowledge of lists there aren't much that you can do. If you take the perspective of the full Software Carpentry workshop, learners would have get a introduction to loops in the shell lesson, I know this isn't the case in most of the wo

[2018-04-09 17:58] maxim-belkin commented on #453
Personally, I'd prefer to talk about basic and complex data types/structures in Python before loops.

The reasoning is simple: loops are used to apply the same code to all elements of a complex data structure. In this regard, loops a precursor to functions. And change to the story-line is straightforward: you gather some data (create a data structure) before you process it "one at a time".

The fa

[2018-04-09 19:04] annefou commented on #453
Starting with data types/structures before loops is a classical approach in programming. It is very much like a software engineer approach so maybe this is what we should do in a Software Carpentry lesson (versus a Data Carpentry lesson).  However, I don't fully  understand why introducing data types/structures in Python before loops would help to clarify the described issue.

[2018-04-10 05:37] jhidding commented on #453
I agree with sixpearls' suggestions. In other languages (like C) where for-loops are not 'collection-based' the current order of chapters would make more sense. In Python however, it is necessary to explain the the concept of collections and show the similarity between lists, strings and ranges. To clarify how it fixes the current issue: there seems to arise some confusion around iterating over a

[2018-04-10 16:09] maxim-belkin opened #494 "Clean up SVG figures"
We have quite a few figures in our repository and they have to be easily maintainable. Therefore, we need to clean them up so that they:

1. are minimal in size (don't have unnecessary information)
2. are well formatted (using 2- or 4-space indentation)
[code]
3. don't use extra fonts
4. don't use jargon

Please feel free to submit PRs and reference this issue.
Each such PR should modify one figur

[2018-04-10 17:40] sixpearls commented on #453
When I was practicing this lesson for the instructor training, I got caught at the introduction of the for-loop syntax. The iteration variable is easy to describe, but I wasn't sure how to explain the collection variable based on what was taught before. By teaching the concept of collections first, we can give a name (and meaning) to every part of the for-loop construction which would address the

[2018-04-10 18:04] maxim-belkin commented on #453
Thanks, @sixpearls. Let us first decide how we can approach this.

1. Someone (@sixpearls, @LibraryViking, or anyone else) implements a "rough draft". We merge it and then slowly fix all the problems.

2. Given that the change will be rather significant, it will surely take some time. Because of that, it is not unreasonable to work on this in a separate branch (codename: `lists-first` or `1-3-2`)

[2018-04-10 18:12] annefou commented on #453
Yes. That's what I wanted to suggest too. We have a number of issues & PR on loops/lists and it would be useful to come up and test one solution. Once we are happy with it we merge it to the main gh-pages.

[2018-04-10 18:45] LibraryViking commented on #453
I'm still new to the Carpentries and Python in general, so if @sixpearls is willing I'd be happy to defer to his rough draft.

[2018-04-10 18:52] maxim-belkin commented on #453
@annefou so, you're voting for the second option, correct?

@LibraryViking if we take the second approach, we'll create a second branch to which you will be able to contribute to. This second branch will not be merged into `gh-pages` until we're reasonably happy with it.

[2018-04-10 19:36] annefou commented on #453
Yes @maxim-belkin,  I vote for the second option. Sorry I was not very clear!

[2018-04-10 19:55] maxim-belkin opened #495 "Improve README.md"
Our README.md ... well, you know... needs improvements.

What would be nice to have is:

~1. an intro paragraph.~
~2. List of lessons (with links/pointers)~
~3. remarks on how to use it~
~4. remarks on how to contribute~
~5. Info about maintainers~
~6. License section~
~7. General note about SWC organization~

Please feel free to submit PR(s) and reference this issue.

---
_Edited on February 9, 2

[2018-04-10 20:57] sixpearls commented on #453
A branch makes sense to me, I should be able to get to it in the next few weeks. If someone wants to get it started before then I'm fine with that too.

[2018-04-10 21:02] maxim-belkin commented on #453
OK, I'll add a note here about the branch when we create it (I'd like to merge [swcarpentry/styles](https://github.com/swcarpentry/styles) first). It shouldn't take too long

[2018-04-12 18:36] maxim-belkin commented on #453
I've created a new branch called `lists-loops`.  Please submit pull requests related to changing the order of episodes against that branch. I'm going to close this issue and create a new one with instructions how to contribute to this effort.

Thank you all for participating in this discussion!

[2018-04-12 18:36] #453 closed

[2018-04-12 20:02] maxim-belkin opened #496 "Swapping the order of episodes on lists and loops"
It has been decided (see #453) that **lists** should be introduced _before_ **loops**.

Because this change might take some time to implement, it was decided to first pursue this effort in a separate branch and later merge this branch into the main `gh-pages` branch.

This special branch has been created and is called `lists-loops`. We, therefore, ask anyone who is interested in contributing to th

[2018-04-13 08:52] maxim-belkin opened #497 "lesson-check"
We need to fix these problems:

### Unknown or missing code block type python
 - [x] **`_extras/discuss.md:28`**
 - [x] **`_extras/discuss.md:91`**
 - [x] **`_extras/discuss.md:116`**
 - [x] **`_extras/discuss.md:136`**
 - [x] **`_extras/discuss.md:171`**
 - [x] **`_extras/discuss.md:183`**
 - [x] **`_extras/discuss.md:197`**
 - [x] **`_extras/discuss.md:208`**
 - [x] **`_extras/discuss.md:239`**

[2018-04-13 08:57] maxim-belkin opened #498 "Long lines in lessons"
We need to shorten the following long lines in lessons (based on `make lesson-check-all`):

 - [ ] ./CONDUCT.md: Internally-defined links may be missing definitions: "Carpentry Code of Conduct"=>"coc", "reporting guidelines"=>"coc-reporting"
 - [ ] ./README.md: Line(s) are too long: 1, 2, 8
 - [ ] ./_episodes/01-numpy.md: Line(s) are too long: 32, 39, 40, 49, 140, 160, 175, 177, 178, 199, 227, 311

[2018-04-13 21:25] maxim-belkin commented on #445
Closing this issue as corresponding PR has been merged.

[2018-04-13 21:25] #445 closed

[2018-04-14 02:07] dlm commented on #416
@tbekolay I was looking around for a newcomer-friendly way to help and found that this was open.  I added a PR for it:  https://github.com/swcarpentry/python-novice-inflammation/pull/500  Let me know what you think.

[2018-04-14 18:14] maxim-belkin commented on #416
Closed in 35fd50d
Thanks, @dlm and @NickleDave !

[2018-04-14 18:14] #416 closed

[2018-04-16 19:00] #459 closed

[2018-04-17 16:15] #328 closed

[2018-04-18 14:08] mikej888 commented on #459
Thanks :-)

[2018-04-20 17:48] yeemey commented on #221
I typed out the code example as described in Jupyter, and cannot reproduce the ```TabError```. Trying this out in the command line gives me an ```IndentationError``` instead.

Either we revise the example to reproduce the error (I tried some random combinations of tabs/spaces, and couldn't get it), or remove it and just note that it's not good practice to mix tabs and spaces?

From the [Python 3 d

[2018-04-20 17:54] maxim-belkin commented on #221
Hey @yeemey!
Could you please be more specific as to which line in which file you're talking about. Thank you!

[2018-04-20 18:03] yeemey commented on #221
Hi @maxim-belkin,
It's the [episode 7 lesson on errors and exceptions](http://swcarpentry.github.io/python-novice-inflammation/07-errors/).

It's ~line 182 in my forked repo with 07-errors.md.

[2018-04-20 18:04] tbekolay commented on #221
You have to copy/paste the example, not type it out manually.

[2018-04-20 18:05] tbekolay commented on #221
And actually this issue should be fixed now as I did change the HTML to have explicit tabs in there; I just copy/pasted and it worked for me.

[2018-04-20 18:05] #221 closed

[2018-04-20 18:34] yeemey opened #504 "Add note to copy-paste TabError example (ep. 7)"
In [episode 7](http://swcarpentry.github.io/python-novice-inflammation/07-errors/) **Tabs and Spaces** callout, the example code has to be copied and pasted directly to reproduce the ```TabError``` (see #221 ).

[2018-04-24 14:06] maxim-belkin opened #506 "Simple exercise to differentiate print vs return"
We should probably add the following simple exercise somewhere:
[code]

[2018-04-24 16:32] maxim-belkin commented on #497
Last two errors have been fixed in swcarpentry/styles#230.

[2018-04-24 16:32] #497 closed

[2018-05-01 12:19] jjocemac opened #512 "Episode 2: Clarify loop variable need not appear within loop itself"
Perhaps we should state explicitly that the loop variable need not always be used within the loop itself?
I have witnessed confusion from learners attempting the 'Computing Powers With Loops' exercise, who assume that the loop variable must appear within the loop, when in fact the solution doesn't require this.

Perhaps the confusion stems from the text that says:

It's not immediately obvious to

[2018-05-01 14:55] maxim-belkin commented on #495
This issue has been partially addressed in 3bfe302 but README still needs work.

[2018-05-01 20:53] crocodoyle opened #513 "Ch-Ch-Ch-Changes"
In lesson 3, there is a box that incorrectly quotes David Bowie's song Changes. There should be one more "Ch-".
Source: https://youtu.be/6fKRgyd6NGg?t=53s

[2018-05-01 21:02] gkiar opened #514 "Python lessons don't mention the ':' character and its importance"
I've noticed in both the loops and conditionals lessons that no explanation of the syntax for these operators is explicit about including the `:` character at the end of the declaration - this is an important distinction from other languages, and perhaps not obvious.

[2018-05-02 00:06] maxim-belkin commented on #513
OMG! Thanks for the report, Andrew! Apparently, we've been [livin' on the edge](https://www.youtube.com/watch?v=7nqcL0mjMjw)! Do you want to submit a PR? :)

[2018-05-02 00:10] maxim-belkin commented on #514
I agree, mandatory nature of colon warrants at least a brief word about it. Would you like to submit a PR?

[2018-05-02 00:56] gkiar commented on #514
Yep! See #516

[2018-05-02 13:38] tlvdberg opened #518 "Zipped code file contains Python 2 syntax (at least as linked in the lesson website)"
A few months ago I noticed print statements in the code files that I downloaded contain Python 2 syntax. Now I just checked this in the repo, but here syntax has been corrected in the print statements, in order to comply with Python 3.
Now I also just checked the download that is linked to in the lesson setup webpage (http://swcarpentry.github.io/python-novice-inflammation/setup/) has Python 2 syn

[2018-05-02 13:51] maxim-belkin commented on #518
Hi @tlvdberg! Thanks for the report!
Yes, apparently there is a discrepancy between files in the `/code` directory and those in the zip archive: zip file has Python 2 code.

[2018-05-02 15:03] #518 closed

[2018-05-02 20:42] doctornerdis commented on #498
Just for my own learning, why is it important to limit the lines to 100 characters? Is it about readability of the code? Are there other formatting conventions I should keep in mind?

[2018-05-02 20:43] doctornerdis commented on #498
Also, please ignore #519. I forgot to delete my old fork before I started work on the new file.

[2018-05-02 20:58] maxim-belkin commented on #498
`git` tracks changes on a line-by-line basis, so if you change a single character in a 5000 character-long paragraph written as a single line, it will highlight the entire line. Moreover, it will show it twice (original and changed version). And single line breaks are not a problem for Markdown... so,  there is really no benefit in using long lines as shorter ones make life much easier.

Why exact

[2018-05-02 22:15] doctornerdis commented on #498
Thanks for the explanation @maxim-belkin!

Don't I need permission to access this repository in order to make branches? I'm working from the GitHub desktop client, so do I need to work in `git` directly?

[2018-05-02 22:40] maxim-belkin commented on #498
Um, to create branches in this repository one has to have proper permissions, but you don't need these.
The way it works is as follows:
1. you fork this repository. Your fork will be here https://github.com/doctornerdis/python-novice-inflammation
2. You clone your fork to your computer `git clone https://github.com/doctornerdis/python-novice-inflammation`
3. You create a new branch for your change

[2018-05-02 22:49] doctornerdis commented on #498
OK, I think I'm getting the hang of it now. I just did another PR (#521). Is that the right workflow?

[2018-05-02 22:50] maxim-belkin commented on #498
Yep! Just don't forget to switch back to `gh-pages` before creating a branch for your next PR.

[2018-05-04 14:26] tlvdberg commented on #506
Hi Maxim!
I made an exercise for learning the difference between return and print. I will submit a pull request. You can see if you like it, and merge it or not.
Let me know if you would rather like any changes. Let me know if something's not as it should be, I'm new to this.
I will make it part of my check-out exercise(s). I already made some other small contributions, but am not sure that'll be

[2018-05-04 14:32] maxim-belkin commented on #506
Hi Tineke! Thank you for the note! As for the instructor checkout - size (of the PR) does not matter. Even a one-word change counts.

[2018-05-04 22:58] maxim-belkin commented on #512
Hi @jjocemac

A naive question: `how can one repeat a print an empty line three times?` could lead to a discussion on how loop variable is updated every iteration and about programmer's responsibility to use or not use that variable.

[2018-05-05 00:54] iglpdc commented on #489
I think the point of Mark's exercise is not so much distinguishing `return` vs `print`, but the fact that people with a mathematical background tend to assume that functions in programming are equivalent to mathematical functions. A mathematical function will map an input to an output or some input argument and return a value (`None` counts as a value here).

In the exercise, people may follow thi

[2018-05-05 02:33] iglpdc commented on #491
I agree that the bullet points should be reworded and I think @labrax 's wording is pretty accurate (for the stage we are at in the lesson):

Apart from being iterable, `range` supports the interface you would expect on an array-like thing:

[code]
To me the fact that `range` returns a weird type of object or is "lazy" is just an implementation detail, which should not be a concern at this point.

[2018-05-09 18:27] raynamharris commented on #354
This issue could use an `instructor training` badge :)

[2018-05-14 01:33] leavesntwigs opened #525 "Another reason why for loops are useful"
In the section about for loops ...
"One way to print each character is to use four print statements:
print(word[0])
print(word[1])
print(word[2])
print(word[3])

 ...
This is a bad approach for two reasons:"

Another reason why this is a bad approach is for maintenance.  If we wanted to print each letter followed by a comma, for example, we would have to change four lines of code.  If we have a fo

[2018-05-14 09:05] jjocemac commented on #512
Hi @maxim-belkin,
Thanks - this sounds like a good idea. Would you like me to have a go at submitting a PR for this? If so, what about the two edits I also suggested - do you think one/both of these should still be added, or left out?

[2018-05-14 09:17] maxim-belkin commented on #512
@jjocemac, because these are related changes, it makes sense to submit them together: we are still able to comment on the individual components of the PR :)

[2018-05-14 13:12] gcapes commented on #460
I think that the best solution under the circumstances is to drop the exercise. There is no clear reason to use a list to swap the variables, but modifying the exercise as I suggested in the first comment brings up the question as to what the (modified) exercise is doing in an episode about lists.

I can submit a PR if there is approval for this suggestion?

[2018-05-14 14:47] tbekolay commented on #460
I'm :+1: on dropping the exercise; any other maintainers want to weigh in?

[2018-05-14 14:55] maxim-belkin commented on #460
+1 for dropping the exercise.

However, because this syntax is rather useful - shall we consider adding some sort of a  `Did you know?` `.callout` box just making a note that you can swap variables with `a, b = b, a`?

[2018-05-14 15:00] tbekolay commented on #460
I feel like variable swapping is not something I do really ever in Python since making a new variable with a good name is almost always preferable. Variable swapping seemed to happen more in languages like C (because maybe you get to avoid a `malloc` call), and so I think the `a, b = b, a` thing became a bit of a meme since it's a nice, simple, obvious one-liner, whereas in C it has some weird eso

[2018-05-14 15:02] maxim-belkin commented on #460
ok, I'm convinced :)

[2018-05-15 00:31] ambersherman704 opened #529 "Creating Functions - Explain +="
Please delete the text below before submitting your contribution.

---
In 6. Creating Functions, in the Readable functions example, it may be helpful to explain that += is an operator in python which performs the addition while modifying the variable.
---

[2018-05-15 06:32] gcapes commented on #460
Great!

[2018-05-16 03:01] #460 closed

[2018-05-16 03:30] #513 closed

[2018-05-16 03:47] #458 closed

[2018-05-23 10:42] gcapes opened #534 "Ep1: Insufficient explanation of the data set"
It's not clear to me why we should expect a rise in inflammation at all. The scenario is putting patients on a new drug to reduce inflammation. Would the drug initially make the inflammation worse, but then make things better? It would help motivate the lesson if we had a very brief explanation of what we're expecting and why.

I'm happy to make a PR, if someone can confirm the above details.

[2018-05-23 12:06] maxim-belkin commented on #534
I *think* a rise in inflammation corresponds to an outbreak, which happens exponentially. And the fall corresponds to the treatment kicking in.

[2018-05-23 12:11] maxim-belkin commented on #319
Closing this as Travis-CI was added to this repo.

[2018-05-23 12:11] #319 closed

[2018-05-23 16:03] MikeAllawayBham commented on #498
Hi @maxim-belkin , may be worth ticking off the lessons that have been done from the issue description at the top of this page, to make it clearer to newcomers which are left to do

[2018-05-23 18:55] akeshavan commented on #494
hi @maxim-belkin : I've cleaned up 1 file in this PR #537 -- let me know if you like the new format, and I can do the remaining images.

[2018-05-24 01:05] maxim-belkin opened #541 "Heterogeneous data"
As discussed in swcarpentry/python-novice-inflammation#278 it might be worth adding a callout box about heterogeneous data.

[2018-05-28 07:16] maxim-belkin opened #543 "Improving episode #1"
Our first episode `01-numpy.md` is overloaded. I suggest discussing possible ways for reorganizing the lesson so that we don't have to talk about slicing numpy arrays and grouping matplotlib's plots in it.

My suggestion:
1. Variables
2. Types of data
3. Inspecting data in variables using the builtin "print" function
4. Loading data into Python as numpy array (import **1** data file with `numpy.lo

[2018-05-31 18:30] maxim-belkin commented on #485
So, did you guys agree on using
[code]
?

[2018-05-31 18:50] ldko commented on #485
At UNT we have since switched to doing something else that @somexpert determined to be better in https://github.com/unt-carpentries/2018-03-14-unt-swc/pull/15/files, though not very concise instructions. I think the idea with the change was that the installation may not always be in `$HOME` and that using `.profile` was preferable to .bashrc. I don't know what others are doing.

[2018-06-03 21:26] psteinb opened #545 "gen_inflammation.py produces 404"
The first link in [this page](http://swcarpentry.github.io/python-novice-inflammation/guide/) which should point to [gen_inflammation.py](http://swcarpentry.github.io/python-novice-inflammation/guide/tools/gen_inflammation.py) produces a `404 File not found`

[2018-06-03 22:33] maxim-belkin commented on #545
Thank you, Peter!

[2018-06-03 22:44] #545 closed

[2018-06-11 20:43] fmichonneau opened #548 "Transition to standardized GitHub labels"
The lesson infrastructure committee unanimously [approved](https://github.com/carpentries/lesson-infrastructure/blob/master/2018-05-23-minutes.md#github-labels-to-use-across-our-lessons) the proposal of using the same [set of labels](https://docs.carpentries.org/topic_folders/maintainers/github_labels.html) across all our repositories during its last meeting on May 23rd, 2018.

This repository has

[2018-06-12 09:45] annefou commented on #541
Thanks for this example.

[2018-06-12 09:45] #541 closed

[2018-06-12 17:12] maxim-belkin commented on #494
Example SVG:
[code]

[2018-06-13 10:10] annefou commented on #543
I agree with you. We have far too much in this lesson and it is far too long to teach. I definitely agree to move everything related to slicing to another episode.

[2018-06-13 16:02] ldko commented on #543
I like the idea of removing slicing and grouping plots from the first lesson to shorten it and make it less intense for beginners. I think it would still have a strong impact with doing visualizations on just one data file and save from all the heavy typing required to group the three plots into one figure at the end in just the first episode. Also, currently the part of the episode about performi

[2018-06-13 19:17] gkanarek commented on #491
It already says that "`range` creates a sequence of numbers". Why introduce extra (misleading) terminology? That bullet point could be:

    If one parameter is given, range creates a sequence of that length, ...

[2018-06-13 22:17] maxim-belkin commented on #543
yes, double/triple stuff is not necessary in the beginning.

[2018-06-17 09:33] caseyyoungflesh commented on #452
I would second this. Lesson 01 is substantially longer than noted (60+ mins vs. 30 min; exercises ??? min vs. 0 min). While shortening or breaking this section up might be an option, I might suggest changing the expected time to start (low effort, partial solution)

[2018-06-17 09:36] caseyyoungflesh commented on #543
I agree with this and would add that visualization could also be made its own lesson, as it is a somewhat distinct set of material.

[2018-06-17 09:38] caseyyoungflesh commented on #543
Additionally, I think the exercises should be embedded in the lesson (e.g., a bit of lesson, a few exercises, a bit of lesson, a few exercises, ...). I think learners need a bit of a 'break' from listening to the instructor code to challenge themselves and practice a bit. Currently, all exercises are located at the end of the (very) long lesson. [was going to create another issue about this, but t

[2018-06-17 09:49] caseyyoungflesh commented on #543
Issue #452 also relevant

[2018-06-18 17:09] maxim-belkin commented on #548
I think we're all good in terms of labels. Thanks, @fmichonneau!

[2018-06-18 17:09] #548 closed

[2018-06-18 17:12] maxim-belkin commented on #452
Thanks @marwahaha.
Let's do what you've suggested, @caseyyoungflesh.
Feel free to submit a PR.
In the meantime, I'll work on breaking down the first episode.

[2018-06-23 01:11] go-bears commented on #543
Maybe there should be a quick mention of the snakecase naming convention weight_kg in episode 1?

[2018-06-28 06:05] DamienIrving commented on #485
@ldko, @somexpert - Thanks for sharing those instructions - they're great.

I'm teaching a slightly more advanced workshop next month and I want people to be able to create a conda environment, activate that environment and then execute a python script from within that environment at the command line. i.e.
[code]
After executing `echo  "source [Anaconda path]" >> ~/.profile && source ~/.profile`,

[2018-06-28 06:20] annefou commented on #485
We have started to create conda environment for each workshop using yml file. And  it works well with anaconda navigator on Linux and windows  (we did not have Mac OS X) for those who are not familiar with command lines. We add it to .bashrc not .profile.

[2018-06-28 21:11] ldko commented on #485
@DamienIrving yes, `conda` is available at the git bash command line after executing that. We tried out the commands you listed and noticed before running them we needed to do:
[code]
because otherwise `iris` and `cmocean` were not available.

Also, we ran the `create` command as:
[code]
because the Windows machine we ran this on also had an Anaconda for Python 2.7 installed and that is initially

[2018-06-28 23:35] DamienIrving commented on #485
Thanks, @ldko!

[2018-06-29 19:22] Autoplectic commented on #451
I believe we should stick to teaching python 3. There are several reasons for this:

- Making code cross-compatible tends to make it less elegant and readable.
- As per the BDFL, python 2 EOL is 1/1/2020, which is in only 18 months. python 2 will not even receive security updates at that point. It is a disservice to our learners to lead them into thinking it's OK to start new work on python 2.
- A

[2018-07-04 12:36] ocefpaf commented on #485
I had a nice experience in my last workshop by installing everything, including `git`, with conda on all platforms. On Windows we can start the shell by calling `bash` at the Anaconda prompt, it is part of the `git` package. No path issues, no `.bashrc` changes, no extra packages to install (`git-bash`). The smoother install experience I ever had in all workshops I participated.

[2018-07-04 23:43] DamienIrving commented on #485
@ocefpaf Whoa! So just `conda install git` and that's it?! Windows users can have a complete bash experience by just typing `bash` at the Anaconda Prompt? That makes things SO much easier.

[2018-07-05 07:55] annefou commented on #485
@ldko here is an example on how we create new conda environment. https://annefou.github.io/jupyter_dashboards/setup.html
(using anaconda-navigator or the command line).

[2018-07-05 13:21] ocefpaf commented on #485
Yep. `conda-forge` `git` package for Windows is a re-package of `git-bash`, so you don't have to manage that installation and path issues yourself.

@annefou I would recommend `miniconda` instead of the full anaconda distribution to avoid a big download at first. Also, when using 3rd party channels like in the env in that env file, you'll replace most of the packages from anaconda anyway,

[code]

[2018-07-05 19:21] annefou commented on #485
@ocefpaf  That's definitely a great approach. Thanks for the link.

[2018-07-09 18:22] ldko commented on #485
Thank you for the documentation link @annefou !

@ocefpaf  @DamienIrving  using bash in Anaconda Prompt sounds like it could be easier for a workshop. I tried what was mentioned above running `conda install git` in the Anaconda Prompt (it installs, and I can run `git`), but when I type `bash` at the Anaconda Prompt, I get the message "'bash' is not recognized as an internal or external command, op

[2018-07-09 18:57] ocefpaf commented on #485
I'll take a closer look soon, maybe the last update broke it but the executable should be in the `Library/bin/` directory for that environment.

[2018-07-09 20:12] ocefpaf commented on #485
@ldko try using the `posix` package instead. The `git` package from `defaults` and `conda-forge` are different and the former does not package bash. Using `posix` you should get a more stable and reliable `bash` for sure.

[2018-07-09 21:13] ldko commented on #485
Thanks @ocefpaf! When I do `conda install -c conda-forge git` then the `git` package installed does have bash and it works. :) Perhaps we will try this method at our next workshop to avoid worrying about getting Anaconda Python on the path.

[2018-07-09 21:22] ocefpaf commented on #485
I do recommend it. It reduces the amount of steps and instructions we need to get a working environment for the workshop.

Good to know but the `posix` package is actually better b/c it won't interfere with the `git` package from `defaults`, in case people install that one, and I believe it has more functionalities.

[2018-07-09 21:36] ocefpaf commented on #485
Yep, then just call `bash` and it should work.

[2018-07-09 22:58] ldko commented on #485
ah thanks @ocefpaf, I misunderstood when you first mentioned the `posix` package. I have now tried that one, and it worked for me too. One thing I am wondering about, in Episode 10, at our past workshops, we have had learners use Nano from Bash for editing the code. Is that something you are able to install in conda, or how do you prefer to handle editing the .py files used in the episode? Also, a

[2018-07-10 12:11] ocefpaf commented on #485
We, conda-forge, only have `nano` for Linux and OS X at the moment. We are waiting for a Windows expert to help us with the build on that platform :grimacing:

However, I usually recommend VSCode b/c it is easy to install, has a nice GUI interface that Windows users like, and it is available on all platforms.

Yes, but one can write a menu install that creates an icon that would drop the users dir

[2018-07-10 16:41] ldko commented on #485
Thanks for the input @ocefpaf !

[2018-07-10 17:09] maxim-belkin commented on #485
anyone willing to submit a PR?

[2018-07-10 18:17] ldko commented on #485
I personally am hesitant to open a PR at this point not having yet done the suggestions provided in an actual workshop and nano not being available to use with the `conda` method described. I have not used VSCode, so don't know what learning overhead that adds to the workshop and how it might affect the Unix Shell lesson for which we usually use nano.

[2018-07-10 18:37] ocefpaf commented on #485
I agree. VSCode is my personal option, ideally `conda-forge` should add `nano` on Windows before we recommend `conda` as an alternative.

As people try the `conda` approach and report back their experience we can think about opening a PR and "officially" recommending it.

[2018-07-13 15:19] maxim-belkin opened #562 "META Issue"
This is a META issue to keep track of suggestions for individual episodes.

**01-numpy-removed.md**

**01-numpy.md**

**02-loop.md**

**03-lists.md**

**04-files.md**

**05-cond.md**

**06-func.md**

**07-errors.md**

**08-defensive.md**

**09-debugging.md**

 - [ ] swcarpentry/python-novice-inflammation#510 (PR, closed, not merged)

**10-cmdline.md**

[2018-07-16 06:15] marwahaha opened #564 "download swc-python/ in setup"
Sorry if this has been discussed before.

It seems like a lot of extra cognitive load to (1) download multiple zip files, (2) unzip them and realize they don't unzip to the same folder name as the NAME.zip, and (3) create a folder to put them both in.

It seems much simpler to have a `swc-python.zip` file that can be downloaded, unzipped, and moved to the Desktop, that would maintain both data and

[2018-07-17 14:57] emdupre commented on #498
I just opened #565 to help address this ! I did have one question, though -- is the Code of Conduct still in need of definitions ? It seems to be rendering correctly, but I might have misunderstood the concern !

[2018-07-17 15:51] maxim-belkin commented on #498
Thank you for the PR, @emdupre! I've updated the original post with the current list of issues. Regarding `Code of Conduct` - I think the issue was solved in `51293be`...

[2018-07-18 17:05] donnaaboise opened #568 "Confusing variable name in "Programming with Python : Repeating actions with loops""
In the beginning lesson "Programming with Python : Repeating actions with loops', the following example is provided :

    word = 'lead'
    for char in word:
        print(char)

This choice of loop index variable `char`  is a confusing choice, since it is also a the name of a type used in compiled languages such as C or Fortran. It would be much better to choose a name that is more useful as a l

[2018-07-18 17:07] abostroem commented on #568
Great point! Part of the motivation of the Python lesson is to teach best practices, including using descriptive variable names. How would you feel about using 'character' rather than c?

[2018-07-18 17:17] maxim-belkin commented on #568
`character` or `letter` seems fine. (`char` is fine by me, TBH, but I'm fine with changing it).
What about `word` though? 🙄

[2018-07-18 17:17] donnaaboise commented on #568
In fact, `character` is the char type in Fortran, so this doesn't strike me as a good choice either.

Descriptive variable names are good in principle, but for loop indices, aren't shorter single letter variable names more the standard, especially if the value taken on by the loop variable is a scalar, i.e. integer (`i`) , float  or double (`x`, `y`), character (`s`, `c`), and so on.  So in this c

[2018-07-18 17:35] donnaaboise commented on #568
`word` is okay, given the example.  But I'd probably have gone for an entirely different example.

[2018-07-18 17:35] maxim-belkin commented on #568
why doesn't `word` confuse you?

[2018-07-18 17:42] donnaaboise commented on #568
I am not confused by any of it, but am just thinking about the beginning Python programmer who may have had some exposure to compiled languages (maybe as a first year student?)

The choice of `word` is  okay because in the example, the object really is a "word".   I suppose one could also use `string`, but then the example gets really  abstract.

[2018-07-18 17:44] abostroem commented on #568
I like for `letter in word`. I think string is getting into python standard library messiness.

[2018-07-18 17:55] maxim-belkin commented on #568
I see. Then I'd be more inclined to either keep the example "as is" or change "char" to "letter" (or anything "more descriptive", rather than "c"). The reason being that if a learner had prior exposure to compiled languages, she or he should relatively quickly understand what is happening in Python.

Please feel free to submit a PR to change `char` to `letter`.

Thinking of those with prior experi

[2018-07-18 18:05] donnaaboise commented on #568
Interesting challenge to ask students.   In what context would such a question get asked?   In the lesson?  Or by the instructor?  Or is there a "quiz" at the end of the lesson?

Anyone with some prior language experience should figure out what is going on.   But to reduce cognitive load (or just annoyance - I was bothered by this choice the minute I saw it!) , maybe better to use variable names t

[2018-07-18 18:33] donnaaboise commented on #568
No, I wasn't worried that someone might think the variable was `in`.  But I did worry that they might wonder why a type was appearing in the loop.    And even if they didn't, does everyone know that `char` is short for character?

I think `letter` is the best choice.  A second example using `c` could demonstrate that the name of the loop index variable doesn't matter (although I guess Python compl

[2018-08-08 18:56] bhickson commented on #496
@maxim-belkin
For a carpentries lesson this last February I did some reorg and partial rewrite of the python lesson into Jupyter notebooks that follows this idea. Basically introducing variables, data types, structures,  statements, conditionals, loops, etc in that order. Would this order be worth considering for this issue/branch?

https://github.com/UA-Carpentries-Workshops/2018-02-10-Tucson/blo

[2018-08-09 22:06] #444 closed

[2018-08-13 14:31] maxim-belkin commented on #496
@bhickson, thanks for offering your help! The notebook you reference has changes that might be appropriate for both branches (`gh-pages` and `lists-loops`) so please feel free to suggest your changes _via_ pull requests.

[2018-08-28 13:54] thawn opened #571 "array arithmetics vs matrix multiplication"
In section 01-numpy the following statement deals with array arithmetics:

It may be useful to mention that this is different from proper matrix multiplication which can be performed with numpy if you convert the array to a matrix object.

[2018-08-29 08:08] thawn opened #572 "explain parameters of delete function"
Lesson 01 the excercise "Stacking Arrays":
the second solution that uses `numpy.delete` just mentions the delete function without explaining how it works:

It would be nice to explain how the parameters work (i.e. the first parameter is the array, the second the dimension (row/column) and the third is the index of the dimension that should be deleted (do index ranges work here?)

[2018-09-14 19:11] tpatwood opened #575 "Lesson #1 - editing objective order and language"
My first thought is that the objectives should mirror what we'll be doing in the lesson! A suggested order with some wordsmithing:

- Define a _variable_ in Python.
- Assign a value to a variable.
- Explain the importance of libraries.
- Import a Python library and use it to read and display data from a file.
- Use functions to display particular characteristics of data contained in a file.
- Use

[2018-09-15 14:47] maxim-belkin commented on #575
Seems interesting and, in general, reasonable. Please feel free to submit Pull Requests that implement what you propose here.

I also wonder what other maintainers and instructors think about the "Python interpreter as a calculator" intro.

[2018-09-15 15:35] annefou commented on #575
The section about "Python interpreter as a calculator" is very short and is used to help novice to understand why variables are useful (not only to store a value but to store the result of some computations).
I guess I am biased as I am working in environmental sciences where we use programming to solve "physics equations". I agree it may be disturbing for others but @tpatwood what would you sugge

[2018-09-15 15:56] annefou commented on #572
Yes or at least to explain again how to get help to get info on the list of possible arguments. To be honest, I don't usually teach this part as this first episode is so long.

[2018-09-19 19:41] annefou commented on #571
personally I would not mention matrix; I don't think adding matrices would help to understand arrays.

[2018-09-19 19:49] maxim-belkin commented on #571
I _think_ the point that @thawn is trying to make is that multiplication (`*`) is element-wise  and not a cross product, what might some people expect
[code]

[2018-09-22 10:58] annefou commented on #571
Ok. It sounds good.

Thanks.

[2018-09-22 20:52] maxim-belkin commented on #571
While difference between element-wise multiplication and cross products is significant, I'm not sure we should talk about it while explaining the material. How about we add a note about element-wise multiplication vs cross product to instructor notes?

[2018-09-23 08:52] annefou commented on #571
Very good idea. So instructors can answer to questions and help to clarify only when needed.

[2018-10-12 13:50] katkoler commented on #498
Hi, I'd like to help with this.
Is there a good way of testing it renders correctly?

[2018-10-12 14:47] maxim-belkin commented on #498
Hi, @katkoler. If you've got macOS or Linux, `make serve` (or `jekyll serve` or `bundle exec jekyll serve`) with render the site for you and you will be able to check it out at `http://127.0.0.1:4000`.
If you're on a Windows `make docker-serve`.

[2018-10-12 15:02] katkoler commented on #498
@maxim-belkin thanks! I'll just check that everything looks okay and open a pull request.

[2018-10-22 19:19] tpatwood commented on #575
After working through this a few times, I changed my mind. I like this section! It is short and a nice little intro into working with Python, and helps you flow into the next parts of the lesson.

[2018-10-23 06:55] annefou commented on #575
Great! So I guess we can close this issue, isn't it?

[2018-11-05 22:22] Sabryr opened #597 "Use numpy when calculating the mean for consitancy"
In: https://swcarpentry.github.io/python-novice-inflammation/04-files/index.html

The example plot is made by calculating max, min and average using numpy. However the when providing the solution to the question, numpy not used,
i.e.
matplotlib.pyplot.plot(data0.mean(axis=0) - data1.mean(axis=0))

I would suggest to use
matplotlib.pyplot.plot(numpy.mean(data0, axis=0) - numpy.mean(data1 ,axis=0))

[2018-11-05 22:34] Sabryr commented on #597
<class 'numpy.ndarray'>

[2018-11-06 08:02] annefou commented on #597
The change you suggest makes it more consistent with the rest of the lesson but invoking performance reasons can be misleading for novices. My opinion (based on experience) is that whenever you invoke performance to novice users take it for granted and apply any mis-understood recipes to anything (for instance using numpy.mean on a dask array).

[2018-11-06 08:12] maxim-belkin commented on #597
@Sabryr, please look closely at the output you see in https://github.com/swcarpentry/python-novice-inflammation/issues/597#issuecomment-436061133
`data0` (and `data1`)  **are** numpy array(s) and performance **is not** affected in any way.
You change is, however, still acceptable because this is what was decided upon previously, see Frequently Asked Issues here: https://swcarpentry.github.io/pytho

[2018-11-06 08:15] #597 closed

[2018-11-06 21:12] DealPete commented on #292
I found this confusing too. It isn't necessary (or possible) if you're using the ipython terminal. I import `mathplotlib.pyplot` and create my graph, then the `show()` command opens up the graph in a separate terminal.

[2018-11-06 21:21] DealPete opened #599 "Lesson #1 - Change in Inflammation, instructions for first question should refer to patient data."
This question confused me, because it was preceded by a generic discussion of how the `diff` function works. I think it should be prefaced with "For the patient data, which axis ..."

[2018-11-07 19:47] DealPete commented on #292
I'm using osx, but typing `%matplotlib osx` in the IPython terminal generates an error for me.
`%matplotlib inline` does the same.
After playing around with this for awhile, it seems that what you want is just `%matplotlib` without the inline. If it works the same on other systems, lesson #1 should probably be update to reflect this.

[2018-11-22 00:05] katebar commented on #543
I would swap the order of the first two items:

1. Types of data
2. Variables
3. Inspecting data in variables using the builtin "print" function
4. Loading data into Python as numpy array (import 1 data file with numpy.loadtxt)
5. Visualize with Matplotlib

I think that data types are foundational to the rest of the lesson. The instructor can then introduce variable assignments, and finally backpe

[2018-12-06 07:41] davidrpugh commented on #292
Am going through the 2nd edition of Python for Data Analysis now and `%matplotlib notebook` is used which renders and interactive plot in the notebook.  This seems superior to using `%matplotlib inline` which renders a static plot.  According to the [docs](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-matplotlib) `%matplotlib inline` is still listed as the canonical way to

[2018-12-13 14:01] dvalters opened #602 "Clarification of "Lesson" vs "Episode" in the text"
In the text of some of the episodes, the words _lesson_ and _episode_ are used interchangeably in some places, which lead to a bit of confusion for in preparing for the instructor training. I think it is clear now (Lesson - a whole set of episodes on a core topic i.e. Python, Unix Shell etc.; Episode - each subsection/separate page with a number in the Lesson)

I was going to open a PR with some m

[2018-12-13 14:34] maxim-belkin commented on #602
Absolutely! Please do so, changing one episode per PR.

[2018-12-14 18:50] maxim-belkin commented on #602
Thanks for your pull requests! Have you found any other improper uses of the word `lesson`?

[2018-12-14 19:20] dvalters commented on #602
Yep - couple more PR's to follow - just a bit caught up with other work today

[2019-01-23 14:50] SamStudio8 opened #609 "Is the CITATION file out of date?"
I think the Zenodo DOI in the CITATION needs re-minting to match the version number at the top of the README?

[2019-01-31 20:05] edbennett opened #616 "Two discussions of copying mutable objects in episode 3?"
I was tripped up teaching this week when working through episode 3—there's a long sidebar talking about mutability, most of which is devoted to showing how to make copies of lists without accidental aliasing. Then a few paragraphs later, there's an almost identical discussion of avoiding this problem, with a different example, and avoiding the word mutable. Having not noticed this beforehand, I en

[2019-02-06 13:21] IgnasiLucas commented on #489
Honestly, I would not be concerned about the possible misconceptions that might derive from a mathematical understanding of functions in programming. In his post, Mark Gudzial acknowledges that "We’d need to do real research to see if there is anything to this, not just me noting anecdotal comments from a half dozen students." Plus, the confusion in his classroom arose from a very specific functio

[2019-02-09 11:23] #575 closed

[2019-02-11 11:07] tiagopereira opened #621 "Simplify downloading of lesson materials"
This lesson currently has two zip files: data and code. According to the instructions, these end up being unzipped in the same folder. Since the files are so small, I think it would be simpler if they are combined into a single zip file (with directories data/ and code/ inside). This would require a lot less clicking by participants.

In addition, I think it would be very helpful if the setup inst

[2019-02-11 11:24] maxim-belkin commented on #621
Hi, Tiago. You are absolutely right that one zip file is better than two. There is even a PR that implements that: https://github.com/swcarpentry/python-novice-inflammation/pull/593. We, however, also need a rule in our Makefile that will allow us to update this zip archive automatically. Would you be interested in adding such a rule to our Makefile?

[2019-02-11 13:36] tiagopereira commented on #621
Hi @maxim-belkin I can make this change, but I need to start a new PR as I can't modify #593 .

Also, I see a `Makefile` under `code/`, but I don't see how it is run (can't find any reference to it in the main Makefile), so am I right to assume that this is only run manually? I could also not find a Makefile for the `data/` part, so perhaps the best way is to combine the `code/Makefile` into the m

[2019-02-14 23:17] skuschel opened #622 "Replace `assertions` by raising Errors"
I was reading through python exercise and It seems to me that the [Defensive Programing](http://swcarpentry.github.io/python-novice-inflammation/08-defensive/index.html) session is introducing assertions, where I believe Type- or ValueErrors should be raised instead:

`Assertions` are used in algorithm development, ensuring a state, which might not be the obvious outcome or may be violated due to

[2019-02-14 23:30] skuschel commented on #529
Can you please reference the PR?

[2019-02-14 23:32] skuschel commented on #473
related to #622

[2019-02-14 23:33] skuschel commented on #442
can this be closed?

[2019-02-15 02:07] slel commented on #529
#544

[2019-02-15 02:25] skuschel commented on #529
Oh, so this can be closed?

[2019-02-15 10:53] rgaiacs commented on #529
Can we rewrite the episode to not make use of `+=` since it is not very popular in Python (citation needed).

[2019-02-15 12:15] vahtras commented on #529
Please provide that citation because I disagree completely. There are
occasions where you need both operations because they are implemented
differently. E.g. for numpy arrays
    x += a
does in-place addition to x, while
    x = x + a
allocates memory for a new array and reassigns the variable name x to the
new object. This difference is relevant for large dimensions.

Olav

On Fri, Feb 15, 2019 a

[2019-02-15 16:37] maxim-belkin commented on #442
Absolutely! Thank you, all, for reporting, fixing, merging, and reminding about the issue!

🎉

[2019-02-15 16:37] #442 closed

[2019-02-16 02:07] skuschel commented on #473
I believe that neither the summing numbers nor the rectangle example show good practice for a few reasons:
* Why would we teach someone, that only positive values can be summed? It is very pythonic, that a sum function can sum up any kind of object for which the `+` operator is defined.
* A rectangle is defined by any two points in the coordinate system. Swapping the order will not change the rect

[2019-02-17 10:27] annefou commented on #622
This is definitely an interesting discussion and I fully agree with you that introducing `try... except` would be useful. However, I am not sure it is important for novices. We usually do not have time to go through this section (Defensive programming). I think it would be very interesting to learn once you really start to code woth Python and are familiar enough to move to the next step.

[2019-02-18 01:53] skuschel commented on #622
What do you think about the assertions? The `try... except` vs. test-driven development was just a side note. Maybe worth another issue here.

[2019-02-18 21:43] maxim-belkin commented on #622
Some time ago, I'd be strongly against adding `try...except` block to this lesson. However, I recently heard TDD (Test-Driven Development) doesn't provide any significant advantage over the standard approach in the long-run. The `try...except` block, on the other hand, is there to stay and will definitely be a useful tool for anyone. On yet another hand, we have to carefully consider the breadth o

[2019-02-18 21:53] maxim-belkin commented on #622
And with regards to assertions... I tend to agree. Assertions are designed for lower level stuff and shouldn't be used as a replacement for regular `if/else` checks. Would you be willing to map out a replacement episode on `try...except`, @skuschel?

[2019-02-18 21:59] annefou commented on #622
That would be awesome!

[2019-02-21 16:50] kekoziar opened #624 "Change the data type used to explain loops"
I cringe every time I see the concept of loops explained using a string data type.  While strings can be accessed using index notation, there are issues with it as described later in the lesson (i.e. a string cannot be written to using index notation). I hesitate to introduce and describe a major concept (loops) using an example that is only rarely used (iterating characters in a string), especial