[2019-02-21 18:18] annefou commented on #624
Yes, your proposal does not make sense with the current order (loops and then lists) but would certainly be meaningful if lists are introduced before loops.

[2019-02-27 19:23] servilla commented on #622
Note: this comment is in need to satisfy the Carpentries Checkout Procedure Part 1.

I believe that the section on "Defensive Programming" is off target. Defensive programming should be viewed as making your software resilent to errors that result from incorrect data provided to the software (whether direct from a user or otherwise), not necessarily the reliability of the software to respond corre

[2019-02-28 21:32] kekoziar commented on #624
Suggestions implemented w/PR#626.  Thanks for your feedback!

[2019-02-28 21:32] #624 closed

[2019-03-05 12:20] sihart25 opened #627 "Episode 1 - BODMAS - Knowledge"
In the first lesson Variables:

If we are introducing  new syntax/programming concepts do we need to get people to think about Mathematical operator order of precedence as well? and in a way knowledge of the python operator order of precedence.

[2019-03-05 12:25] annefou commented on #627
Python's operator precedence rules mirror those in mathematics. I don't know if adding this information would be helpful or add possible confusion.

[2019-03-05 12:35] sihart25 commented on #627
true adding the extra could create extra confusion so would the example be better as say
`3 + 5`
Avoiding any unintended inference to operator precedence or would this remove the idea of combining operations?

[2019-03-05 17:21] maxim-belkin commented on #627
Hi @sihart25 and welcome to our repository!
Using `3 + 5 * 4` as an example in the introduction serves two purposes: 1) convey the fact that Python interpreter can be used as a "calculator" 2) It follows standard mathematical rules. As with any lesson out there, we have to draw a borderline somewhere and this is the case here: if the order of mathematical operations is a problem, then this lesson

[2019-03-05 17:30] njhdunn opened #628 "Add an "introduction to the interpreter interface" episode?"
I feel that this lesson could use an "episode 0" that goes over the interface of the selected python interpreter, similar to how 'http://swcarpentry.github.io/python-novice-gapminder/' starts with an introduction to jupyter notebooks in the short "Running and Quitting" section. The prerequisite skills for both python lessons are similar, and I think it is reasonable to assume that much of the clas

[2019-03-05 19:33] annefou commented on #628
We don't have it as a 0 lesson but in the setup http://swcarpentry.github.io/python-novice-inflammation/setup/
Obviously not as elaborated as in python-novice-gapminder. Discussing in depth about jupyter notebooks (now switching to jupyterlab) may be a bit distracting too. As a side note, we don't always teach it using jupyter notebook (but from the command line).

[2019-03-05 21:57] njhdunn commented on #628
The content in the setup only partially fills this purpose, getting the learner as far as opening a new notebook (or other interpreter), but doesn't provide any orientation for using or navigating those tools. This may be less of an issue for the command line tools, as they don't present as much information to the user upfront as the jupyter notebook (or jupyter lab) GUI does.

A brief guided tour

[2019-03-05 23:07] ldko commented on #628
@njhdunn this is certainly not a bad idea. If instructors are teaching with Jupyter Notebook than whether it is currently in the lesson or not, they end up needing to show learners how to make basic use of the tool. It makes sense to me to include a light introduction (5 minutes or so?) of cells (create/execute/code vs. text) and how to see the other keyboard commands they may want to use in the f

[2019-03-15 13:58] craigboman opened #629 "Install option 4"
Now that python has been added to the Windows 10 app store [https://www.microsoft.com/en-us/p/python-37/9nj46sx7x90p?activetab=pivot%3Aoverviewtab](url)

should we consider adding it to the setup instructions [https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/setup.md](url)? Thanks. Apologies if this is an old discussion.

[2019-03-15 16:06] kekoziar commented on #496
Is there anything else that needs to be worked on for this branch?

[2019-03-20 07:50] Ovo-Akpome1 commented on #627
I think it is important to introduce the concept of BODMAS, but not in a confusing way. They should tell the participants that when python does mathematical operations, it follow the law of BODMAS.Therefore, they do not have to write an extra command to specify the order of the mathematical operation to get the correct answer.

[2019-03-21 13:43] annefou commented on #629
In the setup file you mention (https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/setup.md), we don't discuss how to install python but how to start it. And so far we always suggest to use python anaconda distribution (whatever the OS) to make sure we all have a similar setup.
I may become cumbersome to manage different python distribution and ways to start it.

[2019-03-22 05:09] RitaKuoT opened #631 "Episode 9: print function in Not Supposed to be the Same session."
The print method in the sample code:
`print("Patient's BMI is: %f" % bmi)`
use the formatted string in print function, but the formatted string has not been introduced in the previous lessons. It could be revised to
`print("Patient's BMI is:", bmi)`
with corresponding output.

[2019-03-25 17:01] craigboman commented on #629
That makes total sense. I agree that anaconda makes sense for install uniformity. But similarly, we all may have had workshop participants that had difficulty installing anaconda. Do we have a page with install instructions we could/should create, to supplement the setup instructions?

[2019-03-27 17:48] appeltel commented on #491
I agree that using the word "array" here is suggesting an incorrect mental model of the `range` object as actually storing values in memory.

I also agree that `range` should be taught as a basic Python concept. People coming from a background in C-family languages are naturally going to want an equivalent to `for ( int i = 0; i < 10; i++) { ... }` and its really common to need to run over a simpl

[2019-04-05 19:45] biokcb commented on #496
Hi, I looked over the changes in these lessons a bit. I agree that it makes sense to introduce lists before loops and the transition to looping is a lot clearer now. However, around line 195 in `03-loop.md` it jumps straight into iterating over the characters in a string again, without mentioning that characters in a string can be accessed by indexing like we've done with lists. The old lesson had

[2019-04-05 20:12] maxim-belkin commented on #496
Thanks, Kristen. I agree that jumping from iterating over lists to iterating over strings might be a bit odd (heh). If you'd like to propose any changes with a pull request -- that would be very much appreciated.

@kekoziar, apologies for not replying to your question but in order to answer it I have to re-read the first 3 episodes together and I wasn't able to find time for this exercise yet...

[2019-04-05 20:16] pbeukema opened #633 "Episode 02-loop.md: Improving visualization of the "for loop""
Link to the lesson: https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/02-loop.md

Several other instructors in training and I had some difficulty understanding the visualization of the for loop while we were rehearsing this lesson. We thought that a better visualization could help students more clearly understand the logic and execution of a for loop, ideally making

[2019-04-05 20:25] kekoziar commented on #496
I also welcome any clarifications for that section. I agree it's a little clunky.  While strings can be read using index notation, they can't be accessed using read/write like lists.  I usually note when teaching the loop examples that use strings that while characters in strings can be read using index notation, there are other, faster, more powerful methods for working with strings.

[2019-04-05 21:56] biokcb commented on #496
@kekoziar Yeah, explaining that strings can be treated similarly to lists in some ways, but not all might be too confusing at this stage. I'm leaning toward just not introducing this string iteration concept at all, thoughts?

I can certainly make some proposed changes via a pull request! I can work on this sometime tomorrow and will tag you both for feedback if that's ok.

[2019-04-05 22:34] bhickson commented on #496
I'm good with removing it. Rarely actually so string slicing myself, but
it does illuminate a bit about how they work; which I suppose is why I put
it in in the first place.

On Fri, Apr 5, 2019 at 2:56 PM Kristen Brown <notifications@github.com>
wrote:

[2019-04-09 09:19] maxim-belkin commented on #633
Thanks for the suggestion, Patrick.
I am aware of pythontutor but would prefer our episodes to be independent of external resources. I'm curious what @annefou thinks about it.

[2019-04-16 21:45] fmichonneau opened #640 "June 2019 Lesson Release checklist"
If your Maintainer team has decided not to participate in the [June 2019 lesson release](https://carpentries.topicbox.com/groups/maintainers/T61c75ac1a8a89538/timeline-and-process-for-june-lesson-release), please close this issue.

To have this lesson included in the 18 June 2019 release, please confirm that the following items are true:

- [ ] Example code chunks run as expected
- [ ] Challenges

[2019-04-23 22:26] maxim-belkin commented on #629
Hi, Craig.

I agree that it seems more logical to have complete (and diverse) instructions embedded in the lesson because the complete setup procedure looks as follows:

1. Install Python with all necessary modules
2. Obtain Lesson materials
3. Navigate to the `data` directory
4. Launch Python interpreter

We list 4 options for step 4 but no options for step 1. We do so because all workshop attend

[2019-05-03 19:16] varioustoxins commented on #622
I think this has merit. Asserts really make more sense as a part of testing. Since we currently don’t cover testing in that much depth but do cover almost definition programs with

1. user inputs
2. situations where exceptions can get thrown  such as missing files
or bad inputs to algorithms

I see exceptions as a good target as programmers  need to familiar with them anyway...

It is also fairly

[2019-05-14 01:52] jdeligt commented on #633
![forloop_example](https://user-images.githubusercontent.com/5850879/57665266-4f832700-764f-11e9-8900-7aacff8b57cb.gif)
Hi @maxim-belkin, I agree with @pbeukema and co that the python tutor is very useful.
If we don't want to rely on external availability maybe we could include a GIF like the one I attached?

[2019-05-14 05:31] annefou commented on #633
I did not know about pythontutor. It is very nice. I agree WITH @maxim-belkin : we should try to have self contained lessons (and try not to rely on external tools) but adding a link (either in the lesson or instructor notes) would be great (and why not with an animated gif too)

[2019-05-14 08:09] jdeligt commented on #633
@annefou @maxim-belkin I have made a pull request for my suggestion to incorporate the image and link to the website. Is there a preference for who to assign this to?

[2019-05-14 23:20] ErinBecker commented on #640
Hi Maintainers! - Just confirming that you're still planning on including your lesson in the June 2019 release. We'll be putting out a blog post tomorrow inviting contributors to work on issues that have been tagged as part of the release milestone, so if there are specific issues you're looking for community help with, please add them to that milestone. I'll make a first pass and add issues that

[2019-05-15 06:58] annefou commented on #640
Ye we do. Hope we are still on time.

[2019-06-01 19:18] #408 closed

[2019-06-03 23:00] ErinBecker commented on #640
Hey Maintainers - just checking in to see if you're still planning on joining the release this month. We're asking that all lessons have completed the checklist by [Tuesday, 4 June, Anywhere on Earth time](https://www.timeanddate.com/worldclock/fixedtime.html?iso=20190604T235959&p1=3399) in order to be included in the release. Please let me and @fmichonneau know if you have any questions or are ru

[2019-06-06 17:29] vinisalazar opened #654 "Portuguese translation"
Hi,

In orde

[2019-06-06 17:31] maxim-belkin commented on #654
No worries

[2019-06-10 15:44] maxim-belkin commented on #640
@annefou, what do you think about the release? (My understanding is that we missed it.)
I'm OK with skipping this release given that we've got a few things on the to-do list (change language in the episodes, verify a few things). If you're OK with skipping this release, we can proceed as usual. If you'd like to push for a release, all we really have to do is streamline the PR on demotivating langu

[2019-06-10 15:58] annefou commented on #640
Yes I guess we missed it. I am also OK with skipping this release. Sorry for not being more responsive!

[2019-06-10 16:34] maxim-belkin commented on #640
There is nothing to apologize for. I suggest that we close this issue and create a new one with similar but extended checklist.

[2019-06-10 16:37] annefou commented on #640
It sounds like a good plan! Thanks!

[2019-06-10 18:31] maxim-belkin opened #655 "Checklist for the next lesson release"
This issue supersedes swcarpentry/python-novice-inflammation#640

@annefou and I decided to skip June 2019 release of this lesson as there is a number of issues/PRs that we'd like to be resolved in the next release. Below is the original checklist for participating in June 2019 release. After the original list, we include a list of additional Pull Requests & Issues we'd like to be resolved (or clo

[2019-06-10 18:38] maxim-belkin commented on #640
Superseded by swcarpentry/python-novice-inflammation#655

[2019-06-10 18:38] #640 closed

[2019-06-10 19:44] ErinBecker commented on #640
Thank you @maxim-belkin and @annefou for all of your work on this. No problem with delaying to the next release. Please let me know if you need anything.

[2019-06-11 19:12] rafaellucas3 commented on #654
Hello! I am working though my checkouts as an instructor. I would be really happy to help translate it to Portuguese and build the Portuguese/Brazilian community.  :D

[2019-06-11 19:15] vinisalazar commented on #654
Hi @rafaellucas3 , feel free to open an issue or even a PR on the repo linked in my first comment, I'm on mobile now so can't give better support than that but that's pretty much it :))

[2019-06-12 15:26] crowegian commented on #622
Note: Also part of a Carpentries Checkout procedure.

I guess whether or not to teach defensive programming or test-driven development depends on the audience. Though I agree that both are important, time is an issue in these lessons so adding a new lesson to cover both separately is probably out of the question. I come from more of  research background and my experience with the carpentries has m

[2019-06-12 16:25] maxim-belkin commented on #489
Would you (@IgnasiLucas) be willing to submit a PR?

[2019-06-13 08:30] IgnasiLucas commented on #489
Yes. Excited to send my first PR. Give me a couple of days to find the time. Thanks.

[2019-06-21 21:09] rafaellucas3 commented on #633
![ezgif com-optimize](https://user-images.githubusercontent.com/21185198/59951501-80752980-944f-11e9-92be-139fa540eac5.gif)

I made this animation in power point and exported as a gif. It looks better then the screen capture. Maybe we could use this in the lesson to illustrate better the for loop?

[2019-06-24 21:13] maxim-belkin commented on #633
Thank you, @jdeligt and @rafaellucas3, for creating these GIFs! Both of them are very nice and I appreciate the time you've spent to create them. However, I am not convinced that GIF image is the right visualization tool for this lesson. My main complaint is that it is very difficult to explain what's happening in the GIFs at the speeds they are played. We could slow them down but then the questio

[2019-07-03 03:21] YusC3 opened #661 "Episode 1: parallel (or multiple) assignment in Sorting Out References example"
Lesson in question: https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/01-numpy.md

There is the implementation of parallel assignment in this example problem code:
`first, second = 'Grace', 'Hopper'`
but it is only referenced once before in a concept heavy portion of the lesson that focuses on functions and not variable assignment. To solve this problem, there needs

[2019-07-12 00:37] marwahaha opened #662 "link to https://jalammar.github.io/visual-numpy"
I found this tutorial extremely useful and sometimes more clear than the first lesson. At least, it would be good to include this link in our reference.

[2019-07-12 01:15] AnthonyOfSeattle commented on #616
I second this idea. I'm very fond of teaching the difference between copying and just assigning a list to a new variable name. Especially since it seems like something previous users of R could get caught on, where its less of an issue. However, Ch-Ch-Ch-Ch-Changes does seem like it can be split up. Maybe we could try something like this?

1) Move the first two paragraphs of Ch-Ch-Ch-Ch-Changes, w

[2019-07-18 13:03] HeatherAn opened #663 "Lesson 1 - add info about variable names"
In Lesson 1 - Analyzing Patient Data, section 'Variables', I would suggest adding that operators (e.g., '+' and '-'), and signs like '!' or '?' cannot be used in variable names.

[2019-07-18 13:11] HeatherAn opened #664 "Lesson 1 - definition of 'libraries', 'modules' and 'functions'"
In Lesson 1 - Analyzing Patient Data, 'Loading data into Python' section, when referring to 'libraries', perhaps it would be better to state from the beginning what a 'library', a 'module' and a 'function' are.

The lesson would benefit if this distinction is made early on. Something along the lines of  'Python has functions that come by default (like print() for example), but there are also a lot

[2019-07-18 13:13] HeatherAn opened #665 "Lesson 1 - pyplot not a library"
At the end of lesson 1 (Key Points) the last point says: 'Use the pyplot library from matplotlib for creating simple visualizations'. I guess this is a typo (?). Pyplot is a module of the matplotlib library.

[2019-07-18 13:22] HeatherAn opened #666 "Lesson 2 - drafting of intro text"
At the beginning of the lesson it says: 'In the last episode, we wrote some code that plots some values of interest from our first inflammation dataset, and reveals some suspicious features in it, such as from inflammation-01.csv'. Here I would suggest changing it to: 'In the last episode, we wrote some code that plots values of interest from our first inflammation dataset (inflammation-01.csv), w

[2019-07-18 13:30] HeatherAn opened #667 "Lesson 3 - change index in exercise"
In lesson 3, after the 'Turn a String Into a List' exercise, there is a code that slices the binomial_name. There it says: species = binomial_name[11:24], which doesn't lead to any errors. However it might be confusing for students since the string ends at position with index 22. So I would suggest to change it to 'species = binomial_name[11:23]', or point out why using ending index 24 instead of

[2019-07-18 13:34] HeatherAn opened #668 "Lesson 3 - typo"
At the beginning of lesson 3, after explaining we can also used negative number as indices, there is the sentence: 'If we loop over a list, the loop variable is assigned elements one at a time'. I guess there is a typo there (the loop variable is assigned to each one of the elements of the list, one at a time).

[2019-07-18 13:40] HeatherAn opened #669 "Lesson 3 - del function"
In lesson 3, when referring to 'Heterogeneous Lists' the function del is used to delete the first element of the 'odds' list. In the lesson, it appears as 'del odds[0]', which is ok. However during the lessons we have used the functions with the parenthesis, so it might be a bit confusing for the student to see that del is used with a space, while almost all the other functions are used with paren

[2019-07-18 13:46] HeatherAn opened #670 "Lesson 5 - typo"
In Lesson 5 Conditionals section, it says 'If the test that follows the if statement is true, the body of the if (i.e., the lines indented underneath it) are executed'. It should be 'is' since it is referring to 'the body'. In the parenthesis it could say 'the set of lines'.

[2019-07-18 14:14] HeatherAn opened #671 "Lesson 5 - minima add up to zero"
In Lesson 5 referring to the plots of the third dataset, where the minima per day were zero, it says 'looks like a healthy person snuck into our study'. But that does not necessarily apply (not at least with the information we have so far). What we plotted in the previous lesson was the minimum number of inflammation episodes registered across all 60 patients, per day (during the 40-days clinical

[2019-07-18 14:24] HeatherAn opened #672 "Lesson 6 - triple quotes"
In Lesson 3, in the 'Testing and Documenting' section, it refers to docstrings. It says 'we don't need to use triple quotes when we write one, but if we do, we can break the string across multiple lines'. It would be good to add here that if we use triple quotes within a function, then that text shows up when calling help (the text does not show up when using help() if we use '#' to write a commen

[2019-07-18 14:41] maxim-belkin commented on #663
Hi @HeatherAn and congratulations on creating your first ever issue! Could you please elaborate more on why you think this is necessary because our first episode says:

and it seems to cover things like '!' and '?' by not listing them in the first bullet point. We can strengthen the first point by adding 'only'.

[2019-07-18 15:12] HeatherAn opened #673 "Lesson 8 - suggestion to change text"
In lesson 8 'Assertions' section, it says 'the post-conditions on lines 17 and 18 help us catch bugs by telling us when our calculation cannot have been correct'. I guess there is a typo ('cannot have been correct'). Suggestion: modify to 'when our calculations are not correct'.

[2019-07-18 15:17] HeatherAn opened #674 "Lesson 10 - typo"
In lesson 10, right before the 'Command-Line Arguments' section it says '...we need to know how to handle command-line arguments in a program, and how to get at standard input'. Perhaps there is a typo? ('how to get **at** standard input).

[2019-07-18 15:26] HeatherAn opened #675 "Lesson 10 - numpy.mean(data) and data.mean"
In lesson 10, when the lesson refers to readings_03.py, the code shows that to calculate the mean over 'data' across all days, numpy.mean is used: numpy.mean(data, axis=1). However when looking at the file readings_03.py (at least the version I downloaded recently) uses the instruction  data.mean(axis=1). Both lead to the same result, but for consistency I would suggest to either  modify the readi

[2019-07-18 15:43] ldko commented on #669
Hi @HeatherAn,  [`del`](https://docs.python.org/3/tutorial/datastructures.html#the-del-statement) is a statement in Python, not a function, so using it is different than calling a function. I think `del(odds[0])`  works not as calling a function but as doing `del odds[0]` where odds[0] happens to have parentheses around it that are basically ignored. I do think the idea of statements vs. functions

[2019-07-18 15:48] HeatherAn commented on #663
Thank you! And yes, I agree that adding 'only' would be enough. Because as it is now, it technically does not exclude anything else. And after those three items there are only 2 examples (the 'weight0' versus '0weight', and the 'weight' versus 'Weight'). Perhaps it would be good to show what happens if someone tries to name a variable with a '-' versus what happens when someone tries to name a var

[2019-07-18 16:08] HeatherAn commented on #669
Good one! I did not know it was a statement, I always thought it was a function since I have always used it in parenthesis. Interesting. I would still suggest to use the notation in parenthesis to be consistent with the rest of the lesson. Also because the lessons are not that specific in terms of what is what (e.g., the difference between a method and a function is not mentioned; statements are n

[2019-07-18 16:41] maxim-belkin commented on #663
Thank you!

You're correct, it does not explicitly exclude anything else nor it says other things are allowed.
In fact, here we're exploiting one of the rules for teaching: "Never hesitate to sacrifice truth for clarity" (see http://third-bit.com/10rules/). When writing this paragraph, I decided to sacrifice completeness rather than truth (as it seemed to be the lesser of two evils) and didn't add

[2019-07-18 18:11] maxim-belkin commented on #669
The reason `del(odds[0])` works is a combination of several factors.

1. `del` can delete several variables at once if they're separated with a comma: `del a, b`.

1. Whenever Python expects a bunch of things (things separated with commas), it interprets them as a tuple (unchangeable list) and _unpacks it when necessary_. That's why we can do things like
[code]
    as well as
[code]

    Parenthes

[2019-07-18 18:42] ldko commented on #669
I think @HeatherAn does make a valid point with her initial issue here that the syntax of `del odds[0]` positioned in between examples of `odds.append(11)` and `odds.reverse()` without an explanation of the syntax difference is confusing. @maxim-belkin  What do you think about using `odds.pop(0)` in place of  `del odds[0]` or including a brief note of some sort about why 'del odds[0]' works/has a

[2019-07-18 21:21] maxim-belkin commented on #669
I agree that the place where we describe `del` is weird. Moreover, this is the only place where we use/mention `del` statement. So, the real question is... do we need it? I want to say "yes" because we show how to `.append` elements to a list, so it makes sense to also show how to remove elements.

`.pop()` returns the element it "pops" and, therefore is useful for processing lists with `while` lo

[2019-07-18 22:30] ldko commented on #669
I agree it makes sense to show how to remove elements.

If you want to avoid a "by-product" it could be something like:
[code]
[code]
Which would show not only how to take an element out of the list but that you could actually use the removed value--which some might find to be practical information (even if not tying it into processing a list with a loop).

If you prefer `del` than perhaps we coul

[2019-07-19 06:48] drshrirang opened #676 "Lesson 3 - slicing the list/string."
As string binomial_name has "Drosophila melanogaster"
indexed from 0 to 22 i.e. 23 characters.Thus the slice I feel
should be from [11:23] and not [11:24].

However if you write

species = binomial_name[11:24]
you can include the comment

The link is :http://swcarpentry.github.io/python-novice-inflammation/03-lists/index.html

[2019-07-19 14:59] maxim-belkin commented on #676
Thanks, @drshrirang! Yes, it should be `11:23`, not `11:24`.
I think this error went undetected for the reason you mention (upper limit of a slice can exceed the index of the last element. Please submit a PR to change 24 to 23 (let me know if I can help you with that in any way).
Again, thank you!

[2019-07-19 15:51] maxim-belkin commented on #665
`matplotlib` is a "package", and `pyplot` is a "library module" (or simply "module") within that package. This terminology differences are not important for our lesson and referring to both of them as "libraries" is permissible and desirable -- in the end, both "packages" and "modules" can be imported.

[2019-07-22 17:02] #676 closed

[2019-07-22 17:41] maxim-belkin commented on #667
Thanks, @HeatherAn. This issue has been resolved in #678.

[2019-07-22 17:41] #667 closed

[2019-07-22 20:41] maxim-belkin commented on #670
Thanks again, @HeatherAn. Yes, this is a typo. Would you be willing to submit a PR? Would you need any help if so?

[2019-07-22 20:59] maxim-belkin commented on #668
And again, thank you for taking a close look at the episodes, @HeatherAn! The sentence is fine grammar-wise but I'm OK with rephrasing it since it raised concerns.
I think the simplest fix is:

Your suggestion looks good to me too (I'd remove 'each one of the'), so feel free to submit a Pull Request (and again, let me know if you need any help with that).

[2019-07-22 21:03] maxim-belkin commented on #666
Hi @HeatherAn. Good suggestion! Please submit a PR with your proposed changes (and let me know if you need any help with that). I also wonder if "some" in front of "code" is necessary... Can we replace it with "Python"?

[2019-07-22 21:13] maxim-belkin commented on #669
I like your example, @ldko. Can you submit a PR with it?

A part of me wants `del` to be mentioned in the lesson, but given how infrequently I use it myself, I'm OK with removing it. What do you think, @annefou?

[2019-07-23 12:11] sarah-peter commented on #670
I took the liberty to submit a PR to fix this.

[2019-07-23 13:19] #670 closed

[2019-07-23 13:20] maxim-belkin commented on #670
Thank you, @sarah-peter for the PR 🥇  and
thank you, @HeatherAn, for reporting the issue 🎉 !

[2019-07-24 17:55] ErinBecker opened #680 "[email feedback] storing multiple values in lists"
In the section Turn a String Into a List, I feel the following code
[code]
could be replaced by
[code]

As string `binomial_name` has `"Drosophila melanogaster"`
indexed from 0 to 22, _i.e._ 23 characters. Thus the slice I feel
should be from `[11:23]` and not `[11:24]`.

However if you write
[code]
you can include the comment
[code]

[2019-07-24 18:21] maxim-belkin commented on #680
Thank you for relaying this feedback to us, Erin. This issue has been addressed in #678 and previously reported in #667 and #676.

[2019-07-24 18:21] #680 closed

[2019-07-24 19:36] maxim-belkin commented on #671
First of all, thank you for taking a close look at the lesson and for spending the time to report the issue! I truly appreciate it.

Second of all, you're correct: with the code that we currently have in the lesson we don't check whether there is a healthy person or not. Instead, we're detecting whether there is _a_ healthy person at each day of the study. To identify healthy people in the study,

[2019-07-24 19:38] maxim-belkin commented on #672
Good suggestion, @HeatherAn! Would you be willing to submit a pull request?

[2019-07-24 19:40] maxim-belkin commented on #673
how about `might have been incorrect`?

[2019-07-24 20:17] maxim-belkin commented on #674
Thanks for the note, @HeatherAn. It looks OK to me given that one of the meanings of the `get at` idiom is "understand" (https://idioms.thefreedictionary.com/get+at). So, my current verdict is that the text is fine as is but if you'd like to suggest an improvement -- feel free to submit a PR.

[2019-07-24 20:30] ErinBecker commented on #680
Great! Thanks for confirming @maxim-belkin!

[2019-07-25 12:20] HeatherAn commented on #666
Replacing "some code" by "Python code" seems ok. I will submit a PR to change the text then!

[2019-07-25 12:21] HeatherAn commented on #668
I will submit the PR then!

[2019-07-25 14:59] maxim-belkin commented on #675
Thank you, @HeatherAn! A while back, The Council of the Wise of this lesson decided that it is preferable to teach functions over methods (where it makes sense to do so), see #244.
This means that we should use `numpy.something(data, ...)` instead of `data.something(...)` .
Please feel free to submit a pull request to fix `readings_03.py`.

[2019-07-25 15:18] #674 closed

[2019-07-25 15:25] #673 closed

[2019-07-25 16:35] #668 closed

[2019-07-25 16:40] #666 closed

[2019-07-26 20:00] #669 closed

[2019-07-26 20:12] maxim-belkin commented on #669
Thank you both @HeatherAn and @ldko! 🌷

[2019-07-29 14:54] git-jam opened #687 "Missed opportunity to talk about indentation in "Programming with Python : Repeating actions with loops""
One of the key problems I had when I started programming (in python) was with indentation especially with "for loops" and "if statements". I believe most beginners will have the same or similar issues. Therefore, I think this lesson (Programming with Python : Repeating actions with loops) is a golden opportunity to let learners have a feel of what problems they can run into without proper indentat

[2019-07-29 15:43] maxim-belkin commented on #687
Thanks, Jamiu! You're right and, in fact, you hit a very important issue that we've got in our episode on `for` loops: indentation is not emphasized enough. The word `indent` occurs only twice in the episode: once in the body of the lesson, and once in keypoints. I suggest to discuss how to go about this and then... submit pull request(s)!

[2019-07-31 17:10] maxim-belkin commented on #672
Hi Heather. The lesson currently has the following wording:

... This is better because we can now ask Python’s built-in help system to show us the documentation for the function:

I think it covers what you added in #672. Nonetheless, thank you for taking the time to submit this issue and create #672! 🥇

[2019-07-31 17:10] #672 closed

[2019-07-31 20:08] #489 closed

[2019-08-16 00:12] noornk opened #692 "Issue in 'Defensive Programming'"
Hi! So in "Defensive Programming", for the get_total() function, as it's not logical to have a negative number of cars, we should add an assertion, a precondition, to check that. Other thing is that we have a post-condition that checks if the total is bigger than zero, while it makes sense if the total is zero, but again if there was the pre-condition, it would help with this case too :)
"Defensiv

[2019-09-15 05:43] davidbenncsiro commented on #622
Interesting discussion!

Teaching testing in general is of value, since it emphasises that a non-trivial part of the effort of software development is testing, not just coding. TDD brings this into sharp relief.

Assertions as a way of thinking about and encoding pre-conditions, post-conditions, and invariants, and so design by contract (DBC), are also valuable.

Some notion of assertions is found

[2019-09-15 08:18] rgaiacs opened #716 "Remove paragraph about %matplotlib inline magic"
Since IPython kernel [4.4.0](https://github.com/ipython/ipykernel/blob/master/docs/changelog.rst#440), we don't need the `%matplotlib inline` magic anymore as mention in the log file:

**This is a good bug for novices.**

# Instructions for novices

1. Open the file `01-numpy.md`
2. Locate and remove the "Some IPython Magic" call out box.
3. Commit and send your pull request.

[2019-09-15 08:27] rgaiacs opened #717 "Update images generated by matplotlib"
The image that we have at the lesson is

![old](https://user-images.githubusercontent.com/1506457/64918770-43cc7c00-d779-11e9-8c4b-8f4dbee26b3c.png)

When I was reviewing the lesson using matplotlib 2.2.2 and 3.0.3, the image that I generate was

![new](https://user-images.githubusercontent.com/1506457/64918786-61014a80-d779-11e9-8c3c-2bea6394add6.png)

@fmichonneau do you have a suggestion for ho

[2019-09-16 10:17] fmichonneau commented on #717
could we do a PR to update the images? I don't quite have the bandwidth needed at this time to test if we could use reticulate for this lesson, so it would have to be a manual process at this time.

[2019-09-16 15:39] maxim-belkin commented on #717
Thanks for the report, Raniere.
We'll take care of figures.

[2019-09-18 14:03] nanjiangshu commented on #717
Hi,

The line color should be specified literally as blue in order to make sure the images will have consistent line color. e.g.

[code]
I have also made a pull request at
https://github.com/swcarpentry/python-novice-inflammation/pull/718

[2019-09-23 15:44] maxim-belkin commented on #717
I've updated the figures in #719.

[2019-09-23 15:44] #717 closed

[2019-09-23 16:14] maxim-belkin commented on #494
I wrote a Python program that can be used as the first step in cleaning up / optimizing SVG files:

[fig/optimize_svg.py](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/fig/optimize_svg.py).

It can use [svgcleaner](https://github.com/RazrFalcon/svgcleaner), [scour](https://github.com/scour-project/scour), and [svgo](https://github.com/svg/svgo). It also performs steps to

[2019-09-23 16:15] #562 closed

[2019-10-10 08:50] SobhanOmranian opened #725 "Practice what you preach: Variable names"
In the lesson [Repeating Actions with Loops](http://swcarpentry.github.io/python-novice-inflammation/02-loop/index.html), we have a section named "What’s in a name?", in which it is stated that although the loop variable can be arbitrarily named, it is a good practice to give it a meaningful name in order to make its purpose more clear.

This is indeed an important, yet often missed point that can

[2019-10-10 22:06] ldko commented on #725
Thanks, @SobhanOmranian. This is a valid point you have brought up. I don't think vague loop variable names were intentionally chosen for the code samples/examples. You are right; we should be carrying forward the practices that we teach to the code we are using throughout the episodes. If you want to open PRs (perhaps one per episode) to contribute changes that fix this issue, that would be great

[2019-10-11 15:41] maxim-belkin commented on #725
Thanks for the report, @SobhanOmranian!

Things like that happen mostly due to the nature of lesson development process within The Carpentries -- it is an iterative process, driven and guided by the community members. In the early stages of lesson development a lot of new material is added, so "inconsistencies" like this one are easy to miss.

[code]

[2019-10-15 16:35] maxim-belkin opened #727 "GitHub topics"
Upstream currently plans to add topics to all the lessons. Main discussion is here: https://github.com/carpentries/maintainer-RFCs/issues/5

TL;DR version:
(1) Topics that all lessons will receive are here: https://docs.google.com/spreadsheets/d/1ftV5L2C01aeHrMTWG0WWVm3MSeHMFZOEKw2a7ing138/edit#gid=0

(2) we need to discuss which topics we want to see as our `topics_skills` (column H in the above

[2019-10-15 17:08] ldko commented on #727
Looking at what topics are used int he spreadsheet as well as what is in use on GitHub, I think those all make sense to use.

[2019-10-27 17:39] ldko opened #730 "08-defensive.md: "Testing Assertions" exercise inconsistency"
In episode 8, the ["Testing Assertions" exercise](https://github.com/swcarpentry/python-novice-inflammation/blob/7fb12c3baf2957c44ba13615718d39f44a2b64d8/_episodes/08-defensive.md#testing-assertions) calls a function called `get_total_cars`. In a function definition shortly after, the function is called `get_total`. I am unclear what "cars" specifically has to do with the functionality of the func

[2019-10-28 22:57] ageorgou opened #731 "Defensive Programming: Inconsistent line numbers"
In the [assertions section](http://swcarpentry.github.io/python-novice-inflammation/08-defensive/index.html#assertions) of episode 8 (Defensive Programming), the line numbers for the examples that use `normalize_rectangle` are inconsistent.

For instance, the first assertion (`assert len(rect) == 4`) is on line 6 in the first error message, but appears as line 4 in the next one. The text also uses

[2019-10-29 22:30] ageorgou commented on #731
Looking into this a bit more, I think I know what the issue is: 3 extra lines were added to the docstring of `normalize rectangle` in 13fe22, but the line numbers and error messages were not updated everywhere (#580 and #703 updated them partly).

I'm confident enough that this is what's happening that I'll open a PR with the remaining changes.

[2019-11-03 15:30] Iain-S commented on #716
Hello.  Please see pull request #733 for a fix.

[2019-11-06 11:07] mianasbat opened #735 "Clarification needed for python environment usage"
I am following the [python notes](https://swcarpentry.github.io/python-novice-inflammation/) for working as instructor in the next carpentry workshop. The [setup section](https://swcarpentry.github.io/python-novice-inflammation/setup/) gives a nice detail of getting data and code. It also describe various ways of running the python code for the exercise.

While the jupyter notebook is kind of pref

[2019-11-07 19:55] #675 closed

[2019-11-07 19:56] #731 closed

[2019-11-08 18:34] #716 closed

[2019-11-15 22:21] dakane1 opened #756 "Ep. 11: Issues with numpy"
I was attempting to teach episode 11 and ran into this error with:  $ python ../code/readings_04.py --mean inflammation-01.csv and I get:

$python readings_04.py --mean ../data/inflammation-01.csv
Traceback (most recent call last):
  File "readings_04.py", line 2, in <module>
    import numpy
ImportError: No module named numpy

I have googled and read stackoverflow but can't figure out what is goi

[2019-11-18 18:30] ldko commented on #756
HI @dakane1 . It looks possible that the version/instance of Python you are running at the commandline does not have `numpy` installed. Were you able to use `import numpy` in Jupyter Notebook? It could be the system Python you are using at that prompt is different than the one that Jupyter Notebook is using and does not have `numpy` installed.

[2019-11-18 18:37] dakane1 commented on #756
Hmm, yes it worked fine in Jupyter Notebook.  I will do some testing to see what my command line is set to.  Thanks for pointing me in a direction to investigate further :-).

[2019-11-18 18:38] maxim-belkin commented on #756
I think the second scenario that Lauren described is what is happening here: there is a good chance that your system used system's Python when you tried executing the script with `python`.

Since macOS Catalina, `python` == Python 3. Prior to that, `python` == Python 2.
I think we should add a callout box the first time we try to execute a Python script. What do you all think?

[2019-11-18 18:41] ldko commented on #756
@maxim-belkin I think adding a callout box would be helpful to many users.

[2019-11-24 17:33] qingfengxia opened #759 "Ep2 section "Not All Functions Have Input" should be removed"
When I was preparing instructor training checkout this month.

 I found **ep2 Analyzing Patient Data** should be shortened.
There are lots of fundamental concepts, must be explained like
`module`,
`function keyword parameter`

There is a section "Not All Functions Have Input", that is not absolute necessary, may be removed from this episode, in order to regain some time to enhance learning's under

[2019-11-25 12:19] coolernato opened #761 "Why should we be suspicious?"
In the section "Visualising the Data", there is a sentence which reads "The result is a roughly linear rise and fall, which is suspicious: we might instead expect a sharper rise and slower fall." However, there is no discussion about why this is suspicious. In this episode, there is no description of what this data represents (and there is no reason to think the average student has any knowledge o

[2019-11-25 12:30] coolernato commented on #761
Reading the title page again, I see that the data is for inflammation following a "new treatment". With no other information about what this treatment is, it seems odd that inflammation would increase at all, if it was stable before the treatment. Much clarification is needed before any comments can realistically be made about what behaviour might be expected from the data.

[2019-11-25 19:20] CRWayman opened #762 "Programming with Python Episode 3 Example Suggestion"
In Episode 3 of Programming with Python, there is an exercise which shows that as a for loop iterates through a string of the five vowels, a variable is updated. I have found that this exercise skips a few logical steps, and that users who are new to Python struggle to understand the outcome of this loop.

I recommend augmenting the loop slightly so that instead of

`length = 0
for vowel in 'aeiou

[2019-11-26 20:21] k-dominik opened #764 "Episode 11 - command line, keypoints"
Dear swcarpentry team,

while I was going through the episdodes I stumbled over the last keypoint of the last episode (https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/11-cmdline.md)

In the end you mention `sys.stdout` as on of the keypoints. It is, however, not mentioned once in the text. I understand the urge to mention the counterpart of `sys.stdin`, but maybe

[2019-11-27 11:46] Iain-S opened #765 "09-defensive.md: Incorrect Error blocks for some assert statements"
**Problem description**

In the episode on defensive programming, under the "Test-Driven Development" heading, we use assert like so:

    assert range_overlap([ (0.0, 1.0) ]) == (0.0, 1.0)

The error block below this code shows an `AssertionError`.  In fact, we get a `NameError` as range_overlap is not yet defined.  This happens again a little further down the page.

**Proposed solution**

Run th

[2019-12-02 17:02] ldko commented on #765
@Iain-S you are correct, running that `assert` statement before `range_overlap` is defined does result in a `NameError: name 'range_overlap' is not defined` rather than an `AssertionError`. I think your solution makes sense. What do you think @maxim-belkin @annefou ?

[2019-12-02 17:05] ldko commented on #764
@k-dominik thanks for catching that. I think it makes sense to remove the keypoint rather than trying to fit in an explanation/example in the episode at this point. What do you think @annefou @maxim-belkin ?

[2019-12-02 18:53] annefou commented on #764
Definitely right! I would also remove it.

[2019-12-02 18:59] annefou commented on #765
Yes I like your solution. Thanks.

[2019-12-02 19:13] maxim-belkin commented on #765
I concur. It looks like someone did `def range_overlap(*args): pass` (or something like that) before writing the episode.

Thanks for spotting this, @Iain-S!

[2019-12-02 19:20] maxim-belkin commented on #764
Agreed -- the keypoint has to go. It looks like it was never covered in the lesson (at least I couldn't find it).
Thank you, @k-dominik!

[2019-12-02 19:32] ldko commented on #764
@k-dominik would you be willing to open a pull request to remove the keypoint?

[2019-12-03 08:21] k-dominik commented on #764
thank you @ldko, @annefou, @maxim-belkin for your comments! I proceeded to open a PR (#768) that implements your consensus of removing the reference to `stdout` altogether.

[2019-12-03 16:10] #764 closed

[2019-12-04 23:18] scastanedabarba opened #769 "Move "mystery functions in IPython" box to earlier in lesson"
In the "Analyzing patient data" lesson, we start using functions in IPython really early and mention the parameters that numpy.loadtext has. I think it would be helpful to move "Mystery functions in IPython" to right after this point so that we can explain how we know that this takes exactly 2 parameters and that they need to be strings. At the very least I think it would be good to insert a sente

[2019-12-11 20:58] ldko commented on #765
@Iain-S would you be willing to submit a PR with your proposed solution?

[2019-12-16 22:17] charlie-becker opened #770 "Describe/Document 'sorted' function"
In the 'Tidying Up' section of the Creating Functions episode, the `sorted` built in function is introduced without providing any current (or prior) documentation about what it does.  The line in question is:

`filenames = sorted(glob.glob('inflammation*.csv'))`

Possible solutions:

- include a comment in the code itself

- Add a description in the paragraph above

- Remove the sorted command all

[2019-12-16 22:36] ldko commented on #770
Hi @charlie-becker, thanks for bringing up your concern. The `sorted` function first appears in the [`05-files.md` episode](http://swcarpentry.github.io/python-novice-inflammation/05-files/index.html) where it is briefly introduced to alphabetically sort the list of files produced by `glob.glob()`.  When it comes up in the "Tidying Up" section it is in the context of "[reproducing] the previous an

[2019-12-21 01:30] alexdesiqueira opened #773 "Defensive Programming: replacing assertions with exceptions"
Hi everyone,
I was lecturing using the Defensive Programming lesson ([09-defensive.md](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/09-defensive.md)) today, and I checked we are using several assertions to verify code. However, this is not a very good programming practice: assertions should provide a security check only when writing and debugging the program.
W

[2019-12-31 19:52] emmatalis commented on #663
Note: this comment is made in part to satisfy the Carpentries Checkout Procedure Part 1.

I think @HeatherAn was right to start a discussion about this issue, but I don't feel this concern warrants any changes to the lesson. Since the section in question comes so early in the _first lesson_, I don't think we should add any unnecessarily confusing exercises or language in describing what variable n

[2020-01-10 08:17] tyronechen commented on #633
Hi all, may I suggest a possible alternative option for these images?
It is a modification of the original loops image, and now shows how the loop sequentially moves through the string:
![loops_image](https://user-images.githubusercontent.com/9106263/72136229-4fe0e700-33c3-11ea-8ec3-390717c90970.gif)

[2020-01-10 23:09] ldko commented on #773
Hi Alexandre, thank you for opening this issue. @maxim-belkin, @annefou, and I discussed this today. We are in agreement with you regarding it not being the best practice to use `assert` statements to guard against conditions that don't work for a program (i.e. the `Assertions` section of the _Defensive Programming_ episode), and that teaching exception handling in its place would be more useful.

[2020-01-10 23:23] ldko commented on #762
Hi @CRWayman, I think your suggestion in this issue would be a good addition. Not only does it help clarify what is happening, but it also shows that you can execute multiple lines of code within the `for` loop, which I don't think is shown in this episode's content. Do you have any thoughts about using `print(length, vowel)` to show the output of each iteration on one line rather than doing the t

[2020-01-16 16:30] CRWayman commented on #762
Hello! I agree that the combination would be better as a single line print statement, I also think it's a good way to reiterate to beginners that you can print multiple variables in a print statement. I'm not sure how to do this as a pull request, are there instructions on how to do this? I wouldn't want to mess anything up. :)

[2020-01-16 17:16] maxim-belkin commented on #762
You can make changes using the GitHub's web interface:
1. Navigate to the _episodes folder:
 https://github.com/swcarpentry/python-novice-inflammation/tree/gh-pages/_episodes
2. Click on the episode you'd like to change:
https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/03-matplotlib.md
3. Click on the Edit (pencil) icon
<img width="998" alt="Screen Shot 2020-01-16

[2020-01-17 15:26] maxim-belkin commented on #495
All suggested improvements have been implemented.

[2020-01-17 15:26] #495 closed

[2020-01-17 15:41] maxim-belkin commented on #431
All issues reported here have been resolved.
Thank you, Laura!

[2020-01-17 15:41] #431 closed

[2020-01-17 16:04] maxim-belkin commented on #63
This issue is the oldest open issue in our lesson, where consensus has been reached.

I think it makes sense for an instructor to say "and now let's modify our script to do ..." during the lesson. But, perhaps, it also makes sense to have these scripts somewhere in the repo (e.g., in a new "solutions" subdirectory).

Anne (@annefou), Lauren (@ldko), what do you think?

[2020-01-17 16:21] ldko commented on #63
I agree with the instructor having learners start the code and save it in a file called readings.py and indicate to modify this same code as the episode progresses. I like the suggestion of showing the script throughout the lesson with the changing lines highlighted. I am not a fan of the idea of saving all the readings_*.py files in the repo. Similar to how the [`code` subdirectory](https://githu

[2020-01-17 19:11] annefou commented on #63
Yes. For me it makes sense to keep readings.py and modify the same code step by step. The progression (from the "initial" version to the "final" version) is helpful for learners but the numbering readings-01.py, readings-02.py is artificial and indeed goes against what we are trying to teach in the Carpentries.

And I also agree that we can have the final version of readings.py in the code subdire

[2020-01-17 20:25] maxim-belkin commented on #63
Thank you, Lauren and Anne.

Damien (@DamienIrving), are you still interested in working on this issue or would you prefer to delegate it to us / someone else?

[2020-01-20 18:21] maxim-belkin opened #774 "Call for Contributions: visuals (images, figures, plots, charts, etc.)"
_Submitting on behalf of maintainers of the [Python Novice Inflammation lesson](https://github.com/swcarpentry/python-novice-inflammation)._

We'd like to solicit image contributions that can help learners better understand and remember the material presented in the lesson. Examples of possible contributions include visuals explaining the structure of `for` loops, `if` statements (indentation, key

[2020-01-20 23:24] DamienIrving commented on #63
@maxim-belkin Sorry to be that person, but if I could delegate that would be great.

[2020-01-21 22:02] alexdesiqueira commented on #773
Hey Lauren,
thank you for getting back to me.

Hi Alexandre, thank you for opening this issue. @maxim-belkin, @annefou, and I discussed this today. We are in agreement with you regarding it not being the best practice to use assert statements to guard against conditions that don't work for a program (i.e. the Assertions section of the Defensive Programming episode), and that teaching exception han

[2020-01-21 22:23] ldko commented on #773
It would be great to have you consider the examples and get back to us, Alexandre. Thank you!

[2020-01-22 11:05] aliceminotto opened #776 "Analyzing Data from multiple files: generate composite statistics example"
In https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/06-files.md the solution uses in place operators += and /=, which are only mentioned and explained in the next episode.
I'd suggest moving the "in place operators" example before this one here from the "making choices" lesson as it is.

[2020-01-22 17:34] ldko commented on #776
Hi Alice, thanks for catching this. As you indicate, we should avoid the in-place operators in the _Generate Composite Statistics_ exercise of the [_Analyzing Data from Multiple Files_ episode](http://swcarpentry.github.io/python-novice-inflammation/06-files/index.html), since they have not been introduced. Moving the _In-Place Operators_ exercise from the [_Making Choices_ episode](http://swcarpe

[2020-01-27 10:55] aliceminotto commented on #776
Hi! Sure that would work, I'll do that! Cheers

[2020-01-27 16:40] maxim-belkin commented on #776
Closed in 6d32e70.

Thanks, Alice and Lauren.

[2020-01-27 16:40] #776 closed

[2020-01-30 22:55] noatgnu commented on #633
Hi, I also have a suggestion, would it be more consistent with Python index to start with the first element being `0` instead of `1`? Since accessing stuff through index was introduced a few paragraphs before, it would be more consistent with Python to also for that in this graphic since `word[1]` would be `x` instead of `o`. The default `enumerate(word)` and `range(len(word))` behavior is also st

[2020-01-30 23:09] noatgnu commented on #663
I think it is possible to add a link to the official [Python naming convention documentation from PEP 8](https://www.python.org/dev/peps/pep-0008/#id34) for students who would like to explore more about the intricacy of do and don't in good variable naming practices like ASCII compatibility, avoiding use of upper case O, lower case l (el), and  upper case I (eye).

[2020-01-31 16:42] ldko opened #780 "02-numpy: use patient data for 1D array in Change In Inflammation exercise"
The exercise _Change In Inflammation_ in the _Analyzing Patient Data_ episode could better blend with the overall lesson story by using the actual patient data when explaining the purpose of `numpy.diff` and giving the one-dimensional array example. For example, the one-dimensional array could be patient 3's first week of data as [suggested by Maxim here](https://github.com/swcarpentry/python-novi

[2020-02-03 23:28] noatgnu commented on #780
Hi @ldko  , would these changes be sufficient?

[2020-02-04 01:09] maxim-belkin opened #781 "Call for Contributions: image descriptions & titles"
### Overview

We'd like to solicit contributions aimed at improving image descriptions (also known as "alternative text") in our lesson. The goal of this solicitation is to lower barriers to using Python Novice Inflammation lesson for learners with vision impairments and those who are unable to clearly see images for other reasons.

### Technical details

Our lesson is written in the Markdown lang

[2020-02-04 17:05] maxim-belkin commented on #774
Good image description (also known as alternative text) is as important as the image itself. Therefore, we'd like to extend this Call with a [Call for Contributions: image descriptions & titles (#781)](https://github.com/swcarpentry/python-novice-inflammation/issues/781). If you'd like to improve the description of any of our images, please submit a pull request or leave a comment in #781.

[2020-02-04 18:56] ldko commented on #780
Hi Toan, Those are generally the changes I think we are looking for. I also liked the suggestion by @maxim-belkin to rename `row_start` to `patient3_week1` to hopefully make it clear what the value means. I would also tweak the wording of "We would like to" to "Let's" and perhaps also "to specify which axis that the function would process" to "to specify the axis to process". When you have time, p

[2020-02-09 13:42] evezeyl opened #783 "Dictionaries not introduced but used in exercise in "Error and Exceptions" - & suggestiong"
NB: Good first issue label (cannot be added because not in contributor list)

Exercise `Reading error Messages` - Lesson "Error and Exceptions"
(http://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html)

- As dictionaries are not introduced previously in lesson (maybe a consequence of reducing the lesson) I suggest the following:

1. Moving this exercise at the end of the first

[2020-02-19 08:03] nbrinckm opened #789 "Adding PDB to the debug lesson"
Hi folks,

I wonder if it is useful for the debugging lesson in the python novice workshop to let the people know that they can import the python debugger as any other module and make calls on `pdb.set_trace()` and can try to inspect their variables on the go.

So if we look at the last task in the lesson with the BMI they can change to code to something like this:

[code]

So executing the code,

[2020-02-19 19:41] ldko commented on #789
Hi Nils, thank you for opening this issue to suggest the use of `pdb` in the debugging episode. With the title of the episode being "Debugging", it seems like it would make sense to mention `pdb`.  Also, `pdb` does work using notebooks. However, as you say, this does introduce a lot of new complexity. I think there would be a small percentage of learners that would be excited about seeing this add

[2020-02-20 07:57] nbrinckm commented on #789
The complexity is in issue for sure (and being in time for the instructures is another very important point that I totally missed in my suggestion).

However, sometimes it may make sense to just give the pointer on where to look for additional stuff. Debugging and the pdb are important and it really makes sense if the people are getting used to it.
I can see that this may be an more advanced topic

[2020-02-20 16:04] ldko commented on #789
The lesson does have an extras section for [additional material](http://swcarpentry.github.io/python-novice-inflammation/extra_material/) that I think it would be nice if we generally made more use of. Perhaps putting information and an example about using `pdb` would make sense in here? @maxim-belkin @annefou do you have opinions about what should or should not go into the additional material sec

[2020-02-20 17:41] maxim-belkin commented on #789
The question of whether this lesson should cover `pdb` is a very interesting question.

In general:

1. modules like `subprocess`, `re`, `pathlib`, `argparse`, `pdb`, (maybe `os` and `sys` too)  and others deserve their own "intermediate" python for researchers lesson.
2. `pdb` module becomes necessary when
   - one transitions to writing complex functions that are difficult to "debug" with `print

[2020-02-21 08:04] blankdots opened #790 "Adding type hints example to functions"
This is not necessary a new idea and yes I am aware that the contributing guidelines state that:

I looked if there was some existing issue/PR on this but could not find it, and if there is already one please let me know.

I think the `Creating Functions` part of this lesson should at least contain some information about typing and have been part of Python since 3.5 and will and has been included

[2020-02-21 12:13] blankdots commented on #781
shouldn't the `![The first element of a list. Adapted from @hadleywickham.](../fig/indexing_lists_python.png)` in `05-lists` be included as well ?

[2020-02-21 15:47] maxim-belkin commented on #781
Thank you, Stefan!

[2020-02-21 16:46] ldko commented on #780
Fixed in #782

[2020-02-21 16:46] #780 closed

[2020-02-21 21:10] ldko commented on #790
@blankdots thank you for taking the time to open an issue to bring up `typing`. As the lesson is targeted to non-developers with novice programming skills, at this point in time, my personal opinion is that `typing` would be too much to include in the main episodes . Some of my reasoning is:
* type hints are optional and frequently not  used
* while type hints would make sense to developers with b

[2020-02-21 22:00] maxim-belkin commented on #790
Thanks for the suggestion, Stefan.

- Could you please list the cons and pros of typing that you mention above?
- Which episode are you suggesting we add it to?
- Our learners use either plain vanilla Python interpreter, IPython, or Jupyter notebooks. How can we demonstrate typing using any of these interpreters?*

 <sup>*</sup>Note that Python documentation (https://docs.python.org/3.8/library/ty

[2020-02-22 17:09] blankdots commented on #790
Thank you for your feedback!

@ldko I think I might not have explained my idea well enough.
The comments you made make perfect sense.
One thing still to keep in mind is that case where a novice might encounter a different structure of a function than that is taught as part of the lesson, and that will not take much from a lesson to mention that a function might look a bit different.

My suggestion

[2020-02-23 09:15] maxim-belkin commented on #790
Thank you for your answers, Stefan.
Below are my responses.

---

How exactly did you _test_ typing feature in plain vanilla Python / Jupyter? According to the documentation, plain vanilla Python interpreter does not enforce type annotations. I believe Jupyter does not do that either, does it?

- How can we demonstrate this in our lesson?
- We don't talk about "quality of code". Can you clarify wh

[2020-02-23 12:38] blankdots commented on #790
@maxim-belkin good questions, let me see if I can clarify.

I think there was some confusion, and I will refer to my original suggestion: illustrate that a function can have a different structure without going into too much detail regarding `typing`. The code on https://docs.python.org/3.7/library/typing.html will run in Python / Jupyter and can be run as is, that is what I tested.

But In order t

[2020-02-25 13:31] alimoges42 opened #800 "Suggestion to Introduce Type Conversion"
It appears that the topic of type conversion is not covered in any of the episodes of this lesson (as far as I can tell). I think that the concept of type conversion is useful for learners because it is a problem encountered throughout all domains of data science and research.

I suggest that type conversion be integrated into the content of [Episode 1](http://swcarpentry.github.io/python-novice-i

[2020-02-26 13:15] neil-csiro opened #801 "Episode 5 - Unnecessary cultural reference?"
In instructor training we were taught that we should avoid culture-specific references in our teaching.  I took this as being about old favourites like "foo bar", and references to literature like Monty Python, Hitchhikers Guide to the Galaxy and Lord of the Rings.

But would "Ch-Ch-Ch-Ch-Changes" (being the title of a subsection of the episode), be relevant to this too?  I recognise the David Bow

[2020-02-26 19:06] djangraw commented on #800
I agree with this suggestion. I found that when I was first learning to use numpy, much of the debugging I had to do centered on the subtleties of arrays vs. lists. An exercise in [Episode 5](http://swcarpentry.github.io/python-novice-inflammation/05-lists/index.html) could center around debugging one of these errors. For example:
[code]

[2020-02-26 22:53] ldko commented on #801
Hi @neil-csiro, thanks for bringing up your concern. I would say the "Ch-Ch-Ch-Ch-Changes" title is not necessary to retain if it may be seen as culture-specific, though I wouldn't classify it as hostile. I don't think being unfamiliar with the reference in this case impacts a learners ability to understand nor distracts from the material there. If you would like to remove the reference, perhaps r

[2020-02-27 09:11] neil-csiro commented on #801
Thanks - I'll make this change and PR in the next few days.

[2020-02-28 16:01] alexdesiqueira commented on #773
cc @melissawm :)

[2020-03-02 09:56] tobiashuste commented on #783
This sounds like a very reasonable suggestion to me.

Let me submit a PR for that.

[2020-03-07 18:20] ldko commented on #790
@blankdots , we appreciate your further explaining your position; you do make valid points about how showing learners type hints could have some value.

We had a chance to talk about the pros and cons of adding type hints to the lesson material at a maintainers meeting this week and determined that the cons outweigh the pros at this time. Since type hints are not required and add a greater complex

[2020-03-07 18:20] #790 closed

[2020-03-08 04:09] ldko commented on #789
@nbrinckm , we appreciate the time you spent on this issue. After discussing adding `pdb` to the lesson at our maintainers call this week, we decided that it would not currently fit into the lesson based on reasons including:
* We are assuming an audience of novice programmers, many of whom don't have experience with other languages and what they offer in the form of debugging.
* The functions we

[2020-03-08 04:09] #789 closed

[2020-03-09 07:11] blankdots commented on #790
it is ok, I understand. Thank you for considering it :)

[2020-03-09 16:35] maxim-belkin commented on #790
Thank you for the suggestion and understanding, Stefan. As Lauren said, we definitely agree with you that there is value in learning about type hints but our learners and tools are not ready for it yet. Perhaps, the list of topics we do not teach in this lesson will inspire someone to create a Python lesson on these topics.

[2020-03-11 18:07] maxim-belkin commented on #801
Hi @neil-csiro. Before you put together a PR, let me clarify your motivation: does this reference offends you personally or are you following the guidelines taught in the instructor training? I'm asking this because there is a big difference between these two scenarios. If this reference does not offend you personally, I'd be inclined to keep it in because teaching cannot happen in vacuum and new

[2020-03-11 20:38] ldko commented on #800
Thank you @alimoges42 for opening this issue to suggest introducing type conversion. I agree with you that knowing about how to convert data types could be useful across disciplines. However, we are limited on being able to introduce new concepts into the lesson due to it already being difficult to fit the current concepts into a standard workshop time frame and not wanting to overload learners wi

[2020-03-11 21:42] neil-csiro commented on #801
Hi @maxim-belkin, this doesn't offend me personally - I was trying to apply the guidelines in instructor training.  I'm a fan of the performer being referenced.

[2020-03-12 15:35] ldko commented on #801
Based on the response from @neil-csiro and @maxim-belkin , I am going to close this issue. If anyone has further concerns regarding the issue, we can reopen at that time.

[2020-03-12 15:35] #801 closed

[2020-03-12 16:03] maxim-belkin commented on #801
Thanks, @neil-csiro.
Thanks, Lauren.

[2020-03-12 16:13] maxim-belkin opened #813 "Thonny XXL"
I suggest discussing the possibility of using Thonny XXL (https://github.com/thonny/thonny/releases/latest) for our lesson: this is a cross-platform Python IDE with all the modules we use in our lesson (NumPy and matplotlib). It is significantly smaller than Anaconda, has everything we need when compared to miniconda & plain-vanilla Python, has classic behavior of a Python interpreter (`matplotlib

[2020-03-12 20:31] djangraw commented on #800
Well, Lesson 5 doesn't seem to include the inflammation data at all, so it might be a bit strange to introduce it just for this. I might suggest adding this example after the code blocks following "There are many ways to change the contents..." and just before "While modifying in place,". You could add something like:

_You might be tempted to perform arithmetic on lists of numbers the same way yo

[2020-03-14 01:21] spikelynch commented on #781
Just created the above pull request with an alt-text for an image in lesson 4 as part of my trainer checkout procedure.

[2020-03-23 16:48] georgezakinih opened #815 "Add flowchart illustration for for loops"
In teaching sequential programming languages, flowcharts are very useful illustration to mimic the step by step instructions as the processor executes them

I suggest adding a flowchart to illustrate how loop works in lesson 4 "Repeating Actions with Loops".  I see that flowcharts where used to illustrate "if statements" in lesson 7 "Making choices". The for loop flowchart can further be demonstra

[2020-03-26 12:46] twei55 commented on #769
I work with Python for a couple of years but never heard about "mystery functions". I asked colleagues of mine that also never heard of it. I used Google to search for some definition but it seems only to be used in the context of software carpentries. Is this a wording used in a specific community? Otherwise I would suggest to rename it something like in-line help.

[2020-03-26 20:04] ldko commented on #815
Hi George, I think it could be helpful to learners to see a flowchart of a for loop as you suggest. Maybe something akin to the structure of here: https://www.rff.com/flowchart_structure_for_loop.png?  The condition "Done with collection iteration?" makes sense to me, or in the example of the print character example, "Processed all characters in word?" . Regarding the body, to me, "Get next item i

[2020-04-10 06:46] tarunbonu opened #819 "Setup suggestion - Usage of Google Colab notebooks"
Hi there!

Google colaboratory (colab) notebooks are a good way to have everything set up to use instead of having to download and install Python or Anaconda tools locally on the system. This can be a good way to at least get started and be ready for the workshop.
Google colaboratory has all the required libraries downloaded and installed without having to sign in with an email id. If it is a requ

[2020-04-10 16:11] slel commented on #819
In the setup, we could mention several alternatives ways
to get started without installing things on one's computer:
- Binder
- CoCalc
- Colab
- Kaggle
- ...

This chart by CoCalc compares some online solutions for Jupyter:
https://cocalc.com/doc/compare.html

Personally I always get people started on CoCalc.
Among other things, I like that:
- tons of free software comes preinstalled
  including l

[2020-05-01 19:21] aayux commented on #529
This was slated for release in 2019, has this been resolved?

If not, I can take this up and make sure it's seen to closing.

[2020-05-04 17:26] ldko commented on #819
Hi @tarunbonu and @slel thank you for sharing your thoughts on this issue. Online software solutions is something that comes up regularly, and I have seen individual learners try to use such tools in workshops I have been involved with.

The Carpentries have long preferred learners installing software on their own laptops with the thought they are more likely to continue using the tools that way.

[2020-05-04 17:39] ldko commented on #529
hi @aayux, thank you for offering to take up this issue. Since this issue was opened, the lesson has changed somewhat and now I believe the first place the in-place operators are used is in a challenge in the [conditionals episode](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html) where the explanation of them is given. Based on that, and the amount of time that has pass

[2020-05-07 22:38] jdkent opened #821 "03-matplotlib, use matplotlib.pyplot.subplots instead of matplotlib.pyplot.figure"
in the grouping plots section, users are introduced to [`matplotlib.pyplot.figure`](https://github.com/swcarpentry/python-novice-inflammation/blob/0cc4282978311d9267a96095a17fd9141177c3e8/_episodes/03-matplotlib.md#grouping-plots), and add three subplots to the figure, like so:

[code]

I find that specifying there are 3 subplots to enter for every call of `add_subplot` a little confusing and diff

[2020-05-12 16:09] ldko commented on #821
Hi James, thanks for opening this issue that clearly provides reasoning for and against possibly using `matplotlib.pyplots.subplots` in place of `matplotlib.pyplot.figure`. As far as my opinion goes on the matter, while I do think that specifying 3 `ncols` for each call of `fig.add_subplot` seems a bit redundant, I think the text that precedes the code explains it well. Since many of the learners

[2020-05-13 15:08] jdkent commented on #821
Thanks @ldko for your thoughtful response, I agree you have to make best with tools you have at that particular point, and that the way it is being taught is not the end point for learner, but a stepping stone to learn the material at hand.

I could see an argument for moving the 05 list lesson earlier (since array indexing is taught in episode 02, and lists are a similar concept), but that would

[2020-05-13 16:09] jdkent commented on #821
This is bit tongue in cheek, looks like I'm suggesting "lawful good" and the lesson is currently "neutral good", so not a major difference according to whoever made this.

![fig](https://pbs.twimg.com/media/EXGYtCbU0AEErHm?format=png&name=large)

credit: https://twitter.com/abhisheksh_98/status/1256953937766174721?s=20

[2020-05-13 17:08] maxim-belkin commented on #821
Hi James,

"Don't believe everything you read on the internet" - A. Lincoln. :)

While I agree with what you said about repetitive calls to `add_subplot`, I have to say that repetition is, in a sense, a necessary part of learning. The number of lines of code is, in turn, closely connected to the repetition comment. And, as Lauren has already pointed out, real-world usage is not exactly our goal...

[2020-05-18 13:13] RaphaelaHeil commented on #815
Hi,
I hope it's okay that I am joining this?!
I have created a first version of the suggested flowchart.

Following the existing flowchart in episode 07, I did not include the start/stop terminals however I am not too happy with the way the Yes-arrow runs into nowhere - any thoughts/suggestions?
I also included the assignment "char =  next unprocessed character in word", since there is a similar i

[2020-05-19 16:00] ldko commented on #815
I think it is great you joined this issue @RaphaelaHeil ! I think your image helps to give an idea of a `for` loop running. Perhaps the yes arrow could go into an "exit loop" or "leave loop" or "resume code after loop"? I'm not sure either :D. I am wondering if @georgezakinih and the other maintainers @maxim-belkin and @annefou  have comments about the flowchart. I think in discussing this topic w

[2020-05-26 00:07] aayux commented on #529
@ldko thank you for the update! And I see your point now that I was able to go through the lesson.

Although, if it's a stale issue, isn't it best closed?

[2020-05-26 19:49] jdkent opened #823 "02-numpy: inconsistent text/images for array indexing and method calls"
## Array Indexing

The current text indexes arrays like: `data[0, 0]`, but the image indexes the array like `data[0][0]`.
These methods are equivalent (AFAIK), but this was not mentioned in the text.

![](https://github.com/swcarpentry/python-novice-inflammation/raw/gh-pages/fig/python-zero-index.png)

## Method Calls

The current text calls functions from `numpy` to operate on `data` (`numpy.max(

[2020-05-26 19:55] jdkent commented on #821
Thank you for thoughtful responses to this issue!
I'm unsure if anyone else will comment so I am fine with either leaving this issue open for posterity or closing it to reduce clutter.

[2020-05-26 20:10] jdkent opened #824 "03-matplotlib: rename axes1 -> ax1"
Motivated by @maxim-belkin's [comment](https://github.com/swcarpentry/python-novice-inflammation/issues/821#issuecomment-628124986) and the [subplot documentation](https://matplotlib.org/3.2.1/api/_as_gen/matplotlib.pyplot.subplots.html) (look at the `Returns:` section), there appears to be low hanging fruit to help improve understanding and be closer to what is recommended in "real world" use.

[

[2020-05-26 21:20] #821 closed

[2020-05-26 22:08] ldko commented on #823
Hi @jdkent,  thanks for pointing out the inconsistencies. I think in both cases, it would be desirable to update the images to match the text. Regarding the `data.max` vs. `numpy.max` function or method issue, previously the method was also used in the text, but a decision was made to [consistently use functions over the methods](https://github.com/swcarpentry/python-novice-inflammation/pull/244).

[2020-05-27 01:28] almacarolina opened #825 "adding types of objects to lesson 1"
I think it would be a good idea to discuss "mutable" and "immutable" objects before lesson 5 (lists). As a suggestion, it could be a good idea to give a brief explanation of the "most common" objects: dictionaries, arrays, lists, strings in lesson 1. As a novice learner, it took me a while to realize that lists are mutable. Lesson 5 does discuss lists and explains that they are mutable, although I

[2020-05-29 21:58] ldko commented on #825
Hi @almacarolina , thank you for taking the time to provide feedback on the lesson.

Despite its title, in The Python Fundamentals episode we don't try to teach all fundamentals that might be covered in a more general introduction to Python course, rather, we try to set a foundation toward teaching learners how to analyze our sample data. We intentionally keep what we cover light in this first epi

[2020-05-29 22:43] ldko commented on #824
Hi @jdkent , I see the point you are making about the convention in `matplotlib` to use `ax` or `axs` vs. `axes` to clarify if the variable holds a single axes or a collection of them. In the context of the example above, however, I don't think the change does much to clarify for new learners some of the points that @maxim-belkin brought up, such as why do we call it `axes1` (or `ax1`) and not `su

[2020-06-05 13:04] maxim-belkin commented on #815
Hi all!
Thank you @georgezakinih for the suggestion and  @RaphaelaHeil for the work you've done.
(And, of course, thank you @ldko for working on this.)

My apologies to all of you for taking so long to write this response. I have to admit that it took me longer than usual to formulate (for myself) my thoughts on this issue. So, here is what I think:

1. I like the idea of adding a visual to explai

[2020-06-08 09:14] RMeli opened #830 "pyplot import"
In the episode [Visualizing Tabular Data](https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html), `pyplot` is imported as follows:

[code]

This import requires to use `matplotlib.pyplot` everywhere in the code, which is much longer than the usual convention `plt`. I suggest to change the import to

[code]
or (see Issue #665)
[code]

and to update the code accordingly.

[2020-06-08 14:38] ldko commented on #830
Hi @RMeli , thank you for taking time to contribute this suggestion. You are right that using `as plt` would be less to type and follows a common practice.

Using `as` to supply a name for an imported module is something that has come up in discussion before, enough that it has found a place on our short list of ["Frequently Argued Issues"](https://swcarpentry.github.io/python-novice-inflammation/

[2020-06-08 14:57] RMeli commented on #830
@ldko Thanks for pointing out #61 and the "Frequently Argued Issues" , which I obviously missed.

I think the cognitive load of "you can use `as` to rename your import, which is useful for shortcuts" is very low compared to the benefits; my vote would have contribute to a 50/50 split on the matter! ;)

I'm happy to close the issue following #61.

[2020-06-08 15:21] ldko commented on #830
Your point is certainly valid. People feel pretty strongly one way or another which is why I believe it made the Frequently Argued Issues, and we leave it to the instructors to decide. There are many nuances and tips to teach to people learning Python; we find ourselves having to draw lines in the lesson text on what to include and leave out in order to keep the amount of content manageable for a

[2020-06-08 15:24] maxim-belkin commented on #830
Hi, Rocco! 👋
Cognitive load is the amount of information learners have to store in their short-term memory to understand the topic. That short-term memory is limited. The benefit you're talking about are related to the amount of typing one has to do to complete a task. If we fail to make learners understand the topic, they won't be able to use the benefits you mention.

[2020-06-08 15:24] RMeli commented on #830
I completely understand. Thank you for your comments @ldko !

[2020-06-08 15:40] RMeli commented on #830
@maxim-belkin thank you for your comments. I completely understand, but I don't think the benefits are limited to the amount of typing. Using a shortcut for long imports puts the emphasis on the function being called. I think for a student
[code]
is much more difficult to digest than
[code]
In the second example the function call is clear, simple, and easy to read. In the first example, the studen

[2020-06-17 21:37] Talishask opened #832 "Lesson Contribution: how to install numpy"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases I won't be able to follow up or provide more details other that what I'm providing below.

-----

As part of the checkout process, I am reading through the python class , in session 2 before introducing numpy module, I will suggest add some instruction to user that how to

[2020-06-17 22:41] maxim-belkin commented on #832
Thank you, Talisha and the contributor!

I think this is a nice issue to discuss as part of the instructor checkout procedure so I'll add corresponding labels. I'd like our community members to weigh in on the pros and cons of implementing proposed changes (adding instructions on how to install Python packages).

Maxim

[2020-06-18 17:13] ldko commented on #832
I think it would be worth putting in a callout after the first `import numpy` to briefly let learners  know how to install the package if they don't have it installed. This could generally be skipped over when being taught in a workshop where learners were instructed to use Anaconda but could be of use if someone missed this or is using the materials on their own and did not follow the setup instr

[2020-06-18 22:49] gaurav opened #833 "03-matplotlib should have instructions on saving the plots"
[03-matplotlib.md](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/03-matplotlib.md) has instructions on creating some nice looking plots, after which the lessons move on to other features of the Python programming language. I think it would be nice for this lesson to end with instructions on saving this plot, either in Jupyter Notebook itself or [with `.savefig()

[2020-06-19 00:15] ddefranza opened #834 "05-suggesting a more Pythonic approach to copying"
In lesson Programming with Python, episode 5, "Storing Multiple Values in Lists" there is a very important discussion of making a copy of a list. This is demonstrated by literally creating a new list from the variable assigned to the old list, e.g.:
[code]
This is fine, as is using slicing to do the same. However, the more Pythonic way to accomplish this is by using the copy method, e.g.:
[code]
T

[2020-06-19 15:58] ldko commented on #834
Hi @ddefranza ,
Having come up in Python 2 programming, where the `copy` method was not available, I pretty much never think to use it :grin: , but it makes sense to me to teach copying the list with `copy` rather than the `list` function because I think it's name would make more sense and be more memorable to new learners.

There is also a PR #715 from a while back proposing to use `copy.deepcopy

[2020-06-19 16:36] ddefranza commented on #834
Sounds good. Introducing the `copy` method here, in an early discussion of lists might lay the groundwork for introducing `copy.deepcopy()` later on. Thanks!

[2020-06-19 16:42] ldko commented on #833
Hi @gaurav, I like your suggestion to cover how to save a plot. Perhaps it would make sense to add about using `savefig' at the end of the episode for the `fig` in the _Grouping plots_ section. It could mention that the file format is determined by the name of the output file that is given.

[2020-06-20 16:39] maxim-belkin commented on #833
I like this suggestion too. It’s very useful to know how to save a figure to a file. Thanks for the idea, @gaurav!

[2020-06-21 19:33] xintin commented on #832
In my opinion, in other chapters, too, if we are introducing a new library/package, it is good to share how to install them using pip/pip3 or conda.

[2020-06-21 19:49] xintin opened #835 "Episode 03 - Visualizing Tabular Data : Suggestions"
Hi, while going through Episode3, Visualizing Tabular Data, I came across a few things that I feel can be improved/added.

1. It is a globally accepted convention to use an alias for mathplot.pyplot as plt. Can we replace
   ` import matplotlib.pyplot` with `import matplotlib.pyplot as plt`
    Ref: http://google.github.io/styleguide/pyguide.html#22-imports

2. In the introduction, we are saying t

[2020-06-22 18:41] ldko commented on #835
Hi @xintin ,
Thank you for providing these carefully considered suggestions to improve the Visualizing Tabular Data episode! Here are my responses to your separate points:

   ` import matplotlib.pyplot` with `import matplotlib.pyplot as plt`
    Ref: http://google.github.io/styleguide/pyguide.html#22-imports

This is something that has come up multiple times. For the time being we are not making

[2020-06-22 19:12] xintin commented on #835
Hi @ldko,
Thanks for your thoughts. I agree with the reasoning for the 1. above. For the rest, I would probably try to submit the feasible PRs over the weekend. In the meantime, if someone wants to contribute, please feel free to do the needful.

[2020-06-22 21:03] maxim-belkin commented on #832
Thanks, @xintin, for joining the discussion. The points that you raised were, in fact, ... my concerns:

- if we provide such a callout box for `numpy`, we ought to provide a similar one for `matplotlib` (other modules that we use are part of a standard Python installation)
- our lesson uses Anaconda, so it makes sense to provide instructions for `conda` in addition to or instead of those for `pip

[2020-06-29 21:00] ldko commented on #834
No one else has chimed in @ddefranza , so if you are still available to make the `salsa.copy()` change, please open a pull request at your convenience. Thank you!

[2020-06-29 21:28] maxim-belkin commented on #834
I apologize for missing this PR -- please feel free to @-mention me directly or with @swcarpentry/python-novice-inflammation-maintainers.

I agree with laying the groundwork for introducing the `copy.deepcopy()` method but shall we use `copy.copy()` as an intermediate step rather than `salsa.copy()`? This way we would keep using the `modulename.method()` scheme rather than `object.method()`.

[2020-06-29 22:14] ldko commented on #834
@maxim-belkin we use other `list` methods in this episode (`append`, `pop`, `reverse`), so it seemed to me that `object.method()` would be ok to use here. If we want to use `modulename.function()` then I would prefer skipping `copy.copy()` altogether and only teach `copy.deepcopy()`, since it comes from the same module and will give you the same result as `copy.copy()` in this case but also handle

[2020-06-30 17:47] maxim-belkin commented on #834
I'm not opposed to adding `object.copy()` -- I actually tend to agree that we need it -- but we need to be careful and consider all pros and cons beyond our personal preferences / experiences and justification based on whether something is "Pythonic" or not. After all, "Pythonic" refers to a way of carrying out programming procedures in Python (which may be optimal and easy to understand) but not

[2020-07-01 17:26] ldko opened #840 "07-cond.md: `abs` function used without introduction"
In the "Close Enough" challenge of the conditionals episode, the solution uses `abs()`, but we have not taught that there is a built-in function `abs` that returns absolute value of a number. I propose to add a hint in the challenge and link to the documentation for the function.

[2020-07-01 17:45] maxim-belkin commented on #840
I agree. Either a hint or explain it in the first episode.

[2020-07-01 22:08] #840 closed

[2020-07-03 12:49] RMeli commented on #830
I'm re-opening this issue because I realized that import shortcuts are introduced in the previous lesson: [Analyzing Patient Data](https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html).

If the concept is introduced in a lesson, what are the arguments against using it in subsequent lessons?

[2020-07-03 22:55] ldko commented on #830
Hi @RMeli , You are correct, we do bring up shortcut style imports in the Analyzing Patient Data episode (mentioned [earlier in this thread](https://github.com/swcarpentry/python-novice-inflammation/issues/830#issuecomment-640671464)) in the "Importing libraries with shortcuts" callout box. There it is presented as an optional way of doing imports, and it suggests that using shortcuts or not is fo

[2020-07-09 15:03] ThomasA commented on #833
I can make a pull request for this addition as part of my instructor training checkout.

[2020-07-09 15:05] maxim-belkin commented on #833
That would be great! Thanks, Thomas!

[2020-07-10 13:47] bielsnohr opened #847 "01-intro: Inaccuracy in Demonstration of "Variables as Sticky Notes""
First off, let me start by saying I am a big fan of the Carpentries ever since I attended one of the workshops at the beginning of my PhD. Truly shaped how I approached software development. Many years later, I am finally in a position to start contributing to the lessons, and I am hoping to become an instructor soon. Now to the technical stuff.

A callout in the first episode (01-intro) seeks to

[2020-07-10 14:58] niehues opened #848 "Episode 08 - Suggestion: use double triple quotes for docstrings"
[Episode 8: Creating Functions](https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html) introduces Python docstrings. I would like to suggest to replace single triple quotes (''') by double triple quotes ("""). This is the recommended way according to [PEP 8 - Style Guide](https://www.python.org/dev/peps/pep-0008/#string-quotes) and [PEP 257 - Docstring Conventions](https://ww

[2020-07-10 15:01] ldko commented on #848
Hi @niehues ,
Thank you for the suggestion. You are right; we should use double triple quotes. Would you like to submit a Pull Request to make the changes? Thanks for submitting the issue!

[2020-07-10 15:03] niehues commented on #848
Hello @ldko, Yes, I'll submit a Pull Request.

[2020-07-10 21:00] #848 closed

[2020-07-11 20:29] #833 closed

[2020-07-14 19:06] maxim-belkin opened #851 "reference.md: remove old, add new things"
1. I propose to consider adding "tab completion" to the glossary (reference.md). We talk about it in episode 2.
2. I'm not where in the lesson we talk about RGB, so, perhaps, we can remove it (?).

[2020-07-14 21:39] ldko commented on #851
Adding "tab completion" to the glossary sounds fine to me.

Regarding RGB, there is content about it in https://swcarpentry.github.io/python-novice-inflammation/discuss/. However, I am not sure how much anyone is using this content as it is not particularly relevant to the rest of the lesson materials. Perhaps, that should be removed as well?

[2020-07-16 16:14] jakekara opened #853 "Making choices - Add explanation of all comparison operators"
In the SWC > Programming With Python > Making Choices Lesson (https://swcarpentry.github.io/python-novice-inflammation/), there is no explanation of the "<=" operator, which is included in the solution to the challenge where students are asked to determine if a is within 10% of b.

This lesson explains the == operator, but it might also be a good lesson to introduce all of the comparison operators

[2020-07-16 19:58] troub1 opened #854 "Consistency in use of single- and double-quote marks"
In the first episode, "[Python Fundamentals](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html)," it's mentioned that

and I often take a second there to say that the main thing is to be consistent with which one you choose. And then the workshop proceeds and we're using single-quotes the whole time. _Except_ later, in ["Storing Multiple Values in Lists"](https://swcarpe

[2020-07-17 14:29] ldko commented on #854
Hi Steven,
Yes, we should be consistent with single vs. double quotes, and in the lesson, where we are inconsistent is not intentional. Like you suggest, it likely came from several people contributing small chunks of episodes over a long period of time. I think it makes sense to consistently use single quotes, and it would be great if you want to do pull requests to fix this issue. I suggest one

[2020-07-17 15:18] troub1 commented on #854
Great, I'll get started, and thanks for anticipating my follow-up question(s)!

[2020-07-17 16:28] ldko commented on #853
Hi Jake,
You have made a good point about the lack of explanation of different operators available for value comparisons in the [Making Choices](https://swcarpentry.github.io/python-novice-inflammation/07-cond/index.html) episode.

Perhaps we could add a sentence (or a callout box) after the sentence "Note that to test for equality we use a double equals sign == rather than a single equals sign =

[2020-07-17 17:18] maxim-belkin commented on #853
Thanks for pinging me, Lauren. I think this would be a very fine addition to the lesson, especially for operators made of two symbols (`==`, `!=`, `>=`, and `<=`).

Thank you, Jake, for the suggestion!

[2020-07-20 19:54] ldko opened #858 "09-errors: Fix `favorite_ice_cream` Error output"
[Pull Request 857](https://github.com/swcarpentry/python-novice-inflammation/pull/857#discussion_r457651901) drew attention to the output of the first Error block in 09-errors episode being misaligned/lines misnumbered:
[code]
We should update the error output to match what is shown in Jupyter Notebook for the given Python code.

[2020-08-06 05:49] lcolosi opened #859 "Episode 3 - Visualizing Tabular Data: fig.tight_layout() Suggestion"
In the third episode, [Visualizing Tabular Data](https://swcarpentry.github.io/python-novice-inflammation/03-matplotlib/index.html), it states in subsection Grouping Plots:

The bolded portion of the sentence above could be a little confusing for the learner for two reasons.

1. Stating that the command **fig.tight_layout()** makes the subplots have a tight layout doesn't provide learners an under

[2020-08-06 13:01] maxim-belkin commented on #859
Hi Luke. I agree with your concern and suggestions. I think that the wording for `.tight_layout()` shouldn't be very thorough because for our purposes this is a matplotlib's quirk rather than a programming principle, so I think a shorter description would be better (e.g., "that the subplots better fit the figure area" or "subplots are better placed in the figure area").

[2020-08-11 18:28] ncf0003 opened #860 "Confusing phrasing of "Check Your Understanding" in episode 1"
https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/01-intro.md
I think the phrasing of the CYU question of the first episode could be improved or perhas the solution changed to better reflect the question. Presently the prompt is:

"What values do the variables mass and age have **after each statement** in the following program? Test your **answers** by executing the

[2020-08-11 20:53] ldko commented on #860
Hi Nicolas,
Thanks for submitting this issue! I agree with you that the phrasing of the challenge and the solution don't wholly align. Since the first two lines are variable definitions and the next two lines each only alter one of the variables, perhaps it would suffice to change the prompt to:

[code]

Would you like to submit a pull request to fix the issue?

[2020-08-17 09:36] ThomasA opened #862 "Example of two-dimensional indexing in NumPy arrays might be confusing"
In _episodes/02-numpy.md, a two-dimensional NumPy array is introduced and indexing into it is done with the syntax `data[30,20]` - perfectly fine for NumPy arrays. Then in the accompanying example figure (line 245) which illustrates enumeration of rows and columns, the 'list' notation with two sets of indexing brackets is used instead: `data[0][0]` etc. instead of `data[0,0]` (which is the only va

[2020-08-17 14:55] ldko commented on #862
Hi Thomas,
Thank you for reporting this. I believe this is part of the issue reported in #823, and there is actually a pull request open to change this at #827. We were holding off on merging to allow @jdkent some time to edit some of the spacing in the image. We'll see if we can get an update on that PR.

[2020-08-17 14:56] ldko commented on #823
Hi James, just want to check and see if you think you will have time to work on this in the near future. Thank you!

[2020-08-18 06:58] ThomasA commented on #862
Ah OK. I didn't do my research properly :sweat_smile:

[2020-08-21 07:57] ewinge opened #863 "Contribution: Animated for-loop"
I have made an animated for-loop for a different course.
You are welcome to use it.
https://www.openprocessing.org/sketch/906164/

	<iframe src=\"https://www.openprocessing.org/sketch/906164/embed/\" width=\"510\" height=\"600\"></iframe>

[2020-08-25 02:34] MDHDZ91 opened #864 "Improving Episode 8- Functions"
In this episode the difference between return and print are discussed and when these cases are used. But nowhere is it discussed the difference between return/print when setting a variable to the function output. So variable=function(with return) creates a variable with output we can further use but variable=function(with print) creates a variable with a string.
I know adding content to the lesson

[2020-08-25 23:21] ldko commented on #864
Hi María,
Thank you for providing feedback on this lesson!

As you mention, the difference between `return` and `print` are discussed in the _Creating Functions_ episode. In particular, this is the focus of the "Return versus print" challenge. Here it gives us the function:
[code]
and the statements:
[code]
and in the solution it explains:

[code]
This gives us an example of a variable, `A`, being

[2020-08-27 01:36] MDHDZ91 commented on #864
Hi Lauren,

Thank you for your response. Yes you are correct these information covers
my suggestion.
I know this is going to sound insane but I am recovering from a concussion
and I completely missed this block of code when I was preparing for my
teaching demo. I just looked back at the lesson and everything is clearly
there.
I'm so sorry for submitting a non-issue.

My apologies,

María D. Hernán

[2020-08-27 22:51] ldko commented on #864
Hi María,
There is absolutely no need for you to apologize for submitting an issue to this repo that ends up not leading to a change. :) We appreciate the time you took to submit the issue anyway!

Thanks,
Lauren

[2020-08-27 22:51] #864 closed

[2020-08-31 23:03] maxim-belkin commented on #860
Fixed in https://github.com/swcarpentry/python-novice-inflammation/commit/975bbb2b9b8f5fd85919b54ba71056d919d3b74b

[2020-08-31 23:03] #860 closed

[2020-09-01 12:32] ewinge commented on #496
Is anyone working on this issue? In my opinion, this should be a priority. Iterating over the characters in a string is too obscure for an introductory course.
Unfortunately, the lists-loops branch has fallen behind.

[2020-09-02 15:31] ldko commented on #496
Hi Erik, as far as I know, no one is actively working on this. If you would like to take it up (i.e. getting the branch up-to-date, resolving any conflicts, checking for references that no long make sense, etc.), please do! Thank you!

[2020-09-04 19:07] #858 closed

[2020-09-07 08:09] bielsnohr commented on #847
Looking at the other recent issues submitted, it seems like mine is the only one that hasn't received a comment. Is there anything I can do to help move this issue along? Shall I submit a pull request instead?

[2020-09-07 17:09] maxim-belkin commented on #847
Hi Matthew,

Apologies for dropping the ball here and thanks for submitting this issue! ❤️  Please see my response below.

Maxim

----

We use "variables as sticky notes" analogy to give learners unfamiliar with programming basic idea about variables. The episode doesn't say that all aspects of their behavior can be explained using this analogy. However, I think that the part  you're talking about

[2020-09-08 21:22] nihiliad commented on #847
I agree with Matthew that this example could be easier to understand, but for reasons other than whatever its technical accuracy may be. In addition to "Variables as Sticky Notes", which I think is a great metaphor, there are a few other things going on with this example that could distract people from that main point:

- `weight_kg` and `weight_lb` refer to an equivalent weight, but their units,

[2020-09-09 15:00] bielsnohr commented on #847
@maxim-belkin not a problem at all! I was mostly worried I had done something wrong. I also appreciate that most people here are probably doing this in there free/spare time, so I had no expectation of service :wink:

Even in the context of the fuzzy analogy, I don't think this is true. For the initial binding of a name/variable, then sure the "sticky note" is created at this point; however for su

[2020-09-10 10:18] bielsnohr commented on #847
`age_sarah = age_kemal`
(Image with two sticky notes, "age_kemal" and "age_sarah", both on the value 25.)

@nihiliad This is exactly the sort of behaviour of Python names/variables that I think we should be trying to emphasise (i.e. that they can point to the same value in memory). As your example shows, this would actually be simpler than what is presently in the call out.

[2020-09-11 14:12] nihiliad commented on #847
Thanks, @bielsnohr! I also like the way the lesson uses the "sticky note" metaphor, and agree with what you said here:

[2020-09-16 15:50] ldko commented on #847
Interesting discussion about this sticky note issue @bielsnohr, @nihiliad , @maxim-belkin . I can see why attributing "This means that assigning a value to one variable does not change values of other variables" to the sticky note concept itself could be misleading. As Maxim suggests, we are using the analogy to give a general idea of variables to people who may have no programming experience and

[2020-09-18 13:43] zerpiko opened #867 "First introduction of comments"
Hi.

I noticed that in lesson 2 (**Analyzing Patient Data**) the use of **#** to comment out text is explained with:

after using a comment in an example. However, the first use of comments is in lesson 1 (**Python Fundamentals**)
[code]

Wouldn't be better to move the explanation (and associated key point) to the first lesson?

[2020-09-18 13:59] maxim-belkin commented on #867
Good catch, @zerpiko! I think we should do that.
Do you agree, @ldko and @annefou?

[2020-09-18 15:43] ldko commented on #867
Yes, I think @zerpiko makes a good point. If Jose wants to open a PR to move the explanation, I think that would be great!

[2020-09-18 19:56] annefou commented on #867
Yes I agree,

[2020-09-21 09:42] zerpiko commented on #867
Hi, thanks for the feedback. I created a PR for this issue.

[2020-09-23 16:10] mattgillucl opened #871 "Explanation of a list"
In the episode [Repeating Actions with Loops](https://swcarpentry.github.io/python-novice-inflammation/04-loop/index.html), in the section "Computing the Value of a Polynomial", the text says:

```The built-in function enumerate takes a sequence (e.g. a list)...```

I know this is probably a bit pedantic but, as far as I can tell, the concept of a "list" (in a programming sense) isn't actually exp

[2020-09-24 12:45] mattgillucl commented on #871
I just realised the very next episode is all about lists.

Thus a quick fix would be to link to [Storing Multiple Values in Lists](https://swcarpentry.github.io/python-novice-inflammation/05-lists/index.html) from the word `list` in the text `(e.g. a list)`.

[2020-09-24 17:42] ldko commented on #871
Hi @mattgillucl , thanks for pointing out this inconsistency in the lesson. There has been some work around [moving the `list` episode before the `loop` episode](https://github.com/swcarpentry/python-novice-inflammation/issues/496), but since `list` isn't yet taught where this exercise appears, perhaps the exercise should move to the `list` episode exercises. Another option is to change the exerci

[2020-09-24 17:45] maxim-belkin commented on #871
I think adding a (forward-)reference￼ is a good idea￼ in this case. 👍

[2020-09-25 15:37] ldko commented on #871
@mattgillucl regarding

Would you be willing to open a PR to add the link?

[2020-09-28 09:40] mattgillucl commented on #871
Hi people. Sorry for not responding earlier but for some reason I haven't been receiving notifications.

OK I will have a quick look and hopefully do a PR.

[2020-09-28 12:02] mattgillucl commented on #871
Can someone give me write permission on the repo please?

    python-novice-inflammation git:(mattgillucl-lists-fix) git push --set-upstream origin mattgillucl-lists-fix
    remote: Permission to swcarpentry/python-novice-inflammation.git denied to mattgillucl.
    fatal: unable to access 'https://github.com/swcarpentry/python-novice-inflammation.git/': The requested URL returned   error: 403

[2020-09-28 12:50] maxim-belkin commented on #871
You'd have to fork this repo, make changes in your fork, and then submit a pull request to this repo.
Please see https://guides.github.com/activities/forking/ for more info but please let us know if you need help along the way.

[2020-09-28 13:03] mattgillucl commented on #871
Sorry, I forgot about having to fork.

I have made a PR https://github.com/swcarpentry/python-novice-inflammation/pull/873

I hope that fixes it.

[2020-09-29 07:47] #871 closed

[2020-10-03 14:25] baileythegreen opened #874 "Episode 10 Defensive — Using the assert statement to validate data is bad practice"
# Relating to [Episode 10 — Defensive Programming](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/10-defensive.md)

The first half of this lesson advocates using Python's `assert` statement to do data validation. While this may be *common* (I don't know), it is not correct, and can potentially be very dangerous (explanation to follow).

By default if a Python pro

[2020-10-03 15:15] ldko commented on #329
This has been resolved.

[2020-10-03 15:15] #329 closed

[2020-10-03 15:26] ldko commented on #874
Hi @baileythegreen,
We have similarly had people bring up the trouble with assertions in issues #622, #773 and propose to bring in exception handling instead. The maintainers agree that it makes sense to modify this part of the episode, and we would welcome a PR from you. Thank you, Bailey!

[2020-10-03 16:00] baileythegreen commented on #874
Hi @ldko,
I've had a look through those issue threads and I don't see any current pull requests related to them, so I'll start on a new one, trying to keep the discussion that has gone before in mind.

As it is, I think the main consideration is whether to demonstrate the `try...except(...else...finally)` statements, or stick with simply raising an appropriate error type. I'll look into both to se

[2020-10-09 11:36] DanShort12 commented on #874
I was also taking a look at this session and wasn't so keen to see the use of `assert` without any clarification that it should only be used in unreleased settings (testing mainly).

Similarly, I agree with the other comments that it would be useful to have an introduction to exception handling in place of some of the existing material - particularly since exceptions raised by built-in modules are

[2020-10-13 00:31] chrisroat opened #880 "Broken figures on github.io"
At the following page, the images under "Option A: Jupyter Notebook" are broken links:

https://swcarpentry.github.io/python-novice-inflammation/setup.html

I see the figures in the repo, but I am not familiar enough with gh-pages and github.io to know what went wrong.

[2020-10-13 09:36] #880 closed

[2020-10-13 09:38] maxim-belkin commented on #880
Thanks for the report, Chris.
François fixed this in #881.

[2020-10-13 22:49] baileythegreen commented on #874
@DanShort12

I will let you know once I have something.

[2020-10-15 08:09] stefpiatek commented on #853
I'd be happy to create a PR with that if you'd like?

[2020-10-20 14:41] klbarnes20 opened #883 "Lesson Contribution - Swapping variables"
I'm a member of The Carpentries staff and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

----------------------------------------------
1. python-novice-inflammation -

[2020-10-21 16:54] bielsnohr commented on #847
Hi @ldko and thank you for the response. Apologies it has taken me so long to return to this.

Yes, given this context, you are certainly right that it is probably out of scope to compare Python variables to those in other languages. If we do ever decide this might be valuable, then I think it could be kept fairly high-level using analogies (i.e. Python names are like sticky-notes or labels that y

[2020-10-24 17:11] #853 closed

[2020-10-26 15:01] stefpiatek commented on #853
Oh this is also very delayed (sorry for bringing it up again @ldko) but I was wondering if you'd be happy to add the `hacktoberfest-accepted` tag for this PR? Making a late attempt to get the 4 PRs

[2020-10-26 22:50] cmil-2 opened #884 "Contribution: Repeating Actions with Loops"
**I had the experience of going through Repeating Actions with Loops in a group setting. The lesson teaches negative approaches for printing characters first, which many found confusing when following live coding.**

"An example task that we might want to repeat is printing each character in a word on a line of its own.

word = 'lead'
In Python, a string is basically an ordered collection of chara

[2020-11-01 11:44] bast opened #886 "The CSV example can give novices the wrong impression of how to structure CSV files"
The CSV data used in this lesson (https://github.com/swcarpentry/python-novice-inflammation/tree/gh-pages/data) has two problems which for me are significant:

1) The files contain no header line:
  - This means that only by looking at the data alone, we have no idea what the data represents. I think this is not good practice from the documentation/reproducibility perspective.
  - Many CSV readers

[2020-11-01 11:48] annefou commented on #886
`numpy.loadtxt` can now handle headers (for instance, we can use skiprows) and we can also add comments. My guess is that is is mainly for historical reasons.

[2020-11-03 21:29] ldko commented on #884
Hi @cmil-2, thank your for providing feedback about the loops episode. This is a critique I have not heard come up before, so it is good to open it up to discussion.

What aspect of seeing the four `print` calls did the learners find confusing? Was it: what the code was doing, what the syntax with the indices meant, why we would show something in a way we would then say is "bad"?

For me, the bene

[2020-11-13 15:00] mhamilt opened #887 "Overarching Narrative"
Mentioned in issue https://github.com/swcarpentry/python-novice-inflammation/issues/179

The lesson would really benefit from an overarching narrative, something similar to [Nelle's Pipeline in the Shell Novice](http://swcarpentry.github.io/shell-novice/01-intro/#nelles-pipeline-a-typical-problem) that gives context to each lessons.

The inflammation data is synthetic, however integrating it withi

[2020-11-13 17:47] ldko commented on #887
This is something the maintainers have talked about doing and are in support of. @annefou was planning to updated episode 1 with examples more relevant to the inflammation story. Have you had a chance to work on that, Anne?

[2020-11-18 11:04] vcheplygina commented on #774
I would like to contribute an overall diagram/flowchart to the main page of https://swcarpentry.github.io/python-novice-inflammation/, which gives a high-level idea of the lesson:

* There are patients with arthritis
* We take some measurements of them
* We process the measurements
* (Decisions are made based on the processed measurements)

This can be helpful for learners to connect the lesson to

[2020-11-18 17:17] maxim-belkin commented on #774
Hi, Veronika. I think it would be nice to have such a diagram. Please submit a pull request or open a new issue so that we can discuss it in detail there.

[2020-11-24 08:46] vcheplygina commented on #774
I made a pull request here https://github.com/swcarpentry/python-novice-inflammation/pull/891

[2020-12-01 13:24] RoelBrouwer commented on #832
I hope weighing in on this discussion is still useful, as it has been a while since the last contribution to the discussion. But here are my two cents:

I mostly agree with the points that @maxim-belkin raises. I broadly see three options on how to implement this suggestion:

1. Create a separate episode dedicated to the environment / library management;
2. Provide a callout box or something simil

[2020-12-13 14:56] vidarmehr opened #894 "Errors and Exceptions"
Dear Carpentries Team:

I have a comment about _part 9, Errors and Exceptions_ (https://swcarpentry.github.io/python-novice-inflammation/09-errors/index.html).

In this part, common errors in Python are explained. However, some errors have already explained in previous parts or have already occurred for leaners. For instance, **Index Error** has already explained in _part 4, Repeating Actions with

[2020-12-19 10:47] ewinge commented on #496
Hi, I have made PR #895 please have a look

[2020-12-19 14:49] biokcb commented on #496
Hi @ewinge - thanks for pushing these changes up! I hadn't kept up with the progress of my changes in the list-loops branch being taken to main. Out of curiosity are you pulling in the list-loops branch or did you just re-write it?

[2020-12-19 15:05] biokcb commented on #496
For context @ewinge @maxim-belkin: I was waiting for someone to want to merge my changes into the main branch (seems to have fallen off the radar and now the branch is out-of-date), we worked in the list-loops branch since it was a major change. Would you mind if we tried to update the list-loops branch instead as @ldko mentioned? I'm kind of sad now that my changes won't get merged and was busy a

[2020-12-19 15:05] ewinge commented on #496
Hi @biokcb, the list-loops branch had fallen behind, so it was easier to start from scratch.

[2020-12-19 16:29] biokcb commented on #496
Hi @ewinge I agree it would be nice to have the lesson finally implement this change in the `gh-pages` branch. I didn't realize it wasn't til I saw this email.

Isn’t it time to get it resolved?

I feel like this comment is a bit hostile and unnecessary. I only mentioned my feelings on it for context behind my request for it since I don't have an official role on the repository. In the original is

[2020-12-19 16:44] ewinge commented on #496
Hi @biokcb, I apologize if I was rude, that was not my intention:)

[2020-12-22 18:14] maxim-belkin commented on #496
Hi @biokcb and @ewinge.
Yes, it did fell off my radar for a number of reasons -- my apologies. Let's proceed with the fastest approach, which I think is to:

1. Update the `lists-loops` branch with the changes from `gh-pages` (this might require a rebase or a merge). This is necessary because we split the first episode into three about a year ago. This will preserve all contributions to the `lists

[2021-01-19 10:41] SRSteinkamp opened #898 "Episode 2: array/vector dimensions"
Hi there,

so this might be a bit pedantic, but in preparing for the instructor checkout I stumbled over the following expression in episode 2 (Analyzing Patient Data).

In describing using the `axis` argument, for example in `numpy.mean(data, axis=1)`, there is a statement about checking the output dimensions:
`The expression (40,) tells us we have an N×1 vector, so this is the average inflammati

[2021-01-19 13:32] SRSteinkamp commented on #498
Is there still any help needed?

[2021-01-19 22:14] nrush opened #899 "Type/dtype in episodes 1 and 2"
My recommendation is to provide slightly more details on data types in the first episode to better flow into the dtypes function in the second. The way episode 2 flows, when dtypes is mentioned, it reads as if the students are already familiar with the type() function. By briefly showing how the type() function can be called to show whether variables are integers, strings, ect., it can give studen

[2021-01-20 18:41] ldko commented on #498
Hi Simon,
Thank you for inquiring. I have updated the description with the output of running the command `$ make lesson-check-all` which shows that we have lines that needed shortening. If you would like to work on this issue, please edit one file per PR. Thanks!

[2021-01-20 20:26] ldko commented on #899
Hi Nathaniel,
Thank you for taking the time to open this issue. I think it makes sense to introduce `type()` in the _Types of Data_ section of the [first episode](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html). It is something we have been meaning to add as mentioned in PR #766. Regarding type casting, we have not included it at this point, since we aren't making use

[2021-01-20 21:04] SRSteinkamp commented on #498
Thank you Idko for putting me into the loop :)

I will work on the other files in the coming days, that's it for today :)  ... also if you have any comments on how to improve my PRs, I am happy to adjust them (especially in the future!)

[2021-01-30 07:19] asheikh97 opened #906 "Episode 2 Contribution: Better explaining the axis parameter of numpy array functions"
Hi Team,

Better explaining the axis parameter of numpy array functions:

Every numpy 2D array has two axes we are able to operate over, namely axis 0 and axis 1. We can define this axis parameter with most array functions such as mean(), max(), min(), std().

Axis 0 allows us to operate over the values vertically, in other words iterating over each row. Axis 1 allows us to operate over the values

[2021-01-30 21:05] lc822 commented on #781
Suggestion for 06-files.md `![Analysis of inflammation-01.csv](../fig/03-loop_49_1.png)`:
Output from the first iteration of the for loop. Three line graphs showing the daily average, maximum and minimum inflammation over a 40-day period for the patients in inflammation-01.csv.

Happy to hear your feedback/suggestions.

[2021-02-01 18:30] ldko commented on #906
Hi @asheikh97 ,
Thank you for raising this issue. I have also noticed when teaching this lesson some confusion about axis 0 and axis 1 and which to specify. I could see your text suggestions being incorporated into the episode where it currently says:

I could see your wording turning it into:

We welcome you to open a PR to propose changes. Thanks again!

[2021-02-01 18:59] ldko commented on #781
Hi @lc822 ,
Thanks for suggesting new alt text for the line graph figure of inflammation-01.csv in the files episode. I like what you have suggested here, which I think provides an adequate description in the context of the surrounding text of the page. If you have a chance, we would be happy to have you open a pull request.

[2021-02-02 11:39] lc822 commented on #781
Great, I have done so (#908)

[2021-02-05 12:43] jack89roberts opened #909 "Understanding the Inflammation Data"
This is very much related to #887 and #179.

I'm reading through the material for the first time and there are a couple of places where I'm slightly confused/unclear about the contents of the inflammation dataset (and how I'd explain it when teaching). It would be great to hear thoughts from the community on the following:

**[Episode 3: Visualizing Tabular Data](https://swcarpentry.github.io/pyth

[2021-02-05 15:01] jack89roberts commented on #830
I understand this has previously been argued and decided so sorry for adding more, but perhaps adding a short note that `import matplotlib.pyplot as plt` is a common convention would be worthwhile (similar to the "Importing libraries with shortcuts" box in the previous episode that @RMeli mentioned, though here it could be a one-liner as it's already been introduced previously)?

I'd also slightly

[2021-02-05 15:41] ldko commented on #830
I think a short note about the `plt` style import would be alright to add if you want to open a pull request. Thanks @jack89roberts

[2021-02-05 16:35] maxim-belkin commented on #909
Hi Jack.

Those are all good questions. Before I share the explanations I came up with when I asked myself the same questions, I have to say that neither I nor other maintainers are married to the dataset used in the lesson and we're open to suggestions to change the dataset and/or the storyline. Note that the script used to generate the dataset is, in fact, provided in the lesson repository: [per

[2021-02-05 17:05] jack89roberts commented on #830
Great, thanks @ldko - I've had a first go at it in #910

[2021-02-05 17:10] jack89roberts commented on #909
Great, thanks for the reply! I hadn't realised the dataset is generated for the lesson, that gives us scope to tweak things to fit a narrative if needed I suppose. It definitely would be nice to have a clear storyline for everything.

[2021-02-12 07:39] ivastar commented on #781
Suggestions for the remaining image descriptions in 03-matplotlib.md, consistent with the one offered in #908:

03-matplotlib.md > ![A line graph showing the average inflammation across all patients over a 40-day period for the patients in inflammation-01.csv.](../fig/inflammation-01-average.svg)
03-matplotlib.md > ![A line graph showing the maximum inflammation across all patients over a 40-day p

[2021-02-17 20:35] ChrisHandley commented on #906
I was reading over the suggestions here, and I think something that is missed here is that we need to reinforce the link between the axis index and element index - and without resorting to the ideas of "vertical" and "horizontal".

![image](https://user-images.githubusercontent.com/15832696/108260001-b05f5d80-7159-11eb-9bca-150ef5aadbba.png)

The above diagram (remade for the lesson) shown next to

[2021-02-25 21:08] ldko commented on #781
Hi @ivastar ,
Thank you for proposing these image descriptions. I think they are fitting in that they give more description than what we currently have, and details of the images you are describing are supplemented by the text before and after the images (for example, what the lines displayed are doing). I think we could leave off "for the patients in inflammation-01.csv" in the descriptions to ke

[2021-02-26 00:54] ldko commented on #906
Hi @ChrisHandley ,
Thanks very much for providing feedback on this and taking the time to provide additional images here. Personally, I am not finding the language about a relationship between element index and axis index helping me understand how the `axis` parameter in the `numpy` functions we are using relates to our data. Due to limited time in the workshop format of this lesson, I would also

[2021-03-16 05:58] svaberg commented on #883
I would like to contribute a pull request that closes this issue as part of my instructor training checkout.

[2021-03-16 06:47] svaberg commented on #883
The original issue (raised by @klbarnes20) is, as I understand it, that swapping variables with the help of a temporary value
[code]
teaches a non-standard way of swapping variables in Python. The pythonic way of swapping variables is via the
[code]
idiom as explained in [this popular Stack Overflow answer](https://stackoverflow.com/a/14836456/3198895). This idiom in also part of the [Additional E

[2021-03-16 20:29] ldko commented on #883
This discussion is similar to what was in [460](https://github.com/swcarpentry/python-novice-inflammation/issues/460#issuecomment-388847069). At that time it was decided not mention `a, b = b, a`. Do you think we should stick to that and close this issue @maxim-belkin ?

[2021-03-16 22:38] svaberg commented on #883
How about replacing the **Switcheroo** exercise with another that does not introduce the switching concept at all? Switching is not exactly a basic concept anyhow.

[2021-03-22 17:00] Columoleary opened #919 "Add introduction to built-in functions in 'Repeating Actions with Loops'"
Hello Team,

I was reading through the [Repeating Actions with Loops](https://swcarpentry.github.io/python-novice-inflammation/04-loop/index.html) episode and noticed that the built-in loop functions `len` and `range` are introduced without providing an introduction to built-in loop functions. In this episode, `len` is introduced in a sentence between two code snippets:

"Note also that finding th

[2021-03-22 17:31] vinisalazar commented on #498
Hi!

I just ran the `make lesson-check-all` command and got the following output:

[code]

I will submit PRs to try to fix the remaining warnings.

Best,

V

[2021-03-22 17:37] ldko commented on #498
Hi @vinisalazar , thanks for the offer! I believe the changes in CONTRIBUTING.md would need to be done outside of this lesson, specifically in the carpentries/style repo. The README.md lines that are too long are due to the markdown formatting for the table on the page, and I don't know of a way to get them under the 100 character mark and retain the formatting (if you do, please submit a fix :) )

[2021-03-22 17:40] vinisalazar commented on #498
Hi @ldko ! Thank you for the fast reply.

Good observation. I'll have a look at the template repos to see if I can contribute something there.

Best,

V

[2021-03-22 18:20] vinisalazar commented on #781
I hope this is okay, but I went ahead and implemented the titles suggested by @ivastar with a few tweaks.

Best,

V

[2021-03-22 19:51] vinisalazar commented on #781
I've also submitted a second PR providing suggestions for the remaining figures listed by OP. I hope it helps!

Thank you,

V

[2021-03-23 13:58] ivastar commented on #781
@vinisalazar sure, no problem.

[2021-03-23 15:23] vinisalazar commented on #494
Hi @maxim-belkin,

I tried running your script and got the following results:

**Original repo size:** 1665560 bytes (1.7 MB)
**After optimizing:** 1452196 bytes (1.5 MB)

[code]

I have rendered the lesson website locally and apparently all images are OK.

Best,

V

[2021-03-25 00:32] vinisalazar commented on #498
carpentries/lesson-example#330 addresses the `CONTRIBUTING.md` and `README.md` files.

[2021-03-25 14:50] vinisalazar commented on #494
I was wondering why I was getting these errors from SVGO. Turns out the `--enable` and `--disable` flags [were removed in version 2.0.0](https://github.com/svg/svgo/releases#v2.0.0). In the current version v2.2.2, they must be activated via the config file.

[2021-03-25 15:10] vinisalazar commented on #358
Apparently this change is now in Episode 7, it was introduced by 9ff6b19.

[2021-03-25 15:36] vinisalazar commented on #358
I expanded the example of True and False by explaining that 0 and None are evaluated as False. That's a helpful Python feature to know about, IMO.

Best,
V

[2021-03-29 23:18] ldko commented on #919
Hello @Columoleary ,
Thank you for opening an issue about built-in functions. It looks like we mention "built-in" in the loop, files, conditionals, and functions episodes of the lessons, but as you point out with the loops episode, we never introduce what built-in functions are. Rather than specifically introducing built-in functions in the context of loops, I suggest more generally introducing bu

[2021-03-31 14:00] #781 closed

[2021-03-31 15:41] maxim-belkin commented on #919
I like the suggestion to introduce built-in Python functions more generally. Even knowing the term "builtin" (or built-in function) is useful. There are several functions that we can use as examples (`print()`, `len()`, `range()`, `abs()`, `min()`, `max()`, `round()`, `sum()`, `sorted()`, `dir()`... maybe `any()` and `all()`) and the point that we can make is that we didn't have to do anything to

[2021-03-31 19:10] Columoleary commented on #919
@ldko I agree, it would be a great idea to introduce built-in functions at the beginning of the lesson, with perhaps a short list of examples in the episode, as @maxim-belkin suggested.

Thank you for your feedback on this!

[2021-04-06 17:31] #883 closed

[2021-04-07 05:15] maxim-belkin commented on #496
I've rebased the `lists-loops` branch on top of `gh-pages` and opened a pull request (#926). We need to double check everything and, when things look good, announce the change on The Carpentries' Discuss channel. Right now I see one issue there -- the sentence that begins with `In the first episode, we wrote Python code that` has to be updated to reflect the fact that the first episode was split i

[2021-04-13 10:28] bielsnohr commented on #847
After quite a bit of delay, I have finally gotten around to submitting a pull request related to this. As a stop-gap, I have put the suggestions by @ldko into the lesson. But it is still my feeling that an example like the one discussed above should eventually replace the current one. This will probably involve some changes to the list episode such that it also refers back to this. If I have furth

[2021-04-16 16:26] ldko commented on #898
To me N x 1 vector doesn't suggest 2 dimensions, but not sure how others view it. I think changing the text to a vector of length 40 would be ok though. Any thoughts on this @maxim-belkin ?

[2021-04-16 19:45] #847 closed

[2021-04-19 13:18] RMeli commented on #830
Addressed by #910

[2021-04-19 13:18] #830 closed

[2021-04-19 22:32] maxim-belkin commented on #288
Resolved in #344

[2021-04-19 22:32] #288 closed

[2021-05-18 16:24] chavid opened #933 "Episode 8 Creating Functions - Mention doctest ?"
<details>
<summary><strong>Motivate the use of the prompt in the docstring example</strong></summary>
Hi.

The docstring which is shown for function `offset_mean` includes an example, which is fine.

Yet, the format of the example, especially the use of `>>>`, may seem superfluous to a python beginner.
It may be worth to mention that this format will help some tools, such as `doctest`, to automati

[2021-05-18 16:40] chavid opened #934 "Episode 8 Creating Functions - About variable scope"
<details>
<summary><strong>Unexplained key point about reading an outside variable</strong></summary>

The final list of key points include : "If a variable is not defined within the function it is used, Python looks for a definition before the function call".

I am afraid a Python beginner will not understand such a statement, given what was detailed (or not detailed) in the episode, and I find t

[2021-05-21 22:53] ldko commented on #933
Hi @chavid,
This is something worth thinking about.

I think the format including `>>>` likely often doesn't register as meaningful to a beginner and isn't necessarily something we need to call out. I am reluctant to mention `doctest` as it may be distracting, though I get your point that just because it is in the text doesn't mean it needs to be mentioned aloud--sometimes though, I think having e

[2021-05-21 23:07] ldko commented on #934
Thanks for highlighting this @chavid.

Yes, as you say, the key points are meant to outline the concepts introduced in the episode. I think modifying the exercise to make the point of reading an outside variable would be ok to justify the key point's presence. Alternatively, it might be worth extending the variable scope section of the episode to include an example/explanation about this.  Would y

[2021-05-25 06:51] maxim-belkin commented on #933
That's an interesting suggestion... but considering the context of the episode I'm not too keen on mentioning `doctest` because it would happen right after we introduce docstrings and, therefore, would overwhelm learners with information.

Speaking of this part of the episode in general -- it looks like apart from the doctest-able docstring, this specific example isn't different from the code bloc

[2021-05-27 08:02] chavid commented on #934
Ok. If you think it is ok for the time budget, I think it is really worth to say a word about it in the "variable scope" section. The subsequent question being : to be complete, do we say a word about the keyword "global" ? For the time being, I will make the hypothesis the answer is "no". It is not that bad to let the beginner think he cannot change a global variable, which is a very bad practice

[2021-05-27 16:04] maxim-belkin commented on #934
Yes, let's not mention `global` at the moment.

[2021-06-18 16:53] maxim-belkin commented on #496
Congratulations, everyone! The order of the episodes was changed in #926 and I have already tested it in a recent workshop (I'll share feedback in a separate issue). Thank you all who contributed to this effort!

[2021-06-18 16:53] #496 closed

[2021-06-18 16:56] maxim-belkin commented on #506
Closed in #524

[2021-06-18 16:56] #506 closed

[2021-06-18 17:11] ldko commented on #899
This was addressed in #931.

[2021-06-18 17:11] #899 closed

[2021-06-18 17:14] ldko commented on #919
This is addressed by introducing the concept of built-in functions in #931 . Thanks for your input on the topic @Columoleary !

[2021-06-18 17:14] #919 closed

[2021-06-21 11:36] codingS3b opened #937 "Analyzing data from multiple files: Wording regarding glob"
[This episode](https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html) introduces the `glob` package using the words "a library with a rather unpleasant name".
I see two problems with that:
1) From my point of view this is not a good choice of words since students might be led towards feeling negatively about this very useful set of functions.
2) I think we should use "packag

[2021-06-21 14:12] ldko commented on #937
Hi @codingS3b ,
I also don't like introducing `glob` by saying it has a "rather unpleasant name" for the reasoning you give and would be glad to see that wording go.

Regarding "package" vs. "library", I believe `glob` is technically a module in the Python standard library, not a package. Library is a vaguer term, that I think works ok in this context because in this lesson we don't get into the d

[2021-06-21 18:08] maxim-belkin commented on #937
Hi Sebastian,  thanks for brining this up!

I concur with you and Lauren on the first issue -- let's fix that unnecessary wording about `glob`.

Regarding the choice of the right expression for `glob` (package/module/library): as Lauren explained above, `glob` is, technically, a module (it's a single file) but within the scope of our lesson we don't have an opportunity to explain this part of Pyth

[2021-06-21 23:39] ellenkeister opened #938 "Conceptual and unit problems with 'weight_kg' variable in Episode 1"
During my teaching demo, I noticed an issue that the trainer running the demo session suggested I mention as an issue for my checkout contribution. It's a small thing, but most of the programming intro sessions (including https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html) start with a variable for the weight of a patient in kilograms. I am a former physics professor, and

[2021-06-22 06:17] codingS3b commented on #937
Hi @maxim-belkin and @ldko, thanks for your quck response and feedback towards that issue and thanks for bringing the module/package issue up and that it might also cause confusion if introduced too early. I was not aware that `glob` is indeed just a single file!
So I will open a PR and change only the part about glob being unpleasant!

[2021-06-23 13:58] namurphy commented on #938
Thank you for raising this issue!  I've usually changed this example to something like `distance_in_kilometers` and `distance_in_miles` in sessions with lots of physicists, primarily because the distinction between mass and weight can distract away from the flow of the lesson.

[2021-06-23 14:47] namurphy opened #940 "Mention in setup instructions that Python 3.10 has significantly improved error messages"
Python 3.10, which is due to be released in October 2021, will have [significantly improved error messages](https://docs.python.org/3.10/whatsnew/3.10.html#better-error-messages) for common syntax errors.  Here's one of the examples they give:
[code]
Up through Python 3.9, the error points to the subsequent line which can make it harder to understand and find the error.  Using Python 3.10 in this

[2021-06-24 16:11] ldko commented on #940
I think once Python 3.10 is the default download on the Anaconda site (since that is the version we recommend learners download in the setup), this might be a useful tip to include. Thanks for pointing out this error message change @namurphy !

[2021-07-02 19:39] maxim-belkin commented on #937
Thanks for submitting the fix, Sebastian!
Thanks for taking care of the PR, Lauren!
Great work!

[2021-07-02 19:39] #937 closed

[2021-07-02 21:29] maxim-belkin commented on #938
Thanks for bringing this up, @ellenkeister, and for your comment, @namurphy.

As a physicist myself, I saw this discrepancy too. It is, however, so common that not only I don't worry about it, I'd be surprised if anyone ever answers to the "How much do you weigh?" question with "I weigh 800 Newtons".

But, of course, we (maintainers of this lesson) would be happy to review a PR that addresses this

[2021-07-04 09:35] chavid commented on #933
I worked on a merge request, trying to remove this doctest syntax, yet keeping the examples in the docstrings here and there in the episode (because I thik it is a good practice to include examples in docstrings). After searching the way to best include some examples in docstrings... I changed my mind about my initial problem. The use of ">>>" is not that doctest specific. It is the default python

[2021-07-04 09:35] #933 closed

[2021-07-06 01:40] sruthikalidindi commented on #894
I think this is a good idea to consider. I found that during live coding I would make mistakes and then explain how I was understanding the error messages to fix what was needed. Although this is something that can change depending on the person presenting, documenting common errors to focus on while teaching each section would be incredibly beneficial to learners who face them before part 9, Erro

[2021-07-07 18:34] Talishask opened #943 "Lesson Contribution - diagram to the Storing Multiple Values in Lists episode"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community.
---

I am working on my checkout tasks and I would like to contribute a diagram to the Storing Multiple Values in Lists episode of the Programming with Python lesson. Diagram is attached.
[sc_diagram.pdf](https://github.com/swcarpentry/python-novice-inflammation/files/6779385/sc_di

[2021-07-13 10:27] leriomaggio commented on #874
@baileythegreen I do completely agree with all your comments and concerns about the use of `assert` for data validation, leading to bad coding practice. I thought exactly the same when I saw the episode, and so I landed on this issue :)

This is to say, very happy to collaborate with you on any PR that may be coming, if you think there is anything I can still help you with?

[2021-07-13 13:56] leriomaggio opened #944 "How to Contribute to an Open Source Project on GitHub in Contribution Guidelines needs update"
While looking at the instructions on how to do my first contribution to the Software Carpentries material, I noticed that the link to the `How to Contribute to an Open Source Project on GitHub` is outdated.

In particular, the link reported in the guidelines is [this](https://egghead.io/series/how-to-contribute-to-an-open-source-project-on-github), whereas the new updated one should be this:[new l

[2021-07-13 13:59] leriomaggio commented on #944
In the meantime, I've checked all other links in the page and they do all work.

[2021-07-13 16:24] leriomaggio commented on #765
I would be very willing to submit a PR to FIX this issue which I've also noticed while reviewing the material in this section.

It seems the issue is quite old (still referred to as `Episode 9`), so I am asking first whether (1) it is OK for me to go ahead on this, and (2) it would be still considered a useful improvement? (The issue on `NameError` is still present)

On this note, in the interest

[2021-07-14 13:36] Iain-S commented on #765
@leriomaggio I certainly don't mind if you want to fix this issue. Somehow, I never got around to it. You've clearly given the TDD section a lot of thought.

The simplest approach, as you've mentioned, would be to either stub the function before the call to `assert range_overlap([ (0.0, 1.0) ]) == (0.0, 1.0)` (you could use a hard-coded `return None` or `return -1` if you didn't want to explain `p

[2021-07-14 16:13] ldko commented on #765
If anyone plans to do a rewrite of the `range_overlap` area of the episode, I suggest replacing `range_overlap` altogether with an example that would be relevant to the inflammation story line for better flow with the lesson. This is a desire that the maintainers have [previously mentioned](https://github.com/swcarpentry/python-novice-inflammation/issues/773#issuecomment-573240896). We would welco

[2021-07-14 17:22] leriomaggio commented on #765
Thank you @ldko for your feedback.

Yes, I would be very happy to work on a revised version of the episode.

Re `range_overlap` not relevant to the inflammation story line: I thought the same, and thanks very much for point out that issue - I missed it!
I do believe that the `range_overlap` per se is a brilliant example. We could probably keep it as the exercise case at the end of the episode, in

[2021-07-16 17:15] ldko commented on #663
Regarding @leriomaggio's comment mentioning teaching toward making code more _pythonic_, that is something I think we need to be careful not to spend much time on. While Python was chosen as the language to teach the lesson in for reasons such as it would be easier to learn than some other languages and because it is used across many disciplines, the goal of the material is not to make workshop at

[2021-07-16 21:58] ldko commented on #934
This was closed by #942. Thank you @chavid !

[2021-07-16 21:58] #934 closed

[2021-07-16 21:59] ldko commented on #944
This was closed by #945. Thank you @leriomaggio !

[2021-07-16 21:59] #944 closed

[2021-07-16 22:06] ldko commented on #943
I think having the list showing the different indices color coded could be helpful to include. I don't think the first `odds = ['1', '3', '5', '7']` without the color coding and index labels is needed, as it seems redundant. If someone wants to work on this and open a PR that adds the image as an svg, please do, and you can ask any questions about it here.

Thanks for submitting this on behalf of

[2021-07-19 09:57] dpshelio opened #948 "Code provided for students contain python code not compatible with python 3"
At least one file in the `code` directory, e.g., `gen_inflammation.py` fails when running it with python 3. The [problem is the "division" not giving an integer](https://github.com/swcarpentry/python-novice-inflammation/blob/11643f14d31726f2f60873c4ca1230fff0bbf108/code/gen_inflammation.py#L19). It needs to be changed to
[code]

This was spotted by a student trying to check their installation and

[2021-07-19 17:45] maxim-belkin commented on #663
I like the sentence -- it's clear and succinct. I wonder, though, whether it will increase the (cognitive) load of this section, because it introduces things (concepts) not covered in the lesson.

My other thoughts:
* +1 👍🏻  &nbsp; for explaining that +, -, ?, !, *, ^, #  can't be used in variables names. Perhaps, this could be added as an additional bullet point ("Can't use these symbols in varia

[2021-07-19 23:23] #948 closed

[2021-07-19 23:27] ldko commented on #948
Thanks for reporting the integer division problem @dpshelio . It has been fixed in #946. If you notice other errors in the code, we welcome you to report them in new issues, or if you would like to open a PR to set up testing of all of the code via CI, we can take a look. Thanks again!

[2021-07-21 15:07] tcouch opened #949 "Copying a list with the list function produces TypeError in Python3"
Link to page: https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html#ch-ch-ch-ch-changes

I get the following error with Python3:
[code]
I'd suggest using `my_salsa = salsa.copy()` or `my_salsa = salsa[:]`

[2021-07-21 15:14] tcouch commented on #949
See also `primes = list(odds)` further down the page

[2021-07-21 15:21] maxim-belkin commented on #949
This error means that somewhere in the code you created a variable called `list` and assigned it to some list, for example:
[code]
When you later do `list(salsa)`, Python thinks that `list` is a variable called `list` and not the built-in function, so it doesn't know how to proceed. To fix this, you'd have to delete this variable: `del list`.

`list` is an example of a name that we can use as a va

[2021-07-21 18:39] tcouch commented on #949
Oh dear, boy is my face red. Yeah, I was using an old python session from yesterday. Sorry about that and thanks for the patient explanation @maxim-belkin

[2021-07-21 18:39] #949 closed

[2021-07-21 19:44] maxim-belkin commented on #949
No worries! It was a good debugging exercise: the `'list' object is not callable` message means that an object of type `list` was called as a function (i.e., with parentheses right after it). The first line in the traceback (`my_salsa = list(salsa)`) has only one "function call" -- `list(salsa)`. Connecting dots together: the `list` in `list(salsa)` is actually a Python list, and not what one may

[2021-08-25 19:41] Talishask opened #951 "Lesson Contribution: Rephrase paragraph about Errors"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

About the contribution to a lesson or a glossary: In the course https://swcarpentry.github.io/python-novice-inflammation/, lesson 9 "Errors and Exceptions", I saw this int

[2021-08-27 15:00] kris-joseph opened #952 "Lesson contribution: Alternate diagrams for lists of lists (variation on the pepper photos)"
The section on [nested lists](https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html#nested-lists) in the ["Storing Multiple Values in Lists" episode](https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html) makes reference to a grocery shelf, but the image presented is of a pepper packet in a pepper shaker and I find the mixed analogy difficult to follow

[2021-08-30 22:16] Talishask opened #953 "Lesson Contribution - Episode 1 Introduction"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---
In the statement showing how variable names should be formulated, add the following rules.
In Python, variable names:
- cannot be a python keyword

Ex: Say you have a minim

[2021-09-10 08:41] apirogov opened #957 "Suggestion for lesson 8: Add example of a case where duplication is avoided using functions"
The lesson starts with an "abstract" discussion on why one might want to define own functions.

Maybe it would be good to actually demonstrate these problems? I'm just not sure what would be not too artificial and not too complicated, and take not too much time of the lesson just for illustrating the motivation for using functions.

Maybe something like: have the fahrenheit-to-celsius formula used

[2021-10-03 18:26] wokech opened #959 "Include a more comprehensive definition of the types of data"
The Python fundamentals lesson is generally good. However, I would have liked a listing of more common data types, including (1) booleans, (2) sequences, and (3) dictionaries. Additionally, the 1st paragraph should have a description and an example of each data type.

[2021-10-04 19:52] ldko commented on #959
Hi @wokech ,
Thank you for submitting an issue to this lesson.

This issue is similar to part of #825 . Regarding introducing more data types in episode 1, I am of the opinion I gave in response to that issue:

While it is valuable to learn as much as possible when it comes to Python, it is not the intent of the workshop to be comprehensive. While some people, I presume particularly those already

[2021-10-04 20:01] ldko commented on #957
Hi @apirogov ,
Thank you for taking the time to submit feedback about the lesson. Regarding the "abstract" discussion on why we might define our own functions, do you think the reasoning currently given is unclear? I agree that if a demonstration of a problem is added, it should be not too artificial, complicated, or long. However, if it is needed to make the need for defining functions more clear

[2021-10-12 14:50] Robin-Wardle opened #961 "Add some time for exercises into Lesson 5 - Repeating Actions with Loops"
[Lesson 4 - Repeating actions with Loops](https://swcarpentry.github.io/python-novice-inflammation/05-loop/index.html) - currently allocates "0 minutes" for the class exercises. Having taught this course, and been short of time due to the way that the lesson timings were used to plan the day, I suggest that 15 minutes be allowed in total for students to do the exercises.

There are 5 exercises: ex

[2021-11-05 16:15] AndrewGibbs opened #962 "Add some clarity and a brief example to the 'make it fail every time' segment of the 'Debugging' lesson"
I find most of the description on this page very clear and well-written. However, in the **make it fail every time** segment of the [debugging](https://swcarpentry.github.io/python-novice-inflammation/11-debugging/index.html) lesson, I found the text to be unclear, and the strategy for finding the bug to be too general for a beginner to understand. I propose that an example is briefly described (n

[2021-11-25 03:56] mike-ivs commented on #909
Hi Jack,

Just wondering if you ever got round to looking at the storyline/other datasets?

I just gave an abridged version of the lesson, focused around the research narrative and how you can quickly dive into a CSV of data without that much effort in Python, and thus "invented" a bit more of a narrative around the dataset, expected trends, etc. (disclaimer: I'm certainly not an expert in arthrit

[2021-11-25 09:15] jack89roberts commented on #909
Hi @mike-ivs , no I haven't unfortunately so that sounds great!

[2021-12-16 06:43] #887 closed

[2021-12-16 06:43] #909 closed

[2021-12-16 06:50] maxim-belkin opened #965 "Episode 1: use examples that are more relevant to the inflammation story"
_For context, see https://github.com/swcarpentry/python-novice-inflammation/issues/887_

Maintainers would like to solicit contributions to update episode 1 with examples more relevant to the inflammation story.

[2021-12-17 20:52] matthewabrown opened #966 "Episode 01: avoid gendered term "layman""
https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html

In Episode 01 we have "in layman's terms..." which could be stated in a more neutral way. I'm sure it's rarely or never found to be offensive, but we're striving for a high standard.

We could say "in a layperson's terms..." or completely revise since arguably "a name for storing a value" may not be considered lay-speech

[2021-12-21 16:44] drssth opened #967 "I would suggest to re-arrange the episodes: introduce list before episode-2."
I think episode-4, "Storing Multiple Values in Lists", introduces the list data type and its slicing, which could help the learners to understand numpy array operations in episode-2, "Analyzing Patient Data". Therefore, I would suggest to introduce list and its operations before working with numpy arraies.

[2022-01-03 04:31] matthewabrown opened #968 "Episode 5 - for loop reference page link does not work"
https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/05-loop.md?plain=1

Line 104 has a hyperlink which seems like it should go to the reference page, but the link appears to be broken. Looking at how other reference page links are coded, I think this one is just missing the ".html" suffix for the "reference" page.

[2022-01-04 00:10] amirayuyue opened #969 "Episode 2 "Analyzing Patient Data""
<details>
<summary><strong>Instructions</strong></summary>

Thanks for contributing! :heart:

If this contribution is for instructor training, please email the link to this contribution to
checkout@carpentries.org so we can record your progress. You've completed your contribution
step for instructor checkout by submitting this contribution!

If this issue is about a specific episode within a lesso

[2022-01-11 01:45] Jeet2806 opened #973 "Python Fundamentals Edit"
I am submitting this issue as my Software Carpentry Task-1 Lesson Contributions

In the Python Fundamentals Episode - https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html

I believe rather than diving straight to data types used in Python, a little introduction to the programming language will be beneficial to actively engage the interest of the participants.

The introduct

[2022-01-11 20:44] lntran26 opened #974 "Episode 5 - Repeating Actions with Loops re-use variables previously defined as loop variables"
In [Episode 5 - Repeating Actions with Loops](https://swcarpentry.github.io/python-novice-inflammation/05-loop/index.html) there is a line and an example discussing the re-use of the for loop variables outside of the for loop:

Note that a loop variable is a variable that is being used to record progress in a loop.
It still exists after the loop is over,
and we can re-use variables previously defi

[2022-01-16 22:08] faizbond opened #975 "Episode 6 - "General Composite Statistics" exercise"
In [Episode 6](https://swcarpentry.github.io/python-novice-inflammation/06-files/index.html), the exercise for General Composite Statistics seems to be missing some code on line 5 for the first part of the exercise. If that omission is by design and a part of the exercise, I believe some clarification should be made in the instructions leading up to the sample code.

If this is indeed an oversight

[2022-01-20 13:18] cozettec opened #976 "Small Suggestion for Python Fundamentals>Built-In Python Functions>first 'Check your Understanding'"
This submission is for instructor checkout.

Just a very small suggestion to add a clarifying statement to the first "Check your Understanding" exercise in the Built-In Python Functions section of Python Fundamentals. An important takeaway from this exercise is to understand how values assigned to a variable can be changed / variable reassignment or manipulation. However, in a class I supported re

[2022-01-20 21:56] maxim-belkin commented on #976
Hi, @cozettec, and welcome to The Carpentries. Thank you for sharing your ideas! I agree that the point of this exercise is not to get final values but to walk through each and every line and make sure students understand what happens. The changes you suggest make sense to me, so if you're up for a little bit of work -- please submit a pull request. And let me know if you need any assistance of gu

[2022-01-21 04:04] faizbond commented on #975
@ldko I think that would work!

[2022-03-04 05:09] DamienIrving opened #979 "A concrete example of moving from assertions to exceptions"
Hi! I'm the lead maintainer of the Data Carpentry [Python for Atmosphere and Ocean Science](https://carpentries-lab.github.io/python-aos-lesson/) (PyAOS) lessons.

When I first wrote the PyAOS lessons a few years ago, I borrowed heavily from the Software Carpentry lessons. My defensive programming lesson was almost a straight copy of the corresponding python-novice-inflammation lesson. However, la

[2022-03-04 05:32] alee commented on #979
👍 as a lurker from the gapminder lesson I think this is a solid contribution, but I would recommend including conditionals as well to check for invalid inputs as a first line of defense before exceptions. In grad school I was taught to avoid using exceptions for flow control, i.e., as guards to dictate which branch a piece of code should flow into, but this was primarily for performance reasons.

[2022-03-04 05:43] maxim-belkin commented on #979
Hey Damien!

Some time ago maintainers of this lesson (myself included) had a lengthy discussion about it and decided and changing assertions to exceptions is the path we want to take. We mentioned it in some issues and PRs here and there. So, if you're willing to make such a contribution -- it would be immensely appreciated.

hey @alee 👋🏻 good to see you! I'm in Arizona now, so we can, perhaps, m

[2022-03-04 09:57] tobyhodges commented on #979
Tagging @swcarpentry/curriculum-advisors in case they would like to comment on this. (According to [our CAC consultation rubric](https://docs.carpentries.org/topic_folders/lesson_development/cac-consult-rubric.html), this does not require CAC approval but it seems like the kind of topic the Curriculum Advisors might have a valuable opinion on.)

[2022-03-04 10:20] maxim-belkin commented on #979
Thanks for the info, Toby! This change can be interpreted as removal of one episode and addition of a new one, so it looks like it does require an OK from the CAC.

[2022-03-04 18:00] bsmith89 commented on #979
Thanks for tagging us!

I, as one member of the CAC, agree with your interpretation of the rubric, and think this change falls under "Issues that may benefit from Maintainers consulting with the CAC, but over which Maintainers retain authority".

I'm glad to hear that the maintainers already have consensus on how they'd like to evolve this lesson.

We may bring it up during our first meeting (whic

[2022-03-07 09:37] tobyhodges commented on #979
Thank @bsmith89 it sounds like you don't have any concerns about @DamienIrving working up a pull request to make these changes before the CAC has a chance to meet and discuss this. If the pull request has been merged already by the time the Curriculum Advisors have that conversation, please ask CAC members to open a new issue or pull request with any changes or suggestions they would like to make.

[2022-03-07 16:23] mpaegert opened #980 "Question about changes and bugfixes on episodes 1, 2, 7 and 10"
<details>
<summary><strong>Changes and bugfixes on episodes 1, 2, 7 and 10</strong></summary>

1. I changed a few things in the mentioned episodes, do you want them as one pull-request or per episode?
2. If accepted, would this count as certification as instructor?

List of changes:

Episode 1

After the first "type" command I added a short callout "Classes and Objects". All "type" outputs will st

[2022-03-10 01:48] DamienIrving commented on #979
Great. Thanks, everyone.

I've started a draft pull request at #981 and I'll let you know when it's ready for review (hopefully in the next week or two).

[2022-03-11 23:36] maneesha commented on #974
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

------------

As my final step in the checkout process, I will be commenting further on the issue raised by Intran26 on january 11th (https://github.com/swcarpentry/python-novi

[2022-03-12 01:02] bsmith89 commented on #974
I can understand a need for more clarification about this example.

In support of not _removing it_, however, my personal understanding was that it had a valuable purpose. We want learners to have an accurate mental model of how loops work, including the loop variables. It doesn't really matter whether that exact pattern is ever useful; if you don't understand why loop variables work that way, you

[2022-03-14 18:04] dsheehanMIT opened #983 "Reordering this lesson"
<details>
<summary><strong>Instructions</strong></summary>

While I am only now trying to complete my Carpentries teaching certification, I have been involved in teaching the Plotting and Programming in Python workshop since late 2019, both as an instructor and as a helper.  One issue that I have seen is the ordering of the contents, which us teaching Plotting and DataFrames before some of the fun

[2022-03-16 07:24] #863 closed

[2022-03-17 03:18] DamienIrving commented on #979
#981 is now ready for review if people want to take a look

[2022-03-24 21:06] #968 closed

[2022-04-19 15:37] davidwyld opened #988 "Consider recommending JupyterLab over plain Jupyter Notebooks in setup"
Hi all!

In the [setup instructions](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/setup.md) for this lesson, option A is Jupyter Notebooks, which I use for teaching the vast majority of the lesson.

However, later on, in [command-line programs](https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/12-cmdline.md), learners are asked to use the

[2022-05-26 17:55] Talishask opened #990 "Lesson Contribution - Suggested Glossary changes"
I'm a member of The Carpentries Core Team and I'm submitting this issue on behalf of another member of the community. In most cases, I won't be able to follow up or provide more details other than what I'm providing below.

---

Suggested Glossary changes

**(1) assertions.**

If assertions remain in the lesson ( I agree with Issue #979 and others in the gitHub that exceptions are a more appropria

[2022-06-10 16:15] henryiii commented on #988
I can add the Jupyter authors have been trying to discourage the usage of notebook for years, as they wanted to only maintain one, and lab is the newer, better thing. They are currently replacing notebook with lab components (notebook v7 will be based on lab instead of the old code), so it didn't end up being killed off completely, but lab is very much the way to go. Even JupyterLite supports the

[2022-07-01 08:34] paulmaxus commented on #358
I've found this issue under the _help wanted_ label, but it appears that all the original suggestions for corrections of the key points sections have been adopted. Should we remove the label and close the issue?

[2022-07-03 09:31] noatgnu commented on #358
@paulmaxus yeah since it has been adopted, it should no longer be in the help wanted category

[2022-07-04 07:31] pwgroen opened #997 "Suggestion to avoid confusion in episode 2 Analyzing Patient Data"
In https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html it says:
"This dotted notation is used everywhere in Python: the thing that appears before the dot contains the thing that appears after."

It could be confusing at first reading (before continuing with "As an example"), because it could at that point refer to the dots in the numpy.loadtxt output (i.e. in array([[ 0.,

[2022-07-04 13:19] pwgroen opened #998 "Suggestion to change listname (or list element of) primes in episode 4 Storing Multiple Values in Lists"
In https://swcarpentry.github.io/python-novice-inflammation/04-lists/index.html under Heterogeneous Lists, the list [1, 3, 5, 7, 2] is called "primes", while 1 is not a prime number.
A suggestion could be that the name of the list is changed, or that 1 is popped from it.

[2022-07-15 17:55] raynamharris opened #1000 "alternative to using fahrenheit and celcius for teaching functions?"
I've seen this lesson taught numerous times, and I always have a few issues with the section on [creating functions](https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html).

1. fahrenheit and celcius are hard to pronouce and hard to spell, especially if english is a second language
2. the math is unfamiliar and easy to mis type ((temp - 32) * (5/9))
3. who can remember that K

[2022-07-18 02:31] PaulHancock commented on #1000
I agree with the spelling here, even as a native English speaker Fahrenheit is an awkward word to type/spell (even more so in countries that use SI untis).

For parts 2/3, I believe that part of the point of creating these functions is that you don't have to remember the math/numbers, just look it up once, write the function, and then forget about it.
**However**, I do really agree with your point

[2022-07-18 02:31] PaulHancock commented on #1000
The previous submission is for instructor checkout.

[2022-07-25 10:19] indiauppal commented on #998
The easiest way is probably taking 1 out of the list and having odds = [3, 5, 7].
I'll submit a pull request.

[2022-07-29 08:30] pwgroen commented on #998
Thank you.

[2022-07-29 09:37] CFGrote opened #1003 "UbuntuMono font in SVG not rendered on non-Ubuntu system"
Hi,
I'm submitting this issue as part of my instructor training checkout.

## Summary
I noticed that the image fig/python-zero-index.svg does not render nicely on my (non-ubuntu) system, see this screenshot:
![image](https://user-images.githubusercontent.com/15476807/181726182-56923f0a-90ed-4da2-990b-308097430666.png)

Inspecting the svg source, I noticed that it uses UbuntuMono fonts, which are n

[2022-07-30 14:58] noatgnu commented on #998
Thank you for submitting the needed pull request to fix the document. I have merged the pr.

[2022-07-30 14:58] #998 closed

[2022-08-01 07:02] DamienIrving commented on #979
@maxim-belkin, @tobyhodges Is there anything I can do to help progress this? The PR is ready to go #981

[2022-08-01 18:40] maxim-belkin commented on #979
Hi, @DamienIrving. Apologies for dropping the ball here. I remember looking at the PR and, IIRC, I wanted to make quite a few comments, so decided to postpone this until I had enough time (I was changing jobs around that time). Unfortunately, I'm no longer a maintainer so I'm going to yield the right of reviewing the PR to current maintainers.

Basically, the main ask / request from me was going t

[2022-08-04 03:06] maxim-belkin commented on #1003
@CFGrote, could you please have a look into embedding font into the SVG using base64-encoding, e.g. something along the lines the procedure described at https://lvngd.com/blog/how-embed-google-font-svg ?

IIRC, the reason Ubuntu font was chosen was that it is easier to read for people with dyslexia, so unless The Carpentries recommend a different font, we should try to support/use it.

[2022-08-04 14:41] justindlc opened #1004 "Explanation of built-in functions"
This is in fulfillment of instructor training checkout step 1.

I think for the "Built-in Python functions" portion (https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html), it would help learners to include an explanation of the role of parentheses in functions. It might not be necessary to go into invoking functions without parentheses, but it might help newcomers to unders

[2022-08-15 14:18] jamesacris commented on #1004
I may be misunderstanding, but as far as I can see there is already an explanation of parentheses in the [built-in functions lesson](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html#built-in-python-functions):

[2022-08-26 21:50] bittremieux commented on #1000
I don't think that that would be a very good change. Barely any people have heard of stone as measurement, and pound is also unfamiliar to the majority of people around the world. Whereas those measurements of temperature should at least sound vaguely familiar from high school physics/chemistry classes.

[2022-08-26 22:34] bittremieux commented on #382
Indeed, using `?` is also mentioned in the "Key Points", but considering that no example or exercise uses it, I think this is a bit confusing. [Glob also supports other wildcards](https://en.wikipedia.org/wiki/Glob_(programming)#Syntax), such as `[...]`, which are not mentioned at all. This seems inconsistent.

`?` is a very useful wildcard, so I'd vote for adding a small example that demonstrates

[2022-09-02 09:09] qyx268 opened #1006 "expression and assignment statements"
At the beginning of [Python Fundamentals](https://github.com/swcarpentry/python-novice-inflammation/blob/44358e81575d20f22f3dfbaa3fb5768a668c1ba7/_episodes/01-intro.md), we start with `3+5*4`, an _expression statement_ that outputs `23`. We then introduce variables and assigning values with `weight_kg = 60`, an _assignment statement_ which doesn't have an output. I wonder if beginners will be puzz

[2022-09-06 18:38] scday commented on #973
Hi @Jeet2806 . I agree with your sentiments wholeheartedly. Making sure learners have an overview of what can be done with programming, specifically the programming language they will explore, helps create a baseline for the course. Python is an excellent programming language that has many benefits. I would also like it to be considered that we might want to share some of the benefits of python ve

[2022-09-15 10:22] chillenzer opened #1008 "Tiny error in Episode 2"
Hi everybody,
I just read through the lesson material in [Episode 2](https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html) and found that the "Data Type" box states that "A Numpy array contains one or more elements of the same type." That isn't technically true. It can contain **zero or more elements**. Is there a very good (maybe pedagogical) reason for keeping that way? S

[2022-09-15 10:48] chillenzer opened #1009 "Use numpy.concatenate instead of hstack, vstack"
Hi everybody,
I was just reading through [Episode 2](https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html) and was surprised about the appearance of `numpy.hstack` and `numpy.vstack`. Isn't it more useful to just introduce `numpy.concatenate` with an appropriate `axis` kwarg? I personally never use the `{h,v}stack` functions because they lack the generality to handle some c

[2022-09-15 12:00] chillenzer opened #1010 "Delete numpy.delete"
Hi everybody,

While reading through [Episode 2](https://swcarpentry.github.io/python-novice-inflammation/02-numpy/index.html), I stumbled across the use of `numpy.delete`. From my experience, I have not a single examples where the usage of `numpy.delete` is justified because it creates a new array instead of returning a view.

In the best case, the performance penalty does not matter and you neve

[2022-09-15 12:19] chillenzer commented on #1006
It is indeed a very interesting and fundamental concept in python (and actually many languages) to distinguish between expressions and statements or in this concrete case between expression statements and assignment statements.* But I suspect that really the application of this knowledge in practice is rarely necessary. Even more so as the target audience just starts off and probably has more pres

[2022-09-15 14:11] chillenzer commented on #1010
PS: I came up with one kind of reasonable scenario for using `numpy.delete`: Functional programming! From a purist's perspective, a function should have no side effects there and that is what `numpy.delete` achieves in returning a copy. If it is very (num)pythonic to use pure functional programming is to be decided by others.

[2022-09-15 22:05] chillenzer opened #1011 "Test-first programming is not TDD"
Hi everybody,

I was just reading through [Episode 10](https://swcarpentry.github.io/python-novice-inflammation/10-defensive/index.html) and I think that it is really great that "Defensive Programming" and the idea of "Test-first Programming" are taught as one of the first things to new programmers. I also think that the content of the lesson is very much appropriate for the novice programmer targ

[2022-09-15 22:56] chillenzer commented on #1000
Adding some personal experience here:
 - Stone --> never heard of it before
 - pound --> comfortable with that
 - Fahrenheit spelling --> no problem as a native German speaker ([Daniel Gabriel Fahrenheit](https://en.wikipedia.org/wiki/Daniel_Gabriel_Fahrenheit) was German)
 - Fahrenheit conversion --> would need to look that up but that is fine
In conclusion, to me personally there was no signific

[2022-09-22 15:53] patrick-austin opened #1012 "Episode 10 Solution incorrectly explains second assertion"
https://github.com/swcarpentry/python-novice-inflammation/blob/gh-pages/_episodes/10-defensive.md#testing-assertions
Regarding this code:

The solution states:

While an input of `'c'` would make this "fail", the failure is due to a `ValueError` being raised by `int()`, not an `AssertionError`. What this line of code actually does is assert that `bool(int(element))` is `True`. For example, an inpu

[2022-09-23 10:32] jamesacris opened #1013 "Missing link/reference on precision in Python - Episode 8: Creating Functions"
In the [Testing & Documenting](https://swcarpentry.github.io/python-novice-inflammation/08-func/index.html#testing-and-documenting) section of episode 8, there is an allusion to the precision of some data types in Python, when testing the `offset_mean` function:

As far as I can tell, there isn't any other mention of what this sentence is alluding to anywhere in the lesson notes. I could just be m

[2022-09-23 14:28] ozieblo-repository commented on #997
https://github.com/swcarpentry/python-novice-inflammation/pull/1014

Please review the resolution of the above issue.

[2022-09-23 15:51] noatgnu commented on #997
Hi, I have reviewed the resolution and merged it with the code base. Thank you for your contribution.

[2022-09-23 15:51] #997 closed

[2022-09-23 18:11] #966 closed

[2022-09-27 11:38] mwhamgenomics commented on #983
I just taught this course yesterday and agree that it needs some re-ordering. I can understand wanting to hold off from loops and conditionals and give learners a useful library to work with early on, but it was a bit jarring to go from basic functionality in chapter 1 straight to numpy in chapter 2. Lists can definitely be moved to come before numpy. Couple of things I noticed:

- Chapter 2 uses

[2022-09-30 12:20] hornemann opened #1015 "An inconsistency between setup and lesson"
If you follow the instructions in setup, you will end up with two directories, "data" and "code". The data needed for the lesson are of course in the "data" directory. However in the lesson, it is assumed that your code is in the same directory as the data, you are using. This is of course possible, but working on code in the "data" directory seems counterintuitive. Either the lessons should be ch

[2022-10-13 10:12] JamesAllsopp commented on #974
There's also one practical use for this idiom, such as when you're using the break command. If you want to search a list for the first occurrence of a value.

[2022-10-17 03:36] DamienIrving commented on #979
Thanks, @maxim-belkin. I've had a go at removing jargon (or at least explaining it before using it) and also removing any suggestion that this stuff is simple.

@noatgnu, @ineelhere, @tobyhodges - is there anything else I can do to progress the PR at #981?

[2022-10-19 15:09] JamesAllsopp commented on #1013
This is a numerical precision thing for floating point numbers. I think this is appropriate as talking about floating point numbers being an approximation to reality is going to massively add cognitive load and complicate things. This is where footnotes would be really useful.

[2022-10-19 15:27] JamesAllsopp commented on #1012
Propose that;
[code]
be changed to:
[code]

This works if the element is not empty, handles floating point, and doesn't use exceptions. I'll add a MR for this later if people think this is better,

This shows the testing and demonstrates the original error;
[code]

[2022-11-01 14:57] nigeldgreen opened #1019 "potential bugs spotted in lesson 2 text"
Hi,

I have just been a helper on this course and noticed a couple of issues that may need amending (detail below). Hope this is OK raised as an issue, very happy to put in as a PR if that is a better way of doing it.

Nigel

### Episode 2, about 2/3 of the way down
Text says: "To support this functionality, most array functions allow us to specify the axis we want to work on. If we ask for the av

[2022-11-01 15:44] airalcorn2 opened #1020 "Use f-strings"
I think the lesson would benefit from switching to f-strings for `print` statements. E.g., the line [here](https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html#built-in-python-functions):

[code]

would become:

[code]

f-strings are typically more readable and easier to work with than other printing options.

[2022-11-06 01:58] NidhiGowdra opened #1021 "Issues with filepaths"
Some users might have trouble reading data if they use relative paths after downloading and extracting the dataset provided in setup.

Good to add a note of using Absolute paths.

Relative paths:
numpy.loadtxt("inflammation-01.csv")

Absolute Paths:
Windows:
numpy.loadtxt("D:\\python-novice-inflammation-data\\data\\inflammation-01.csv")
or
numpy.loadtxt(r"D:\python-novice-inflammation-data\data\in

[2022-11-07 00:00] Rahmyyy opened #1022 "Online coding environment for Python-novice-inflamation"
Issue Summary:
There is no current options for accessing this lesson using online python environments such as google colab or jupyter binder

Issue Details:
Accessibility in using python has improved with access to python environments through the web browser such as using google colab or Jupiter binder. Learners can access these environments without the need to go through installation on specific